<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>

<div id="content" class="container">
    <div class="row" style="margin-top:2%;">
        <div class="span6 offset3">
            <% flash.each do |key, value| %>
                <div class="alert alert-block alert-<%= key %> fade in">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="alert-heading"><%= key.capitalize %></h4><!-- or try .upcase -->
                    <p><%= value %></p>
                </div>
            <% end %>
        </div><!-- /span6 -->
    </div><!-- /row -->
    <div class="row" style="margin-top:2%;" id="pagetop">
        <%= render 'shared/social_invite_header' %>
    </div><!-- /row -->
    <div class="row" style="margin-top:2%;">
        <div class="span8 offset2">
            <div class="well well-large">
                <%= form_tag("/invite/sendemail", :method => "post", :class => "form-horizontal", :remote => true) do %>
                    <div class="control-group">
                        <%= label_tag(:to, "To:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_field_tag(:to, nil, :placeholder => "To", :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag(:message, "Message:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_area_tag(:message, nil, :placeholder => "Hey, check out brandbuddee.com! You can discover cool things in your city, score points for sharing, and earn rewards.", :class => "", :rows => 5, :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <%= submit_tag("Invite", :class => "btn btn-large btn-info") %>
                        </div>
                    </div>
                <% end %>
            </div><!-- /well -->
        </div><!-- /span6 -->
    </div><!-- /row -->
    <div class="row" style="padding-bottom:5%;">
        <div class="span12">
            <div><!-- bb video -->
                <h2 style="text-align:center;color:#7f7f7f;margin-top:3%;">How brandbuddee works</h2>
                <div style="text-align:center;">
                    <iframe style="border: 1px solid grey;" width="560" height="315" src="http://www.youtube.com/embed/qz69Xh6NRTE" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div><!-- /bb video -->
        </div><!-- /span12 -->
    </div><!-- /row -->
</div> <!-- .container -->
<%= render 'shared/footer' %>



    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>




    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="js/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="js/functions.min.js?v=2"></script>
