<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>

<div id="content" class="container">
	<div class="row" style="margin-top:2%;">
		<div class="span12">
			<h2 style="text-align:center">Invite Your Friends To Earn Rewards on brandbuddee</h2>
			<div style="text-align:center;">				
				<%= link_to(image_tag("facebook.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Facebook"), "/invite/facebook") %>
				<%= link_to(image_tag("twitter.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Twitter"), "/invite/twitter") %>
			</div><!-- /Social Images -->
            <div style="text-align:center;margin-top:0.5%;">
                <%= link_to(image_tag("email.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Email"), "/invite/email") %>
                <%= link_to(image_tag("gmail.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Gmail"), "/contacts/gmail") %>
                <%= link_to(image_tag("yahoo.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Yahoo"), "/contacts/yahoo") %>
            </div><!-- /Social Images Row 2 -->
		</div><!-- /span12 -->
	</div><!-- /row -->
	<div class="row" style="margin-top:2%;" id="followerslist">
        <div class="span6">
            <div class="well well-large">
                <% if current_user %>
                	<% if @contacts.size < 1 %>
                		<p>No Contacts Found!</p>
                	<% else %>
						<ul class="inviteprofilelist">
                        	<% @counter = 0 %>
                        	<% @contacts.each do |contact| %>
                        		<% if @counter==(@contacts.size / 2).floor %>
                                    </ul>
                                </div><!-- /well -->
                            </div><!-- /span6 -->
                            <div class="span6">
                                <div class="well well-large">
                                    <ul class="inviteprofilelist">
                                <% end %>
								<li class="inviteprofilelist"><strong class="inviteprofilelist"><%= contact[:name] %><br><%= contact[:email] %></strong><%= link_to "Invite", "/invite/sendgmail?email=#{contact[:email]}", class: "btn btn-transmorphed-2 pull-right yahoogmaillist", id: "btnSend#{contact[:email]}", remote: true %></li>
								<% @counter += 1 %>
							<% end %>
						</ul>
                    <% end %>
                <% else %>
                    <h3 style="text-align:center;">You must be <a data-toggle="modal" href="#login">Logged In</a> to invite your friends through Facebook!</h3>
                <% end %>
            </div><!-- /well -->
        </div><!-- /span6 -->
    </div><!-- /row -->
	<div class="row" style="padding-bottom:5%;">
		<div class="span12">
			<div><!-- bb video -->
				<h2 style="text-align:center;color:#7f7f7f;margin-top:3%;">How brandbuddee works</h2>
				<div style="text-align:center;">
					<iframe style="border: 1px solid grey;" width="560" height="315" src="http://www.youtube.com/embed/qz69Xh6NRTE" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div><!-- /bb video -->
		</div><!-- /span12 -->
	</div><!-- /row -->
</div> <!-- .container -->
<%= render 'shared/footer' %>
<div id="emailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body" id="myModalBody">
        
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>




    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>




    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="js/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="js/functions.min.js?v=2"></script>
