<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>

<div id="content" class="container">
	<div class="row" style="margin-top:2%;">
		<div class="span12">
			<h2 style="text-align:center">Invite Your Friends To Earn Rewards on brandbuddee</h2>
			<div style="text-align:center;">				
				<%= link_to(image_tag("facebook.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Facebook"), "/invite/facebook") %>
				<%= link_to(image_tag("twitter.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Twitter"), "/invite/twitter") %>
			</div><!-- /Social Images -->
            <div style="text-align:center;margin-top:0.5%;">
                <%= link_to(image_tag("email.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Email"), "/invite/email") %>
                <%= link_to(image_tag("gmail.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Gmail"), "/contacts/gmail") %>
                <%= link_to(image_tag("yahoo.png", :size => "230x44", :alt => "seattle-rewards", :title => "Tell Friends by Yahoo"), "/contacts/yahoo") %>
            </div><!-- /Social Images Row 2 -->
		</div><!-- /span12 -->
	</div><!-- /row -->
	<div class="row" style="margin-top:2%;">
        <div class="span8 offset2">
            <div class="well well-large">
                <%= form_tag("/invite/sendemail3", :method => "post", :class => "form-horizontal") do %>
                    <div class="control-group">
                        <%= label_tag(:to, "To:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_field_tag(:to, params[:email], :placeholder => "To", :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag(:subject, "Subject:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_field_tag(:subject, nil, :placeholder => "Subject", :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag(:message, "Message:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_area_tag(:message, nil, :placeholder => "Hey, check out brandbuddee.com! You can discover cool things in your city, score points for sharing, and earn rewards.", :class => "", :rows => 5, :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <%= submit_tag("Invite", :class => "btn btn-large btn-info") %>
                        </div>
                    </div>
                <% end %>
            </div><!-- /well -->
        </div><!-- /span6 -->
    </div><!-- /row -->
	<div class="row" style="padding-bottom:5%;">
		<div class="span12">
			<div><!-- bb video -->
				<h2 style="text-align:center;color:#7f7f7f;margin-top:3%;">How brandbuddee works</h2>
				<div style="text-align:center;">
					<iframe style="border: 1px solid grey;" width="560" height="315" src="http://www.youtube.com/embed/qz69Xh6NRTE" frameborder="0" allowfullscreen=""></iframe>
				</div>
			</div><!-- /bb video -->
		</div><!-- /span12 -->
	</div><!-- /row -->
</div> <!-- .container -->
<%= render 'shared/footer' %>



    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>




    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="js/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="js/functions.min.js?v=2"></script>
