<%= render 'shared/header' %>

<div class="container main_container">

	<div class="login-form-wrap well">
		<h2>Login</h2>

		<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert">×</button>
			<%= flash[:notice] %>
		</div> <!-- .alert -->
		<% end %>

		<p style="text-align:center;"><a rel="external" href="/auth/facebook"><%= image_tag('facebook_login.png', :class=>"social_login", :alt=>"facebook-login", :size=>"230x44") %></a>
		<a rel="external" href="/auth/twitter"><%= image_tag('twitter_login.png', :class=>"social_login", :alt=>"twitter-login", :size=>"230x44") %></a></p>
		
		<div class="login-form">

			<div class="email-signup">
				<%= form_tag url_for(:action => 'email_create') do %>
				<p>
					<%= text_field_tag :email, params[:email], :class=>"signin-field signin-default", :placeholder=>"Email" %>
				</p>
				<p style="margin-bottom:0;">
					<%= password_field_tag :password, nil, :class=>"signin-field", :placeholder=>"Password" %>
				</p>
				<p class="button"><%= submit_tag "Login", :class=>"signin-btn btn" %></p>
				<a href="/signup" style="display:block;margin-bottom:10px;">Don't have an account? Signup!</a>
				<% end %>
			</div> <!-- .email-signup -->
		</div> <!-- .login-form -->
		
	</div> <!-- .login-form-wrap -->
	
</div><!--/.container-->