	<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	

	<%= render 'shared/admin_header' %>
	
		<div class="container-fluid">
		<div class="row-fluid">


			<%= render 'shared/admin_side' %>
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			

			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="/admin">Dashboard</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Brands</a>
					</li>
				</ul>
				<hr>
			</div>

			<p><a class="btn btn-mini" data-toggle="modal" href="#create_brand" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Brand</a></p>
			
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-bookmark"></i><span class="break"></span>Brands </h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">

						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								<th>ID</th>
						    	<th>Date</th>
						    	<th>Name</th>
						    	<th>Bio</th>
						    	<th>Website</th>
						    	<th>Facebook</th>
						    	<th>Twitter</th>
						    	<th>Pinterest</th>
						    	<th>Campaigns</th>
								<th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>

						  	<% @brands.each do |u| %>
							<tr>
								<td><%= u._id %></td>
						    	<td><%= u.date %></td>
						    	<td><%= u.name %></td>
						    	<td><%= u.bio %></td>
						    	<td><%= u.website %></td>
						    	<td><%= u.facebook %></td>
						    	<td><%= u.twitter %></td>
						    	<td><%= u.pinterest %></td>
						    	<td>
						    		<% u.campaigns.each do |b| %>
						    			<span class="label"><%= b.title %></span>
						    		<% end %>
						    	</td>
								<td class="center">
									<a class="btn btn-success" href="#">
										<i class="icon-zoom-in icon-white"></i>  
									</a>
									<a class="btn btn-info" href="/admin/brands/edit?_id=<%= u._id %>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="/admin/brand/delete?_id=<%= u._id %>">
										<i class="icon-trash icon-white"></i>
									</a>
								</td>
							</tr>
							<% end %>

						  </tbody>
					  </table>            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->


			
    
					<hr>
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		

		<%= render 'shared/admin_footer' %>
				
	</div><!--/.fluid-container-->



		<!-- start: JavaScript-->

		<script src="/js/admin/jquery-1.7.2.min.js"></script>
		<script src="/js/admin/jquery-ui-1.8.21.custom.min.js"></script>
	
	
		<script src="/js/admin/jquery.cookie.js"></script>
	
		<script src='/js/admin/fullcalendar.min.js'></script>
	
		<script src='/js/admin/jquery.dataTables.min.js'></script>

		<script src="/js/admin/excanvas.js"></script>
		<script src="/js/admin/jquery.flot.min.js"></script>
		<script src="/js/admin/jquery.flot.pie.min.js"></script>
		<script src="/js/admin/jquery.flot.stack.js"></script>
		<script src="/js/admin/jquery.flot.resize.min.js"></script>
	
		<script src="/js/admin/jquery.chosen.min.js"></script>
	
		<script src="/js/admin/jquery.uniform.min.js"></script>
		
		<script src="/js/admin/jquery.cleditor.min.js"></script>
	
		<script src="/js/admin/jquery.noty.js"></script>
	
		<script src="/js/admin/jquery.elfinder.min.js"></script>
	
		<script src="/js/admin/jquery.raty.min.js"></script>
	
		<script src="/js/admin/jquery.iphone.toggle.js"></script>
	
		<script src="/js/admin/jquery.uploadify-3.1.min.js"></script>
	
		<script src="/js/admin/jquery.gritter.min.js"></script>
	
		<script src="/js/admin/jquery.imagesloaded.js"></script>
	
		<script src="/js/admin/jquery.masonry.min.js"></script>
	
		<script src="/js/admin/jquery.knob.js"></script>
	
		<script src="/js/admin/jquery.sparkline.min.js"></script>

		<script src="/js/admin/custom.js"></script>


		<script type="text/javascript">


		</script>
		<!-- end: JavaScript-->


<div class="modal fade" id="create_brand">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Brand</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @brand = Brand.new %>
   <%= form_for @brand, :url => url_for(:controller => 'admin', :action => 'brand_new') do |f| %>
   	<p class="span3">
      <%= f.label :name, :class=>'' %>
      <%= f.text_field :name, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :bio, :class=>'' %>
      <%= f.text_area :bio, :class=>'', :rows => '4' %>
    </p>
    <p class="span3">
      <%= f.label :website, :class=>'' %>
      <%= f.text_field :website, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :facebook, :class=>'' %>
      <%= f.text_field :facebook, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :twitter, :class=>'' %>
      <%= f.text_field :twitter, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :pinterest, :class=>'' %>
      <%= f.text_field :pinterest, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :gplus, :class=>'' %>
      <%= f.text_field :gplus, :class=>'' %>
    </p>

    <%= hidden_field_tag(:date, Time.now, :name=>'brand[date]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->