	<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	

	<%= render 'shared/admin_header' %>
	
		<div class="container-fluid">
		<div class="row-fluid">


			<%= render 'shared/admin_side' %>
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			

			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="/admin">Dashboard</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Campaigns</a>
					</li>
				</ul>
				<hr>
			</div>

			<% if flash[:notice].nil? %><% else %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">×</button>
					<%= flash[:notice] %>
				</div> <!-- .alert -->
			<% end %>

			<p><a class="btn btn-mini" data-toggle="modal" href="#create_campaign" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Campaign</a></p>
			
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-bullhorn"></i><span class="break"></span>Campaigns</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Title</th>
								  <th>Date Created</th>
<!-- 								  <th>Last Updated</th> -->
								  <th>Brand</th>
								  <th>Location</th>
								  <th>Status</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>

						  	<% @campaigns.each do |c| %>
							<tr>
								<td><%= c.title %></td>
								<td class="center"><%= c.date %> <span class="label"><%= time_ago_in_words(c.date) + " ago" unless c.date.nil? %></span></td>
<!-- 								<td class="center"><% unless c.last_updated.nil? %><span class="label"><%= time_ago_in_words(c.last_updated) + " ago" %></span><% end %></td> -->
								<td class="center"><%= c.brand.name unless c.brand.nil? %></td>
								<td class="center"><%= c.location.city unless c.location.nil? %></td>
								<td class="center">
									<span class="label <% if c.status == 'active' %>label-success<% elsif c.status == 'expired' %>label-important<% end %>"><%= c.status %></span>
								</td>
								<td class="center">
									<a class="btn btn-success" href="/admin/campaign/view?_id=<%= c._id %>">
										<i class="icon-zoom-in icon-white"></i>  
									</a>
									<a class="btn btn-info" href="/admin/campaign/edit?_id=<%= c._id %>">
										<i class="icon-edit icon-white"></i>  
									</a>
									<a class="btn btn-danger" href="/admin/campaign/delete?_id=<%= c._id %>">
										<i class="icon-trash icon-white"></i> 
									</a>
								</td>
							</tr>
							<% end %>


						  </tbody>
					  </table>            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->


			
    
					<hr>
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		

		<%= render 'shared/admin_footer' %>
				
	</div><!--/.fluid-container-->



		<!-- start: JavaScript-->

		<script src="/js/admin/jquery-1.7.2.min.js"></script>
		<script src="/js/admin/jquery-ui-1.8.21.custom.min.js"></script>
	
	
		<script src="/js/admin/jquery.cookie.js"></script>
	
		<script src='/js/admin/fullcalendar.min.js'></script>
	
		<script src='/js/admin/jquery.dataTables.min.js'></script>

		<script src="/js/admin/excanvas.js"></script>
		<script src="/js/admin/jquery.flot.min.js"></script>
		<script src="/js/admin/jquery.flot.pie.min.js"></script>
		<script src="/js/admin/jquery.flot.stack.js"></script>
		<script src="/js/admin/jquery.flot.resize.min.js"></script>
	
		<script src="/js/admin/jquery.chosen.min.js"></script>
	
		<script src="/js/admin/jquery.uniform.min.js"></script>
		
		<script src="/js/admin/jquery.cleditor.min.js"></script>
	
		<script src="/js/admin/jquery.noty.js"></script>
	
		<script src="/js/admin/jquery.elfinder.min.js"></script>
	
		<script src="/js/admin/jquery.raty.min.js"></script>
	
		<script src="/js/admin/jquery.iphone.toggle.js"></script>
	
		<script src="/js/admin/jquery.uploadify-3.1.min.js"></script>
	
		<script src="/js/admin/jquery.gritter.min.js"></script>
	
		<script src="/js/admin/jquery.imagesloaded.js"></script>
	
		<script src="/js/admin/jquery.masonry.min.js"></script>
	
		<script src="/js/admin/jquery.knob.js"></script>
	
		<script src="/js/admin/jquery.sparkline.min.js"></script>

		<script src="/js/admin/custom.js"></script>


		<script type="text/javascript">


		</script>
		<!-- end: JavaScript-->


<div class="modal fade" id="create_campaign">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Campaign</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @campaign = Campaign.new %>
   <%= form_for @campaign, :url => url_for(:controller => 'admin', :action => 'campaign_new'), :html => {:multipart => true} do |f| %>
    <p>
      <%= f.label :title, :class=>'' %>
      <%= f.text_field :title, :class=>'' %>
    </p>
    <p>
      <%= f.label :detail, :class=>'' %>
      <%= f.text_area :detail, :class=>'', :rows => '4' %>
    </p>
    <p>
      <%= f.label :campaign_image, :class=>'' %>
      <%= f.file_field :campaign_image, :class=>'' %>
    </p>
    <p>
      <%= f.label :date_end, 'Campaign End Date', :class=>'' %>
      <span class="span2 date_time_year">
        <%= f.label :date_year, 'Year', :class=>'' %>
        <%#= f.file_field :date_year, :class=>'' %>
        <%= select_tag "date_year", "<option value='2013'>2013</option>".html_safe, :class => 'span2' %>
      </span>

      <span class="span1 date_time_month">
        <%= f.label :date_month, 'Month', :class=>'' %>
        <%= select_tag :date_month, "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_day">
        <%= f.label :date_day, 'Day', :class=>'' %>
        <%= select_tag "date_day", "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_hour">
        <%= f.label :date_hour, 'Hour', :class=>'' %>
        <%= select_tag "date_hour", "<option value='00'>00</option><option value='01'>01</option><option value='02'>02</option><option value='03'>03</option><option value='04'>04</option><option value='05'>05</option><option value='06'>06</option><option value='07'>07</option><option value='08'>08</option><option value='09'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_min">
        <%= f.label :date_minute, 'Minutes', :class=>'' %>
        <%= select_tag "date_minute", "<option value='00'>00</option><option value='30'>30</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>
    </p><br><br><br><br>
    <p>
      <%= f.label :location, 'Location', :class=>'' %>
      <%= select_tag "location", options_from_collection_for_select(@location_all, "id", "city"), :prompt => "- Select Location -" %>
    </p>
    <p>
      <%= f.label :share_link, :class=>'' %>
      <%= f.text_field :share_link, :class=>'' %>
    </p>
    <p>
      <%= f.label :points_required, :class=>'' %>
      <%= f.text_field :points_required, :class=>'' %>
    </p>
    <p>
      <%= f.label :limit, :class=>'' %>
      <%= f.text_field :limit, :class=>'' %>
    </p>
    <p>
      <%= f.label :tweet, 'Tweet', :class=>'' %>
      <%= f.text_area :tweet, :class=>'', :rows => '3', :placeholder => 'Leave blank to use default campaign title as tweet.' %>
    </p>
    <p>
      <%= f.label :reward, :class=>'' %>
      <%= f.text_field :reward, :class=>'span6' %>
    </p>
    <p>
      <%= f.label :redeem_details, :class=>'' %>
      <%= f.text_field :redeem_details, :class=>'span6' %>
    </p>

    <%= select_tag "brands", options_from_collection_for_select(@brand_all, "id", "name"), :prompt => "- Select Brand -" %>

    <%= select_tag "categories", options_from_collection_for_select(@category_all, "id", "name"), :prompt => "- Select Category -" %>

    <%= hidden_field_tag(:date, Time.now, :name=>'campaign[date]') %>
    <%= hidden_field_tag(:link, @link, :name=>'campaign[link]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->