<%= content_for :additional_link_tags, stylesheet_link_tag("/css/admin/datetimepicker.css") %>
	<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	

	<%= render 'shared/admin_header' %>
	
		<div class="container-fluid">
		<div class="row-fluid">


			<%= render 'shared/admin_side' %>
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a title="sweepstakes contests giveaways brandbuddee" href="http://www.enable-javascript.com/" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			

			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="/admin">Dashboard</a> <span class="divider">/</span>
					</li>
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="/admin/campaigns">Campaigns</a> <span class="divider">/</span>
					</li>
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">Edit</a>
					</li>
				</ul>
				<hr>
			</div>

			<% flash.each do |name, msg| %>
				<div class="row">
					<div class="span6 offset3">
						<div class="alert alert-<%= name %> fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<%= msg.html_safe %>
						</div>
					</div>
				</div>
			<% end %>
			
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="icon-edit"></i><span class="break"></span>Edit Campaign</h2>
						<div class="box-icon">
							<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content form-horizontal">

						  <fieldset>

						  	<div class="control-group" style="margin-top:15px;">
							  <label class="control-label" for="fileInput">Current Image</label>
							  <div class="controls">
								<%= image_tag(@campaign.campaign_image_url(:standard).to_s, :alt =>"#{@campaign.brand.name.parameterize}-brandbuddee", :title => "#{@campaign.brand.name.parameterize} brandbuddee") %>
							  </div>
							</div>

							<%= form_for @campaign, :url => url_for(:controller => 'admin', :action => 'update_campaign'), :html => {:multipart => true} do |f| %>


						    <div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :title, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_field :title, :class=>'span6' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :detail, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_area :detail, :class=>'span6', :rows => '7' %>
							  </div>
							</div>

							<div class="control-group">
							  <label class="control-label" for="fileInput"><%= f.label :campaign_image, :class=>'' %></label>
							  <div class="controls">
								<%= f.file_field :campaign_image, :class=>'span6 input-file uniform_on', :id=>'fileInput' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :date_end, 'Campaign End Date', class: 'control-label' %>
								<div class="controls">
									<div class="input-append date dtpCampaignEnd">
										<%= text_field :date_end, nil, value: @campaign.end_date.strftime("%Y-%m-%d %H:%M") %>
										<span class="add-on"><i class="icon-remove"></i></span>
										<span class="add-on"><i class="icon-th"></i></span>
									</div>
									<div class="pull-right" style="margin-right:45%;">
										<% if @campaign.end_date > Time.now %>
											<span class="badge badge-info"><%= time_ago_in_words(@campaign.end_date) + ' left' %></span>
										<% else %>
											<span class="badge badge-important">Campaign Ended</span>
										<% end %>
									</div>
								</div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :points_required, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_field :points_required, :class=>'span1' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :limit, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_field :limit, :class=>'span1' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :tweet, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_area :tweet, :class=>'span6', :rows => '3' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :reward, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_field :reward, :class=>'span6' %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :is_white_label, "Should this Campaign be White Label?", class: "control-label" %>
								<div class="controls">
									<label for="campaign_is_white_label" class="checkbox">
										<%= f.check_box :is_white_label %> Yes
									</label>
								</div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea">Location</label>
							  <div class="controls">
								<% current_location_id = @campaign.location.id unless @campaign.location.nil? %>
						      	<%= f.select :location, options_from_collection_for_select(@location_all, "id", "city", current_location_id), :prompt => "- Select New Location -" %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
							  <label class="control-label" for="textarea"><%= f.label :share_link, :class=>'' %></label>
							  <div class="controls">
								<%= f.text_field :share_link, :class=>'span6', :placeholder => "Must Start With http:// or https://" %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_name, "Redeem Contact Name", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :redeem_name %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_email, "Redeem Contact Email", class: "control-label" %>
								<div class="controls">
									<%= f.email_field :redeem_email %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_phone, "Redeem Contact Phone (OPTIONAL)", class: "control-label" %>
								<div class="controls">
									<%= f.telephone_field :redeem_phone %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_value, "Redeem Monetary Value of Primary Reward", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :redeem_value %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_expires, "Redeem Expiration Date", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :redeem_expires %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_event_date, "Redeem Event Date (OPTIONAL)", class: "control-label" %>
								<div class="controls">
									<%= f.text_field :redeem_event_date %>
								</div>
							</div>

							<div class="control-group hidden-phone">
    							<%= f.label :redeem_is_raffle, "Is the Primary Reward a Raffle?", class: "control-label" %>
    							<div class="controls">
							    	<label for="campaign_redeem_is_raffle_true">Yes, it is a Raffle<%= f.radio_button :redeem_is_raffle, "true" %></label>
							    	<label for="campaign_redeem_is_raffle_false">No, it is Not a Raffle<%= f.radio_button :redeem_is_raffle, "false" %></label>
							    </div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :redeem_special_circ, "Redeem Special Circumstances (OPTIONAL)", class: "control-label" %>
								<div class="controls">
									<%= f.text_area :redeem_special_circ, rows: 4, maxlength: 5000, placeholder: "Max  5000 Chars", id: "txtSpecialCircum" %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<label class="control-label">Current Brand</label>
								<div class="controls">
									<div id="brand_value" class="date_times" style="margin-top:0.5%;"><%= @campaign.brand.name unless @campaign.brand.nil? || @campaign.brand.name.nil? %></div>
						    	</div>
						    </div>

							<div class="control-group hidden-phone choose_brand_name">
							  <label class="control-label" for="textarea">Brand</label>
							  <div class="controls">
								<%= select_tag :brand, options_from_collection_for_select(@brand_all, "id", "name"), :prompt => "- Select Brand -" %>
							  </div>
							</div>

							<div class="control-group hidden-phone">
								<label class="control-label">Current Category</label>
								<div class="controls">
						    		<div style="margin-top:0.5%;" id="category_value" class="date_times"><% @campaign.categories.each do |c| %><%= c.name unless @campaign.categories.nil? || @campaign.categories.nil? %><% end %></div>
						    	</div>
						    </div>

							<div class="control-group hidden-phone choose_category_name">
							  <label class="control-label" for="textarea">Category</label>
							  <div class="controls">
								<%= select_tag :category, options_from_collection_for_select(@category_all, "id", "name"), :prompt => "- Select Category -" %>
							  </div>
							</div>

							<hr />
							<h2>Tasks:</h2>
							<br />
							<label for="chkBlogPost" style="font-size:16px;font-weight:bold;">Use Write A Blog Post <input type="checkbox" name="task_blog_post[0]" id="chkBlogPost" value="UPDATE" <% unless @campaign.task_blog_post["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_blog_post_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_blog_post", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_blog_post["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_blog_post_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_blog_post", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_blog_post["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_blog_post_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_blog_post", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_blog_post["points"] %>
								</div>
							</div>

							<label for="chkYelpReview" style="font-size:16px;font-weight:bold;">Use Yelp Review / Image Contest <input type="checkbox" name="task_yelp[0]" id="chkYelpReview" value="UPDATE" <% unless @campaign.task_yelp["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_yelp_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_yelp", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_yelp["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_yelp_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_yelp", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_yelp["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_yelp_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_yelp", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_yelp["points"] %>
								</div>
							</div>

							<label for="chkEmailSubscription" style="font-size:16px;font-weight:bold;">Use Write Email Subscription <input type="checkbox" name="task_email_subscription[0]" id="chkEmailSubscription" value="UPDATE" <% unless @campaign.task_email_subscription["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_email_subscription_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_email_subscription", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_email_subscription["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_email_subscription_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_email_subscription", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_email_subscription["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_email_subscription_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_email_subscription", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_email_subscription["points"] %>
								</div>
							</div>

							<label for="chkFacebook" style="font-size:16px;font-weight:bold;">Use Like On Facebook <input type="checkbox" name="task_facebook[0]" id="chkFacebook" value="UPDATE" <% unless @campaign.task_facebook["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_facebook_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_facebook", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_facebook["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_facebook_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_facebook", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_facebook["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_facebook_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_facebook", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_facebook["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_facebook_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_facebook", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_facebook["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkFacebookEngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkFacebookEngageLeft" name="engagement_tasks[left]" value="Facebook" <% unless @campaign.engagement_tasks["left"] != "Facebook" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkFacebookEngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkFacebookEngageRight" name="engagement_tasks[right]" value="Facebook" <% unless @campaign.engagement_tasks["right"] != "Facebook" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkTwitter" style="font-size:16px;font-weight:bold;">Use Follow On Twitter <input type="checkbox" name="task_twitter[0]" id="chkTwitter" value="UPDATE" <% unless @campaign.task_twitter["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_twitter_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_twitter", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_twitter["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_twitter_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_twitter", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_twitter["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_twitter_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_twitter", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_twitter["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_twitter_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_twitter", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_twitter["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkTwitterEngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkTwitterEngageLeft" name="engagement_tasks[left]" value="Twitter" <% unless @campaign.engagement_tasks["left"] != "Twitter" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkTwitterEngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkTwitterEngageRight" name="engagement_tasks[right]" value="Twitter" <% unless @campaign.engagement_tasks["right"] != "Twitter" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkCustom1" style="font-size:16px;font-weight:bold;">Use Custom Task #1 <input type="checkbox" name="task_custom_1[0]" id="chkCustom1" value="UPDATE" <% unless @campaign.task_custom_1["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_1_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_custom_1", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_custom_1["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_1_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_custom_1", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_custom_1["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_1_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_custom_1", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_custom_1["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_1_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_custom_1", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_custom_1["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkCustom1EngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom1EngageLeft" name="engagement_tasks[left]" value="Custom1" <% unless @campaign.engagement_tasks["left"] != "Custom1" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkCustom1EngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom1EngageRight" name="engagement_tasks[right]" value="Custom1" <% unless @campaign.engagement_tasks["right"] != "Custom1" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkCustom2" style="font-size:16px;font-weight:bold;">Use Custom Task #2 <input type="checkbox" name="task_custom_2[0]" id="chkCustom2" value="UPDATE" <% unless @campaign.task_custom_2["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_2_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_custom_2", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_custom_2["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_2_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_custom_2", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_custom_2["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_2_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_custom_2", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_custom_2["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_2_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_custom_2", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_custom_2["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkCustom2EngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom2EngageLeft" name="engagement_tasks[left]" value="Custom2" <% unless @campaign.engagement_tasks["left"] != "Custom2" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkCustom2EngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom2EngageRight" name="engagement_tasks[right]" value="Custom2" <% unless @campaign.engagement_tasks["right"] != "Custom2" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkCustom3" style="font-size:16px;font-weight:bold;">Use Custom Task #3 <input type="checkbox" name="task_custom_3[0]" id="chkCustom3" value="UPDATE" <% unless @campaign.task_custom_3["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_3_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_custom_3", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_custom_3["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_3_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_custom_3", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_custom_3["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_3_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_custom_3", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_custom_3["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_3_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_custom_3", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_custom_3["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkCustom3EngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom3EngageLeft" name="engagement_tasks[left]" value="Custom3" <% unless @campaign.engagement_tasks["left"] != "Custom3" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkCustom3EngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom3EngageRight" name="engagement_tasks[right]" value="Custom3" <% unless @campaign.engagement_tasks["right"] != "Custom3" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkCustom4" style="font-size:16px;font-weight:bold;">Use Custom Task #4 <input type="checkbox" name="task_custom_4[0]" id="chkCustom4" value="UPDATE" <% unless @campaign.task_custom_4["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_4_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_custom_4", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_custom_4["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_4_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_custom_4", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_custom_4["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_4_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_custom_4", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_custom_4["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_4_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_custom_4", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_custom_4["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkCustom4EngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom4EngageLeft" name="engagement_tasks[left]" value="Custom4" <% unless @campaign.engagement_tasks["left"] != "Custom4" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkCustom4EngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom4EngageRight" name="engagement_tasks[right]" value="Custom4" <% unless @campaign.engagement_tasks["right"] != "Custom4" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<label for="chkCustom5" style="font-size:16px;font-weight:bold;">Use Custom Task #5 <input type="checkbox" name="task_custom_5[0]" id="chkCustom5" value="UPDATE" <% unless @campaign.task_custom_5["use_it"] != true %>checked="checked"<% end %> /></label>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_5_1" style="cursor:text;">Task Title</label>
								<div class="controls">
									<%= text_field "task_custom_5", "1", :class => "span3", :placeholder => "Up To 30 Characters", :value => @campaign.task_custom_5["title"], :maxlength => 30, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_5_2" style="cursor:text;">Task Description</label>
								<div class="controls">
									<%= text_area "task_custom_5", "2", :rows => '4', :placeholder => "Up To 140 Characters", :value => @campaign.task_custom_5["description"], :maxlength => 140, :class => "txtTaskInput" %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_5_3" style="cursor:text;">Task Points</label>
								<div class="controls">
									<%= text_field "task_custom_5", "3", :class => "span3", :placeholder => "Must Be A Number", :value => @campaign.task_custom_5["points"] %>
								</div>
							</div>
							<div class="control-group hidden-phone">
								<label class="control-label" for="task_custom_5_4" style="cursor:text;">Task Link</label>
								<div class="controls">
									<%= text_field "task_custom_5", "4", :class => "span3", :placeholder => "Must start with http:// or https://", :value => @campaign.task_custom_5["link"] %>
								</div>
							</div>
							<div class="control-group hidden-phone" style="margin-left:-2%;">
								<div class="controls">
									<label class="checkbox" for="chkCustom5EngageLeft" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom5EngageLeft" name="engagement_tasks[left]" value="Custom5" <% unless @campaign.engagement_tasks["left"] != "Custom5" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Left)
									</label>
									<label class="checkbox" for="chkCustom5EngageRight" style="cursor:pointer;">
										<input type="checkbox" id="chkCustom5EngageRight" name="engagement_tasks[right]" value="Custom5" <% unless @campaign.engagement_tasks["right"] != "Custom5" %>checked="checked"<% end %>> Add To Engagement Bar Position 1 (Right)
									</label>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="gift1FileInput">Current Gift Image 1</label>
								<div class="controls">
									<% if @campaign.gift_image.blank? %><img src="http://www.placehold.it/200x125/EFEFEF/AAAAAA&text=no+image" alt="<%= @campaign.brand.name.parameterize %>-brandbuddee" title="<%= @campaign.brand.name %> brandbuddee" width="200" height="125" style="border: 1px solid #666666;" /><% else %><%= image_tag(@campaign.gift_image_url(:thumb).to_s, :alt =>"#{@campaign.brand.name.parameterize}-brandbuddee", :title => "#{@campaign.brand.name.parameterize} brandbuddee", :style => "border: 1px solid grey;") %><% end %>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="gift1FileInput"><%= f.label :gift_image, 'Change Gift Image 1' %></label>
								<div class="controls">
									<%= f.file_field :gift_image, :id=>'gift1FileInput' %>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="gift2FileInput">Current Gift Image 2</label>
								<div class="controls">
									<% if @campaign.gift_image_two.blank? %><img src="http://www.placehold.it/200x125/EFEFEF/AAAAAA&text=no+image" alt="<%= @campaign.brand.name.parameterize %>-brandbuddee" title="<%= @campaign.brand.name %> brandbuddee" width="200" height="125" style="border: 1px solid #666666;" /><% else %><%= image_tag(@campaign.gift_image_two_url(:thumb).to_s, :alt =>"#{@campaign.brand.name.parameterize}-brandbuddee", :title => "#{@campaign.brand.name.parameterize} brandbuddee", :style => "border: 1px solid grey;") %><% end %>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="gift2FileInput"><%= f.label :gift_image_two, 'Change Gift Image 2' %></label>
								<div class="controls">
									<%= f.file_field :gift_image_two, :id=>'gift2FileInput' %>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="gift3FileInput">Current Gift Image 3</label>
								<div class="controls">
									<% if @campaign.gift_image_three.blank? %><img src="http://www.placehold.it/200x125/EFEFEF/AAAAAA&text=no+image" alt="<%= @campaign.brand.name.parameterize %>-brandbuddee" title="<%= @campaign.brand.name %> brandbuddee" width="200" height="125" style="border: 1px solid #666666;" /><% else %><%= image_tag(@campaign.gift_image_three_url(:thumb).to_s, :title => "#{@campaign.brand.name.parameterize} brandbuddee", :alt =>"#{@campaign.brand.name.parameterize}-brandbuddee", :style => "border: 1px solid grey;") %><% end %>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="gift3FileInput"><%= f.label :gift_image_three, 'Change Gift Image 3' %></label>
								<div class="controls">
									<%= f.file_field :gift_image_three, :id=>'gift3FileInput' %>
								</div>
							</div>

							<div class="control-group hidden-phone">
								<%= f.label :easy_prize, "Gift Text (Up To 120 Characters)", :class=>'control-label' %>
								<div class="controls">
									<%= f.text_field :easy_prize, :class=>'span6', :placeholder => "Up To 120 Characters", :maxlength => 120 %>
								</div>
							</div>


						    <%#= select_tag "brands", options_from_collection_for_select(@brand_all, "id", "name"), :prompt => "- Select Brand -" %>
						    <%#= select_tag "categories", options_from_collection_for_select(@category_all, "id", "name"), :prompt => "- Select Category -" %>
						    <%= hidden_field_tag(:last_updated, Time.now, :name=>'campaign[last_updated]') %>
						    <%= hidden_field_tag(:link, @campaign.link, :name=>'campaign[link]') %>
						    <%= hidden_field_tag(:campaign_id, @campaign.id, :name=>'campaign[id]') %>
						    <%#= hidden_field_tag(:campaign_link, @campaign.link, :name=>'campaign[link]') %>

						    <div class="form-actions">
							  <%= f.submit 'Save changes', :class=>"btn btn-primary" %>
							  <a title="Sweepstakes Contests Giveaways brandbuddee" href="/admin/campaigns" class="btn">Cancel</a>
							</div>
						</fieldset>
						<% end %>
						  

				</div><!--/span-->
				<br><br>
			</div><!--/row-->
			<hr>
			<!-- end: Content -->
			</div><!--/#content.span10-->
		</div><!--/fluid-row-->

		<div class="clearfix"></div>

		<%= render 'shared/admin_footer' %>

	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->
	<script src="/js/admin/jquery-1.7.2.min.js"></script>
	<script src="/js/admin/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="/js/admin/jquery.cookie.js"></script>
	<script src='/js/admin/fullcalendar.min.js'></script>
	<script src='/js/admin/jquery.dataTables.min.js'></script>
	<script src="/js/admin/excanvas.js"></script>
	<script src="/js/admin/jquery.flot.min.js"></script>
	<script src="/js/admin/jquery.flot.pie.min.js"></script>
	<script src="/js/admin/jquery.flot.stack.js"></script>
	<script src="/js/admin/jquery.flot.resize.min.js"></script>
	<script src="/js/admin/jquery.chosen.min.js"></script>
	<script src="/js/admin/jquery.uniform.min.js"></script>
	<script src="/js/admin/jquery.cleditor.min.js"></script>
	<script src="/js/admin/jquery.noty.js"></script>
	<script src="/js/admin/jquery.elfinder.min.js"></script>
	<script src="/js/admin/jquery.raty.min.js"></script>
	<script src="/js/admin/jquery.iphone.toggle.js"></script>
	<script src="/js/admin/jquery.uploadify-3.1.min.js"></script>
	<script src="/js/admin/jquery.gritter.min.js"></script>
	<script src="/js/admin/jquery.imagesloaded.js"></script>
	<script src="/js/admin/jquery.masonry.min.js"></script>
	<script src="/js/admin/jquery.knob.js"></script>
	<script src="/js/admin/jquery.sparkline.min.js"></script>
	<script src="/js/admin/custom.js"></script>
	<script src="/js/admin/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/brands/bootstrap-maxlength.min.js"></script>
	<script type="text/javascript">
		var year = $('#day_year_value').html();
		var month = $('#day_month_value').html();
		var day = $('#day_day_value').html();
		var hour = $('#day_hour_value').html();
		var min = $('#day_min_value').html();
		var brand = $('#brand_value').html();
		var category = $('#category_value').html();
		//alert($('.date_time_month').find('select').find('option:contains('+blah+')').text());
		$('.date_time_year').find('select').find('option:contains('+year+')').attr('selected', 'selected');
		$('.date_time_month').find('select').find('option:contains('+month+')').attr('selected', 'selected');
		$('.date_time_day').find('select').find('option:contains('+day+')').attr('selected', 'selected');
		$('.date_time_hour').find('select').find('option:contains('+hour+')').attr('selected', 'selected');
		$('.date_time_min').find('select').find('option:contains('+min+')').attr('selected', 'selected');
		$('.choose_brand_name').find('select').find('option:contains('+brand+')').attr('selected', 'selected');
		$('.choose_category_name').find('select').find('option:contains('+category+')').attr('selected', 'selected');
		$(document).ready(function() {
			$(".dtpCampaignEnd").datetimepicker({
				format: 'yyyy-mm-dd hh:ii',
				startDate: '<%= Time.now.year %>-01-01 10:00',
				endDate: '<%= (Time.now + 15.years).year %>-12-31 23:00',
				autoclose: true,
				startView: 4,
				todayBtn: true,
				showMeridian: true
			});
			$('#txtSpecialCircum').maxlength({
				alwaysShow: true,
				separator: ' of ',
				postText: ' chars',
				placement: 'right'
			});
			$('.txtTaskInput').maxlength({
				alwaysShow: true,
				separator: ' of ',
				postText: ' chars',
				placement: 'right'
			});
		});
	</script>
	<!-- end: JavaScript-->
