<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>

<div id="content" class="container">

      <% if params[:c].nil? %>
        <% c = Campaign.all.order_by([:date, :desc]) %>
        <% c.each do |campaign_filter| %>
            <% if campaign_filter.end_date < Time.now || campaign_filter.left == false %>
                <% campaign_filter.status = "expired" %>
                <% campaign_filter.save %>
            <% else %>
                <% campaign_filter.status = "active" %>
                <% campaign_filter.save %>
            <% end %>

            <% left_status = campaign_filter.limit - campaign_filter.redeems.size %>
            <% if left_status == 0 %>
                <% campaign_filter.left = false %>
                <% campaign_filter.save %>
            <% else %>
                <% campaign_filter.left = true %>
                <% campaign_filter.save %>
            <% end %>

        <% end %>
        <%# location feature %>
        <%# @user_location = Location.find(current_user.location.id) %> 
        <%# @campaign = @user_location.campaigns.where(:status => "active").order_by([:date, :desc]).paginate :page => params[:page], :per_page => 9 %>
        <% @campaign = Campaign.where(:status => "active").excludes(left: false).order_by([:date, :desc]).paginate :page => params[:page], :per_page => 9 %>
        <%# @campaign = Campaign.where(:status => "active").order_by([:date, :desc]).paginate :page => params[:page], :per_page => 9 %>
      <% elsif %>
        <% @category = Category.where(:name => params[:c]).first %> 
        <% @campaign = @category.campaigns.where(:status => "active").order_by([:date, :desc]).paginate :page => params[:page], :per_page => 9 %>
      <% end %>






        <div id="portfolio" style="margin-top:25px;">
            <ul id="portfolio-filter" class="nav nav-tabs">
                <li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
                <% @categories.each do |c| %>
                    
                    <li><a href="#" class="filter" data-filter=".<%= c.name %>"><% if c.name == "Technology" %>Tech<% else %><%= c.name %><% end %></a></li>

                <% end %>
            </ul>

            <% if @campaign.nil? || @campaign.blank? %>

                <div style="height:100px;"></div>

                <div class="well span5 no_campaigns_alert">
                    Unfortunately, there are no available campaigns at the moment. Please check again soon!
                </div> <!-- .no_campaigns_alert -->

                <div style="height:300px;"></div>

            <% end %>


            <div class="row" id="portfolio-items">


                      <%# @campaign.each_slice(3) do |slice| -%>
                        <div class="row">
                        <% @campaign.each do |c| %>
<!--                           <div class="thumbnails"> -->
                          <%# slice.each do |c| %>
                            <li class="span4 project" style="list-style: none outside none;" data-tags="<% c.categories.each do |cat| %><%= cat.name %><% end %>">
                              <div class="thumbnail unit-bg">
                                    <a href="/campaign/<%= c.link %>">
                                        <%= image_tag(c.campaign_image_url(:standard).to_s, :width=>"100%") %>
                                    </a>
                                    <div class="caption">
                                        <h4 class="campaign_title_wrap">
                                            <%= truncate(c.title, :length => 55, :omission => '...') %>
                                        </h4>
                                        <p class="campaign_reward_wrap">
                                            <%#= truncate(c.detail, :length => 160, :omission => '... (continued)') %>
                                            <%= truncate(c.reward, :length => 84, :omission => '... (continued)') %>
                                        </p> <!-- .campaign_reward_wrap -->

                                        <div class="dashboard_campaign_details_wrap">
                                            <p>
                                                <span class="help-block pull-right">
                                                    <small><i class="icon-tag"></i>&nbsp;<%= c.limit - c.redeems.size %> Available&nbsp;&nbsp;<i
                                                    class="icon-time"> </i>

                                                    &nbsp;
                                                    <% unless c.end_date.nil? %>
                                                        <% if c.end_date > Time.now %>
                                                            <%= time_ago_in_words(c.end_date) + ' left' %>
                                                        <% else %>
                                                            Campaign ended
                                                        <% end %>
                                                    <% end %>
                                                    </small></span>
                                            </p>
                                            <div class="clear"></div>

                                            <p class="campaign_details">
                                                <span class="pts_req_wrap">
                                                    <span class="help-inline text-highlight-small pts_req">
                                                        <%= c.points_required %>
                                                    </span>
                                                    <span class="pts_req_text">pts</span>
                                                </span> <!-- .pts_req_wrap -->
                                                <span class="view-deal">
                                                    <a href="/campaign/<%= c.link %>" class="btn btn-success">View&nbsp;<i class="icon-chevron-right icon-white"></i></a>
                                                </span> <!-- .view-deal -->
                                            </p>
                                        </div> <!-- .dashboard_campaign_details_wrap -->
                                    </div>

                                  <% @redeem = c.redeems.where(:user_id => current_user.id).first %>
                                  <% campaign_new_ribbon = Time.now - 1.week %>
                                  <% if @redeem != nil %>
                                    <div class="ribbon"><span>Awarded</span></div>
                                  <% elsif c.date > campaign_new_ribbon %>
                                    <div class="ribbon"><span style="background:#51A351;">New</span></div>
                                  <% else %>
                                  <% end %>
                                </div>
                              </li>
                          <% end %>
<!--                           </div> --> <!-- .thumbnails -->
                        </div> <!-- .row -->
                        <%# end %>
                    
            </div> <!-- #portfolio-items -->

            </div><!-- .portfolio -->
            <%= will_paginate @campaign, :class=>"pagination" %>

            

</div> <!-- .container -->



<%= render 'shared/footer' %>



    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>




    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="js/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="js/functions.min.js?v=2"></script>
