<% content_for :google_fonts_tag do %>
<link rel="stylesheet" type="text/css" href="/css/tabdrop.css">
<style type="text/css">
    #portfolio-filter li ul.dropdown-menu li a {
        background: #fff;
        color: #0088cc;
        margin-left:5%;
    }
    #portfolio-filter li ul.dropdown-menu li.active a {
        background: #222;
        color: #fff;
    }
</style>
<% end %>
<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>

<div id="content" class="container">

    <% flash.each do |name, msg| %>
    <div class="row" style="margin-top:2%;">
        <div class="span6 offset3">
            <div class="alert alert-<%= name %> fade in">
                <a title="sweepstakes contests giveaways brandbuddee" href="#" class="close" data-dismiss="alert">&times;</a>
                <%= msg %>
            </div>
        </div>
    </div>
    <% end %>

    <div id="portfolio" style="margin-top:25px;">
        <ul id="portfolio-filter" class="nav nav-tabs">
            <li<% if params[:c].blank? %> class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/home">All</a></li>
            <% @categories.each do |c| %>
                <li<% if params[:c] == c.name %> class="active"<% end %>><a title="sweepstakes contests giveaways brandbuddee" href="/home?c=<%= c.name %>"><% if c.name == "Technology" %>Tech<% else %><%= c.name %><% end %></a></li>
            <% end %>
        </ul>

        <% if @campaign.nil? || @campaign.blank? %>
            <div style="height:100px;"></div>
            <div class="well span5 no_campaigns_alert">
                Unfortunately, there are no campaigns in this category. Please check again soon!
            </div> <!-- .no_campaigns_alert -->
            <div style="height:300px;"></div>
        <% end %>

        <div class="row" id="portfolio-items">
            <%# @campaign.each_slice(3) do |slice| -%>
            <div class="row">
                <% @campaign.each do |c| %>
                <%# slice.each do |c| %>
                    <li class="span4 project" style="list-style: none outside none;" data-tags="<% c.categories.each do |cat| %><%= cat.name.gsub(/\//, "-") %><% end %>">
                        <div class="thumbnail unit-bg">
                            <a title="sweepstakes contests giveaways brandbuddee" href="/campaign/<%= c.link %>">
                                <%= image_tag(c.campaign_image_url(:standard).to_s, :alt=>"#{c.brand.name.parameterize}-brandbuddee", :title=>"#{c.brand.name} brandbuddee", :width=>"100%") %>
                            </a>
                            <div class="caption">
                                <h4 class="campaign_title_wrap">
                                    <%= truncate(c.title, :length => 55, :omission => '...') %>
                                </h4>
                                <p class="campaign_reward_wrap bb-blue" style="font-weight:bold;"><i class="icon-gift" style="font-size:1.5em;color:#555555;position:relative;top:3%;"></i>
                                    <%= truncate(c.reward, :length => 84, :omission => '... (continued)') %>
                                </p> <!-- .campaign_reward_wrap -->
                                <div class="dashboard_campaign_details_wrap">
                                    <p>
                                        <span class="help-block pull-right">
                                            <small><i class="icon-tag"></i>&nbsp;<%= c.limit - c.redeems.size %> Available&nbsp;&nbsp;<i class="icon-time"> </i>
                                                &nbsp;
                                                <% unless c.end_date.nil? %>
                                                    <% if c.end_date > Time.now %>
                                                        <%= time_ago_in_words(c.end_date) + ' left' %>
                                                    <% else %>
                                                        Campaign ended
                                                    <% end %>
                                                <% end %>
                                            </small>
                                        </span>
                                    </p>
                                    <div class="clear"></div>

                                    <p class="campaign_details">
                                        <span class="pts_req_wrap">
                                            <span class="help-inline text-highlight-small pts_req">
                                                <%= c.points_required %>
                                            </span>
                                            <span class="pts_req_text">pts</span>
                                        </span> <!-- .pts_req_wrap -->
                                        <span class="view-deal">
                                            <a title="sweepstakes contests giveaways brandbuddee" href="/campaign/<%= c.link %>" class="btn btn-success">View&nbsp;<i class="icon-chevron-right icon-white"></i></a>
                                        </span> <!-- .view-deal -->
                                    </p>
                                </div> <!-- .dashboard_campaign_details_wrap -->
                            </div><!-- /.caption -->

                            <% @redeem = c.redeems.where(:user_id => current_user.id).first %>
                            <% campaign_new_ribbon = Time.now - 1.week %>
                            <% if @redeem != nil %>
                                <div class="ribbon"><span>Awarded</span></div>
                            <% elsif c.date > campaign_new_ribbon %>
                                <div class="ribbon"><span style="background:#51A351;">New</span></div>
                            <% else %>
                            <% end %>
                        </div><!-- /.thumbnail.unit-bg -->
                    </li>
                <% end %>
            </div> <!-- .row -->
        </div> <!-- #portfolio-items -->
    </div><!-- /#portfolio -->
    <%= will_paginate @campaign, :class=>"pagination" %>
    <div class="row" style="display:none;" id="end-of-list-display">
        <div class="span6 offset3">
            <div class="alert alert-info alert-block fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <h4>This just in:</h4>
                You have reached the end of the Campaign List.
            </div>
        </div>
    </div>
</div> <!-- .container -->

<%= render 'shared/footer' %>

    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>

    <!--<script type="text/javascript" src="js/jquery.isotope.min.js?v=1"></script>-->
    <script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="js/jquery.hotkeys.min.js"></script>
    <script type="text/javascript" src="js/functions.min.js?v=3"></script>
    <script type="text/javascript" src="/js/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-tabdrop.js"></script>
    <script type="text/javascript">
        eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(1(){$(o).p(1(){b f=$("#g-e");5(f.6){$("#g-e 2.x").s({4:{y:"",c:"/v/u-t.A",z:"",r:\'B\'},q:"2.9 j i.k a",l:"2.9",n:".m",w:1(){$("#N-T-S-h").R(C)},Q:V},1(d,8){b 7=8.X.Y;W.U("O G: "+7);5(d.6%3!=0){$("#F-4 c").E("h","D")}})}})})();$(H).I(1(){$(\'.M-L\').K({J:\'P\'})});',61,61,'|function|div||loading|if|length|page|opts|pagination||var|img|newElements|items|container|portfolio|display|li|ul|next_page|navSelector|project|itemSelector|window|load|nextSelector|speed|infinitescroll|loader|ajax|assets|errorCallback|row|finishedMsg|msgText|gif|slow|1000|none|css|infscr|Page|document|ready|text|tabdrop|tabs|nav|end|Current|More|pixelsFromNavToBottom|fadeIn|list|of|log|250|console|state|currPage'.split('|'),0,{}))
    </script>
