<%= render 'shared/header' %>

<div class="container main_container" style="padding-left:0;">

      <% if flash[:notice].nil? %><% else %>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">×</button>
          <%= flash[:notice] %>
        </div> <!-- .alert -->
      <% end %>

      <% if params[:c].nil? %>
        <% @campaign = Campaign.all.order_by([:date, :desc]) %>
      <% elsif %>
        <% @category = Category.where(:name => params[:c]).first %> 
        <% @campaign = @category.campaigns.order_by([:date, :desc]) %>
      <% end %>
      

      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav left-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Categories</li>
              <li><a href="<%= root_url %>">All</a></li>
              <% @categories.each do |c| %>
                <li <% if params[:c] == c.name %> class="active" <% end %> ><a href="?c=<%= c.name %>"><%= c.name %></a></li>
              <% end %>
            </ul>
				
				<hr>
		      <footer>
		        <p>&copy; Brandbuddee 2012</p>
		      </footer>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <ul class="thumbnails">
          <% @campaign.each do |c| %>
            <a href="/campaign/<%= c.link %>">
              <li class="span3">
                <div class="thumbnail">
                  <!-- <img src="http://placehold.it/260x180" alt=""> -->
                  <%= image_tag(c.campaign_image_url(:standard).to_s) %>
                  <div class="caption">
                    <h5><%= c.title %></h5>
                    <p><%#= c.detail %>
                      <%= truncate(c.detail, :length => 102, :omission => '... (continued)') %>
                    </p>
<!--                     <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
                  </div>
                </div>
              </li>
            </a>
          <% end %>
        </ul> <!-- .thumbnails -->


        </div><!--/span-->
      </div><!--/row-->



    </div><!--/.container-->