<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>
<div class="container main_container">

	<div class="signup-form-wrap well span6 offset2">

			<% if flash[:notice].nil? %><% else %>
		        <div class="alert alert-info">
		          <button class="close" data-dismiss="alert">×</button>
		          <%= flash[:notice].html_safe %>
		        </div> <!-- .alert -->
		    <% end %>
	
			<h2>Sign Up</h2>

			<div class="social_logins">
				<a rel="external" href="/auth/facebook" class="social_link" style="margin-right:3px;"><%= image_tag('facebook_login.png', :class=>"social_login", :alt=>"facebook-login", :size=>"230x44") %></a>
				<a rel="external" href="/auth/twitter" class="social_link"><%= image_tag('twitter_login.png', :class=>"social_login", :alt=>"twitter-login", :size=>"230x44") %></a>
			</div> <!-- .social_logins -->
		
			<div class="signup-form form-horizontal span3">
				<%= form_for @user, :url => {:action => 'create'} do |f| %>
				  <% if @user.errors.any? %>
				    <div class="error_messages">
				      <h2>Form is invalid</h2>
				      <ul>
				        <% for message in @user.errors.full_messages %>
				          <li><%= message %></li>
				        <% end %>
				      </ul>
				    </div>
				  <% end %>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :first_name, 'First Name', :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :first_name, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :last_name, 'Last Name', :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :last_name, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :email, :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :email, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :password, :class=>'' %></label>
					        <div class="controls">
					          <%= f.password_field :password, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"></label>
					        <div class="controls">
					          <%= hidden_field_tag(:date, Time.now, :name=>'user[date]') %>
					          <%= hidden_field_tag(:invite, params[:invite], :name=>'invite') %>
				  			  <%= f.submit 'Signup', :class => "btn" %>
					        </div>
						</div>
					</fieldset>
				<% end %>
			</div> <!-- .signup-form -->
	</div> <!-- .signup-form-wrap -->

</div><!--/.container-->
<%= render 'shared/footer' %>