<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<%= render 'shared/header' %>
<div class="container main_container">
	<div class="row">
	<div class="span8 offset2">
		<div class="page-header">
			<h1 style="text-align:center;">Buddee Sign Up <small>enter your information below</small></h1>
		</div>
	</div>
</div>
	<div class="signup-form-wrap well span6 offset2">

			<% if flash[:notice].nil? %><% else %>
		        <div class="alert alert-info">
		          <button class="close" data-dismiss="alert">×</button>
		          <%= flash[:notice].html_safe %>
		        </div> <!-- .alert -->
		    <% end %>

			<div class="social_logins">
				<a rel="external" href="/auth/facebook" class="social_link" style="margin-right:3px;" title="Sweepstakes Contests Giveaways brandbuddee"><%= image_tag('facebook_login.png', :class=>"social_login", :alt=>"sweepstakes-contests-giveaways-brandbuddee", :title=>"Sweepstakes Contests Giveaways brandbuddee", :size=>"230x44") %></a>
				<a rel="external" href="/auth/twitter" class="social_link" title="Sweepstakes Contests Giveaways brandbuddee"><%= image_tag('twitter_login.png', :class=>"social_login", :alt=>"sweepstakes-contests-giveaways-brandbuddee", :title=>"Sweepstakes Contests Giveaways brandbuddee", :size=>"230x44") %></a>
			</div> <!-- .social_logins -->
		
			<div class="signup-form form-horizontal span3">
				<%= form_for @user, :url => {:action => 'create'} do |f| %>
				  <% if @user.errors.any? %>
				    <div class="error_messages">
				      <h2>Form is invalid</h2>
				      <ul>
				        <% for message in @user.errors.full_messages %>
				          <li><%= message %></li>
				        <% end %>
				      </ul>
				    </div>
				  <% end %>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :first_name, 'First Name', :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :first_name, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :last_name, 'Last Name', :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :last_name, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :email, :class=>'' %></label>
					        <div class="controls">
					          <%= f.text_field :email, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"><%= f.label :password, :class=>'' %></label>
					        <div class="controls">
					          <%= f.password_field :password, :class=>'' %>
					        </div>
						</div>
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"></label>
					        <div class="controls">
					          <%= hidden_field_tag(:date, Time.now, :name=>'user[date]') %>
					          <%= hidden_field_tag(:invite, params[:invite], :name=>'invite') %>
				  			  <%= f.submit 'Sign Up!', :class => "btn btn-large btn-success", :style => "font-weight:700;" %>
					        </div>
						</div>
					</fieldset>
				<% end %>
				<%= link_to("Are you a brand?", "/brands/signup", class: "btn btn-info", style: "font-weight:700;") %>
			</div> <!-- .signup-form -->			
	</div> <!-- .signup-form-wrap -->

</div><!--/.container-->
<%= render 'shared/footer' %>