<%= render 'shared/fluid_header' %>
<div style="margin-top:50px;">

<% if flash[:notice].nil? %><% else %>
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">×</button>
		<%= flash[:notice] %>
	</div> <!-- .alert -->
<% end %>

<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
<div><h2 style="font-weight:200">Total: <%= pluralize(@password_resets.size, 'Password Reset') %></h2></div>
<table class="table table-bordered table-striped table-condensed">
  <tr>
  	<th>ID</th>
  	<th>Date</th>
    <th>Reset Date</th>
  	<th>Email</th>
  	<th>Name</th>
  	<th>Status</th>
   	<th>Hash</th>
  </tr>

<% @password_resets.each do |u| %>
  <tr class="<%= cycle('odd', 'even') %>">
  	<td><%= u._id %></td>
  	<td><%= u.date %> <span class="label"><%= time_ago_in_words(u.date) + " ago" unless u.date.nil? %></span></td>
    <td><%= u.reset_date %> <span class="label"><%= time_ago_in_words(u.reset_date) + " ago" unless u.reset_date.nil? %> </span></td>
  	<td><%= u.email %></td>
  	<td><%= u.name %></td>
  	<td><%= u.status %></td>
   	<td><%= u.hash_code %></td>
  	<td><%= link_to "Delete", {:controller=>'users', :action=>'password_resets_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
</div>