<%= render 'shared/new_header' %>

<div class="container" style="margin-top:105px;">

	<div class="span5 well complete_email">

		<h2>Reset Password</h2>

		<% if flash[:notice].nil? %><% else %>
	        <div class="alert alert-info">
	          <button class="close" data-dismiss="alert">×</button>
	          <%= flash[:notice].html_safe %>
	        </div> <!-- .alert -->
	    <% end %>

		<p>Enter your email address to reset your password</p>

		<%= form_for @password_reset, :url => {:controller => 'users', :action => 'password_reset_update'} do |f| %>

			<div class="complete_email_field">
	          <%= f.text_field :email, :class=>'email_text_field pull-left input-large', :placeholder=>'email address' %>
	          <%#= link_to "Submit", {:controller=>'users', :action=>'complete_email_update'}, :class => 'btn btn-success', :id => 'complete_email_update', :value => '' %>
	        </div> <!-- .complete_email_field -->
        	<%= f.submit 'Submit', :class=>"btn btn-success btn-large pull-left", :style=>'margin-bottom:10px;margin-left:4px;' %>

		<% end %>
		<div class="clear"></div>
	
	</div> <!-- .span5-->

</div> <!-- .container -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= render 'shared/new_footer' %>

<script type="text/javascript">
	//$(".complete_email_field").find('input').val('');
</script>