<%= render 'shared/fluid_header' %>
<div style="margin-top:50px;">

<% if flash[:notice].nil? %><% else %>
	<div class="alert alert-info">
		<button class="close" data-dismiss="alert">×</button>
		<%= flash[:notice] %>
	</div> <!-- .alert -->
<% end %>

<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
<div><h2 style="font-weight:200">Total: <%= pluralize(@user.size, 'User') %></h2></div>
<table class="table table-bordered table-striped table-condensed">
  <tr>
  	<th>ID</th>
  	<th>Provider</th>
  	<th>UID</th>
  	<th>Date</th>
    <th>Last Login</th>
    <th>Last Activity</th>
  	<th>Email</th>
  	<th>Profile Image</th>
  	<th>First Name</th>
   	<th>Last Name</th>
   	<th>AccountType</th>
  	<th>Password_hash</th>
   	<th>Password_salt</th>
   	<th>Gender</th>
   	<th>Phone</th>
   	<th>City</th>
   	<th>State</th>
   	<th>Website</th>
   	<th>Bio</th>
   	<th>Campaigns</th>
   	<th>Redeems</th>
   	<th>Nickname</th>
    <th>Remove</th>
  </tr>

<% @user.each do |u| %>
  <tr class="<%= cycle('odd', 'even') %>">
  	<td><%= u._id %></td>
  	<td><%= u.provider %></td>
  	<td><%= u.uid %></td>
  	<td><%= u.date %> <span class="label"><%= time_ago_in_words(u.date) + " ago" unless u.date.nil? %></span></td>
    <td><%= u.last_login %> <span class="label"><%= time_ago_in_words(u.last_login) + " ago" unless u.last_login.nil? %> </span></td>
    <td><%= u.last_activity %> <span class="label"><%= time_ago_in_words(u.last_activity) + " ago" unless u.last_activity.nil? %> </span></td>
  	<td><%= u.email %></td>
  	<td><%= image_tag(u.profile_image_url(:thumb).to_s, :class=>"", :style=>"border-radius:100px;" ) %></td>
  	<td><%= u.first_name %></td>
  	<td><%= u.last_name %></td>
  	<td><% unless u.account_type.blank? %><span class="badge badge-inverse"><%= u.account_type %><% end %></span></td>
  	<td><%= u.password_hash.nil? %></td>
   	<td><%= u.password_salt.nil? %></td>
   	<td><%= u.gender %></td>
   	<td><%= u.phone %></td>
   	<td><%= u.city %></td>
   	<td><%= u.state %></td>
   	<td><%= u.website %></td>
   	<td><%= u.bio %></td>
   	<td>
   		<% u.campaigns.each do |c| %>
   			<span class="label"><%= c.title %></span>
   		<% end %>
   	</td>
   	<td>
   		<% u.redeems.each do |r| %>
   			<%= r.id %>
   		<% end %>
   	</td>
   	<td><b><%= u.nickname %></b></td>
  	<td><%= link_to "Delete", {:controller=>'users', :action=>'destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
</div>


<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
<div><h2 style="font-weight:200">Total: <%= pluralize(@campaign_all.size, 'Campaign') %></h2></div>
<p><a class="btn btn-mini" data-toggle="modal" href="#create_campaign" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Campaign</a></p>
<table class="table table-bordered table-striped table-condensed">
  <tr>
  	<th>ID</th>
  	<th>Date</th>
    <th>Last Updated</th>
  	<th>Brand belongs to</th>
  	<th>Title</th>
  	<th>campaign_image</th>
  	<th>Location</th>
  	<th>Points Required</th>
  	<th>Limit</th>
    <th>End Date</th>
  	<th>Categories</th>
  	<th>Users</th>
<!--   	<th>Shares</th> -->
  	<th>Page View</th>
  	<th>Unique Page Views</th>
  	<th>Link</th>
  	<th>Share Link</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>

<% @campaign_all.each do |u| %>
  <tr class="<%= cycle('odd', 'even') %>">
  	<td><%= u._id %></td>
  	<td><%= u.date %></td>
    <td><%= u.last_updated %></td>
  	<td><%#= u.brand.name %></td>
  	<td><%= u.title %></td>
  	<td><%= image_tag(u.campaign_image_url(:thumb).to_s) %></td>
  	<td><%= u.location.city unless u.location.nil? %></td>
  	<td><%= u.points_required %></td>
  	<td><%= u.limit %></td>
    <td><%= u.end_date %></td>
  	<td>
  		<% u.categories.each do |a| %>
  			<span class="label label-success"><%= a.name %></span>
  		<% end %>
  	</td>
  	<td>
  		<% u.users.each do |b| %>
  			<span class="label label-info"><%= b.first_name + ' ' + b.last_name unless b.first_name ==  nil or b.last_name == nil %></span>
  		<% end %>
  	</td>
<!--   	<td> -->
  		<%# u.shares.each do |s| %>
  			<%#= s.id %>
  		<%# end %>
<!--   	</td> -->
  	<td><%= u.page_views %></td>
  	<td><%= u.unique_page_views %></td>
  	<td><%= u.link %></td>
  	<td><%= u.share_link %></td>
    <td><%= link_to "Edit", {:controller=>'campaign', :action=>'edit_campaign', :_id => u._id}, :class => 'btn btn-small btn-success' %></td>
  	<td><%= link_to "Delete", {:controller=>'users', :action=>'campaign_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
</div>

<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
<div><h2 style="font-weight:200">Total: <%= pluralize(@brand_all.size, 'Brand') %></h2></div>
<p><a class="btn btn-mini" data-toggle="modal" href="#create_brand" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Brand</a></p>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
    	<th>ID</th>
    	<th>Date</th>
    	<th>Name</th>
    	<th>Bio</th>
    	<th>Website</th>
    	<th>Facebook</th>
    	<th>Twitter</th>
    	<th>Pinterest</th>
    	<th>Campaigns</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>

  <% @brand_all.each do |u| %>
    <tr class="<%= cycle('odd', 'even') %>">
    	<td><%= u._id %></td>
    	<td><%= u.date %></td>
    	<td><%= u.name %></td>
    	<td><%= u.bio %></td>
    	<td><%= u.website %></td>
    	<td><%= u.facebook %></td>
    	<td><%= u.twitter %></td>
    	<td><%= u.pinterest %></td>
    	<td>
    		<% u.campaigns.each do |b| %>
    			<span class="label"><%= b.title %></span>
    		<% end %>
    	</td>
      <td><%= link_to "Edit", {:controller=>'users', :action=>'edit_brand', :_id => u._id}, :class => 'btn btn-small btn-success' %></td>
    	<td><%= link_to "Delete", {:controller=>'users', :action=>'brand_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
  </table>
</div>

<div style="position:relative;left:25px;overflow:scroll;height:auto;width:97%;">
  <div><h2 style="font-weight:200">Total: <%= pluralize(@category_all.size, 'Category') %></h2></div>
  <p><a class="btn btn-mini" data-toggle="modal" href="#myModal" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Category</a></p>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
  	<th>ID</th>
  	<th>Date</th>
  	<th>Name</th>
  	<th>Campaigns</th>
    <th>Remove</th>
    </tr>

  <% @category_all.each do |u| %>
    <tr class="<%= cycle('odd', 'even') %>">
  	<td><%= u._id %></td>
  	<td><%= u.date %></td>
  	<td><%= u.name %></td>
  	<td>
  		<% u.campaigns.each do |b| %>
  			<span class="label"><%= b.title %></span>
  		<% end %>
  	</td>
  	<td><%= link_to "Delete", {:controller=>'users', :action=>'category_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
  </table>
</div>


<div style="position:relative;left:25px;overflow:scroll;height:auto;width:97%;">
  <div><h2 style="font-weight:200">Total: <%= pluralize(@location_all.size, 'Location') %></h2></div>
  <p><a class="btn btn-mini" data-toggle="modal" href="#create_location" style="margin-top:8px;margin-left:15px;"><i class="icon-plus-sign icon"></i> Create New Location</a></p>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
    <th>ID</th>
    <th>Date</th>
    <th>City</th>
    <th>State</th>
    <th>Campaigns</th>
    <th>Users</th>
    <th>Remove</th>
    </tr>

  <% @location_all.each do |u| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <td><%= u._id %></td>
    <td><%= u.date %></td>
    <td><%= u.city %></td>
    <td><%= u.state %></td>
    <td>
      <% u.campaigns.each do |b| %>
        <span class="label"><%= b.title %></span>
      <% end %>
    </td>
    <td>
      <% u.users.each do |b| %>
        <span class="label"><%= b.id %></span>
      <% end %>
    </td>
    <td><%= link_to "Delete", {:controller=>'users', :action=>'location_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
  </table>
</div>


<div style="position:relative;left:25px;overflow:scroll;height:auto;width:97%;">
  <div><h2 style="font-weight:200">Total: <%= pluralize(@share_all.size, 'Share') %></h2></div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
  	<th>ID</th>
  	<th>Date</th>
  	<th>Link</th>
  	<th>url</th>
  	<th>Page Views</th>
  	<th>Unique Page Views</th>
  	<th>Campaign</th>
  	<th>User</th>
    <th>Remove</th>
    </tr>

  <% @share_all.each do |u| %>
    <tr class="<%= cycle('odd', 'even') %>">
  	<td><%= u._id %></td>
  	<td><%= u.date %></td>
  	<td><%= u.link %></td>
  	<td><%= u.url %></td>
  	<td><%= u.page_views %></td>
  	<td><%= u.unique_page_views %></td>
  	<td><span class="label"><%= u.campaign_id %></span></td>
  	<td><span class="label label-info"><%#= u.user.first_name + ' ' + u.user.last_name unless u.user.first_name == nil or u.user.last_name == nil %>
      <%= u.user.id %></span></td>
  	<td><%= link_to "Delete", {:controller=>'users', :action=>'share_destroy', :_id => u._id}, :class => "btn btn-mini btn-danger" %></td>
    </tr>
  <% end %>
  </table>
</div>



<div style="position:relative;left:25px;overflow:scroll;height:auto;width:97%;">
  <div><h2 style="font-weight:200">Total: <%= pluralize(@redeem_all.size, 'Redeem') %></h2></div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
    	<th>ID</th>
    	<th>Date</th>
    	<th>Redeem Code</th>
    	<th>Status</th>
    	<th>Campaign</th>
    	<th>User</th>
      <th>Resend</th>
      <th>Remove</th>
    </tr>

    <% @redeem_all.each do |u| %>
      <tr class="<%= cycle('odd', 'even') %>">
    	<td><%= u._id %></td>
    	<td><%= u.date %></td>
    	<td><%= u.redeem_code %></td>
    	<td><%= u.status %></td>
    	<td><span class="label"><%= u.campaign_id %></span></td>
    	<td><span class="label label-info"><%= u.user.first_name + ' ' + u.user.last_name unless u.user.first_name ==  nil or u.user.last_name == nil %></span></td>
      <td><%= link_to "Resend", {:controller=>'campaign', :action=>'resend_redeem_confirmation_email', :_id => u._id}, :class => 'btn btn-mini btn-success' %></td>
    	<td><%= link_to "Delete", {:controller=>'users', :action=>'redeem_destroy', :_id => u._id}, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>



</div><!--/.container-->




<div class="modal fade" id="create_campaign">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Campaign</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @campaign = Campaign.new %>
   <%= form_for @campaign, :url => url_for(:controller => 'users', :action => 'create_new_campaign'), :html => {:multipart => true} do |f| %>
    <p>
      <%= f.label :title, :class=>'' %>
      <%= f.text_field :title, :class=>'' %>
    </p>
    <p>
      <%= f.label :detail, :class=>'' %>
      <%= f.text_area :detail, :class=>'', :rows => '4' %>
    </p>
    <p>
      <%= f.label :campaign_image, :class=>'' %>
      <%= f.file_field :campaign_image, :class=>'' %>
    </p>
    <p>
      <%= f.label :date_end, 'Campaign End Date', :class=>'' %>
      <span class="span2 date_time_year">
        <%= f.label :date_year, 'Year', :class=>'' %>
        <%#= f.file_field :date_year, :class=>'' %>
        <%= select_tag "date_year", "<option value='2012'>2012</option><option value='2013'>2013</option>".html_safe, :class => 'span2' %>
      </span>

      <span class="span1 date_time_month">
        <%= f.label :date_month, 'Month', :class=>'' %>
        <%= select_tag :date_month, "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_day">
        <%= f.label :date_day, 'Day', :class=>'' %>
        <%= select_tag "date_day", "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_hour">
        <%= f.label :date_hour, 'Hour', :class=>'' %>
        <%= select_tag "date_hour", "<option value='00'>00</option><option value='01'>01</option><option value='02'>02</option><option value='03'>03</option><option value='04'>04</option><option value='05'>05</option><option value='06'>06</option><option value='07'>07</option><option value='08'>08</option><option value='09'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>

      <span class="span1 date_time_min">
        <%= f.label :date_minute, 'Minutes', :class=>'' %>
        <%= select_tag "date_minute", "<option value='00'>00</option><option value='30'>30</option>".html_safe, :include_blank => true, :class => 'span1' %>
      </span>
    </p><br><br><br><br>
    <p>
      <%= f.label :location, 'Location', :class=>'' %>
      <%= select_tag "location", options_from_collection_for_select(@location_all, "id", "city"), :prompt => "- Select Location -" %>
    </p>
    <p>
      <%= f.label :share_link, :class=>'' %>
      <%= f.text_field :share_link, :class=>'' %>
    </p>
    <p>
      <%= f.label :points_required, :class=>'' %>
      <%= f.text_field :points_required, :class=>'' %>
    </p>
    <p>
      <%= f.label :limit, :class=>'' %>
      <%= f.text_field :limit, :class=>'' %>
    </p>
    <p>
      <%= f.label :tweet, 'Tweet', :class=>'' %>
      <%= f.text_area :tweet, :class=>'', :rows => '3', :placeholder => 'Leave blank to use default campaign title as tweet.' %>
    </p>
    <p>
      <%= f.label :reward, :class=>'' %>
      <%= f.text_field :reward, :class=>'span6' %>
    </p>

    <%= select_tag "brands", options_from_collection_for_select(@brand_all, "id", "name"), :prompt => "- Select Brand -" %>
    <%= select_tag "categories", options_from_collection_for_select(@category_all, "id", "name"), :prompt => "- Select Category -" %>

    <%= hidden_field_tag(:date, Time.now, :name=>'campaign[date]') %>
    <%= hidden_field_tag(:link, @link, :name=>'campaign[link]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->


<div class="modal fade" id="myModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Category</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @category = Category.new %>
   <%= form_for @category, :url => url_for(:controller => 'users', :action => 'create_new_category') do |f| %>
    <p>
      <%= f.label :name, :class=>'' %>
      <%= f.text_field :name, :class=>'' %>
    </p>

    <%= hidden_field_tag(:date, Time.now, :name=>'category[date]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->


<div class="modal fade" id="create_location">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Location</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @location = Location.new %>
   <%= form_for @location, :url => url_for(:controller => 'users', :action => 'create_new_location') do |f| %>
    <p>
      <%= f.label :city, :class=>'' %>
      <%= f.text_field :city, :class=>'' %>
    </p>
    <p>
      <%= f.label :state, :class=>'' %>
      <%= f.text_field :state, :class=>'' %>
    </p>

    <%= hidden_field_tag(:date, Time.now, :name=>'location[date]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->


<div class="modal fade" id="create_brand">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Create New Brand</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">
   <% @brand = Brand.new %>
   <%= form_for @brand, :url => url_for(:controller => 'users', :action => 'create_new_brand') do |f| %>
   	<p class="span3">
      <%= f.label :name, :class=>'' %>
      <%= f.text_field :name, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :bio, :class=>'' %>
      <%= f.text_area :bio, :class=>'', :rows => '4' %>
    </p>
    <p class="span3">
      <%= f.label :website, :class=>'' %>
      <%= f.text_field :website, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :facebook, :class=>'' %>
      <%= f.text_field :facebook, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :twitter, :class=>'' %>
      <%= f.text_field :twitter, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :pinterest, :class=>'' %>
      <%= f.text_field :pinterest, :class=>'' %>
    </p>
    <p class="span3">
      <%= f.label :gplus, :class=>'' %>
      <%= f.text_field :gplus, :class=>'' %>
    </p>

    <%= hidden_field_tag(:date, Time.now, :name=>'brand[date]') %>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Create', :class=>"btn btn-success" %>
  <% end %>
  </div> <!-- .modal-footer -->
</div> <!-- .modal fade -->


