<footer>
    <div class="container" style="margin-bottom:20px;">
      <div class="row">
        <div class="span4">
          <h3>brandbuddee</h3>
          <ul>
            <li><a href="<%= root_url %>" title="">Home</a></li>
            <li><a href="/signup" title="">Signup</a></li>
<!--             <li><a href="#" title="">Brands</a></li> -->
            <li><a href="/about" title="">About</a></li>
            <li><a href="/terms" title="">Terms</a></li>
            <li><a href="/contact" title="">Contact</a></li>
            <li><a href="/privacy" title="">Privacy</a></li>
          </ul>
        </div>
        <div class="span4 social-networks">
          <h3>Stay in touch</h3>
          <p>Stay in touch on social networks</p>
          <a target="_blank" href="http://facebook.com/brandbuddee" title="Follow us on Facebook" class="icon-facebook"></a>
          <a target="_blank" href="http://twitter.com/brandbuddee" title="Follow us on Twitter" class="icon-twitter"></a>
          <a target="_blank" href="https://plus.google.com/107324931903159252628" title="Follow us on Google Plus" class="icon-google-plus"></a>
<!--           <a href="#" title="Follow us on Google Plus" class="icon-github"></a> -->
          <a target="_blank" href="http://pinterest.com/brandbuddee" title="Follow us on Google Plus" class="icon-pinterest"></a>
        </div>
        <div class="span4">
          <h3>Newsletter</h3>
          <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>

          <%= form_tag url_for(:controller => 'welcome', :action => 'create'), :id => "subscribe_footer", :class => "subscribe_form_footer", :remote => true do %>
              <%= text_field_tag :email, nil, :id =>"subscribe_footer_field", :class => "", :placeholder=>"Enter your Email" %>
              <%= hidden_field_tag(:link, @link) %>
              <%= submit_tag "Ok", :class=>"btn" %>
            
          <% end %>
          <div class="message"></div>

        </div> <!-- .span4 -->
      </div> <!-- end .row -->
    </div> <!-- end .container -->

    <div id="footer-extra">
      <div class="container">
        <div class="row">
          <div class="span4">
            &copy; 2012 brandbuddee
          </div>
          <div class="span4">
            <i class="icon-phone"></i> &nbsp; 
            888 531 2664
          </div>
          <div class="span4">
            <i class="icon-envelope"></i> &nbsp; 
            info@brandbuddee.com
          </div>
        </div> <!-- end .row -->    
      </div> <!-- end .container -->    
    </div>

  </footer>