<header id="header">

  <!-- Navigation
  ================================================== -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= root_url %>">
          <!-- <b>brand</b>buddee -->
          <%= image_tag('brandbuddee-logo.png', :class=>"", :size=>"160x30" ) %>
        </a>

        <% if current_user %>
          <% current_uri = request.env['PATH_INFO'] %>
          <% if current_uri == '/home' %>
            <a href="#" class="location_edit"><span>
              <%= current_user.location.city unless current_user.location.nil? %>
              <a href="#myModal" role="button" data-toggle="modal" class="btn btn-mini location_edit_bttn" style="display: none;">edit</a>
            </span></a>

            
          <% end %>
        <% end %>

        <% if current_user %>

          <div class="nav-collapse">
            <ul class="nav pull-right" style="margin-right:0;">  
              <li><a href="/<%= current_user.nickname %>"><i class="icon-user"></i> <%= current_user.email %></a></li>
              <li><a href="<%= root_url %>"><i class="icon-home"></i> Home </a></li>
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile/settings" style="margin-top:5px;">Profile Settings</a></li>
                  <li><a href="/account/settings">Account Settings</a></li>
                  <li><a href="/support/help">Help</a></li>
                  <li class="divider"></li>
                  <li><a href="/signout">Sign Out</a></li>
                </ul>
              </li>



            </ul>
          </div><!--/.nav-collapse -->
      
      <% else %>

        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/brands" class="text-glow-dark">Brands</a></li>
            <li><a href="/about">About</a></li>
<!--             <li><a href="plans.html">Pricing</a></li>
            <li><a href="explore.html">Explore</a></li>
            <li><a href="faq.html">FAQ</a></li> -->
            <li><a href="http://brandbuddee.tumblr.com" target="_blank">Blog</a></li>
            <li><a href="/contact">Contact</a></li>  
            <li><a data-toggle="modal" href="#login" class="btn login-btn">login</a></li>
            <li><a href="/signup" class="btn login-btn">signup</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      <% end %>
        
      </div><!-- end .container -->
    </div><!-- end .navbar-inner -->
  </div><!-- end .navbar -->
</header>





<div class="modal fade" id="login" style="display:none;">
    <div class="modal-header login_wrap">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Login</h3>
    </div> <!-- .modal-header -->
    <div class="modal-body">

    <div class="social_logins">
      <a href="/auth/facebook" class="social_link" style="margin-right:3px;"><%= image_tag('facebook_login.png', :class=>"social_login", :alt=>"facebook-login", :size=>"230x44") %></a>
      <a href="/auth/twitter" class="social_link"><%= image_tag('twitter_login.png', :class=>"social_login", :alt=>"twitter-login", :size=>"230x44") %></a>
    </div> <!-- .social_logins -->

      
    <div class="clear"></div>

    </div> <!-- .modal-body -->

    <div class="modal-footer">
      
      <div class="email-signup">
        <%= form_tag url_for(:controller => "sessions", :action => 'email_create'), :class => "form-inline", :remote => true do %>

          <%= text_field_tag :email, params[:email], :class=>"signin-field signin-default span2 input-large", :placeholder=>"Email" %>


          <%= password_field_tag :password, nil, :class=>"signin-field span2 input-large", :placeholder=>"Password" %>

          <%= submit_tag "Login", :class=>"btn btn-large" %>
        <% end %>
        <a href="/password/reset" class="password_reset_link pull-right" style="display:block;width:130px;">Forgot your password?</a>
      </div> <!-- .email-signup -->
      <div class="email_signup_flash"></div>

    </div>  <!-- .modal-footer -->
  </div> <!-- .modal fade -->


  <script>
    $(function() {
      //$('.modal').modalResponsiveFix({ debug: true })
      //$('.modal').touchScroll();
    })
  </script>


<% if current_user %>
  <% current_uri = request.env['PATH_INFO'] %>
  <% if current_uri == '/home' %>
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit your location</h3>
      </div>
      <div class="modal-body">
        <p>Edit your location to view local campaigns in your area!</p>
        <br>

        <div class="form-horizontal" style="">
        <% @user = User.find(current_user.id) %>
        <% @location_all = Location.all.order_by([:name, :asc]) %>
        <%= form_for @user, :url => {:controller => 'profile', :action => 'update_location'} do |f| %>

              <fieldset>
                <div class="control-group">
                      <label class="control-label" for="prependedInput"><%= f.label :location, 'Location', :class=>'' %>
                      </label>
                      <div class="controls">
                        <%#= select_tag "location", options_from_collection_for_select(@location_all, "id", "city"), :prompt => "- Select Location -" %>
                        <% current_location_id = current_user.location.id unless current_user.location.nil? %>
                        <%= f.select :location, options_from_collection_for_select(@location_all, "id", "city", current_location_id), :prompt => "- Select New Location -" %>
                      </div>
                </div>
              </fieldset>





          </div> <!-- .form-horizontal -->
      </div>
      <div class="modal-footer">
        <%= f.submit 'Update', :class=>"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>