<div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="padding:24px 0;background:#FFF;">

        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_url %>"><div class="new_logo_header"></div></a>
      
      <% if current_user %>
          <div class="pull-right" style="padding-right:0;margin-top:10px;">
            


            <div class="btn-group pull-right">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret" style="margin-top:6px;"></span>
              </a>
              <ul class="dropdown-menu">
                <li style="padding-top:7px;"><a href="/profile/settings"><i class="icon-user"></i> Profile Settings</a></li>
                <li><a href="/account/settings"><i class="icon-cog"></i> Account Settings</a></li>
                <li><a href="/support/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                <li class="divider"></li>
                <li><a href="/signout"><i class="icon-off"></i> Sign Out</a></li>
              </ul>
            </div>

            <a class="profile_header_bttn pull-right profile_header_navi" href="<%= root_url %>"><i class="icon-home"></i> Home </a>

            <a class="profile_header_bttn pull-right profile_header_navi" href="/<%= current_user.nickname %>"><i class="icon-user"></i> <%= current_user.email %></a>

          </div>
      
      <% else %>
       <div class="btn-group pull-right">
        <a data-toggle="modal" href="#login" class="btn"><i class="icon-lock"></i> Login</a>
       </div>
      <% end %>
       <div class="nav-collapse">
            <ul class="nav" style="margin-left:210px;">
              <% if current_user %>
<!--                 <li><a href="/dashboard">Earn Rewards</a></li>
                <li><a href="/<%= current_user.nickname %>">Profile</a></li> -->
                <!-- <li><a href="/favorites">Favorites</a></li> -->
              <% end %>
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>

    <% if current_user %>
    <% else %>
        <div class="span8 promo-campaign-wrap">
            <div class="promo-campaign-bg">
                <div class="span4" style="min-width:60%;">
                    <h4 style="padding:0;line-height:5px;">BrandBuddee is a rewards platform.</h4>
                    <h5 style="padding:0;font-weight:400;color:rgba(0,0,0,0.7);">Get <b>rewards</b> for <b>sharing</b> the things you're passionate about.</h5>
                </div>
                <div class="span2" style="float:right;margin-right:25px;margin-top:3px;">
                    <a data-toggle="modal" href="#login" class="btn btn-large btn-success pull-right">Login</a>
                    <a href="<%= root_url %>" class="btn btn-large btn-info pull-right" style="margin-right:7px;">Join</a>
                </div>
            </div> <!-- .promo-campaign-bg -->
        </div>
    <% end %>

</div>




<div class="modal fade" id="login">
  <div class="modal-header login_wrap">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Login to BrandBuddee</h3>
  </div> <!-- .modal-header -->
  <div class="modal-body">

    <div class="social_logins">
    <a rel="external" href="/auth/facebook" class="social_link" style="margin-right:3px;"><%= image_tag('facebook_login.png', :class=>"social_login", :alt=>"facebook-login", :size=>"230x44") %></a>
    <a rel="external" href="/auth/twitter" class="social_link"><%= image_tag('twitter_login.png', :class=>"social_login", :alt=>"twitter-login", :size=>"230x44") %></a>
  </div> <!-- .social_logins -->

    
  <div class="clear"></div>

  </div> <!-- .modal-body -->

  <div class="modal-footer">
    
    <div class="email-signup">
      <%= form_tag url_for(:controller => "sessions", :action => 'email_create'), :class => "form-inline", :remote => true do %>

        <%= text_field_tag :email, params[:email], :class=>"signin-field signin-default span2 input-large", :placeholder=>"Email" %>


        <%= password_field_tag :password, nil, :class=>"signin-field span2 input-large", :placeholder=>"Password" %>

        <%= submit_tag "Login", :class=>"btn btn-large" %>
      <% end %>
      <a href="/password/reset" class="password_reset_link">Forgot your password?</a>
    </div> <!-- .email-signup -->
    <div class="email_signup_flash"></div>

  </div>  <!-- .modal-footer -->
</div> <!-- .modal fade -->