<% if current_user.provider == "facebook" %>
<div class="span12">
    <h2 style="text-align:center">Invite Your Friends To Earn Rewards on brandbuddee</h2>
    <div style="text-align:center;">             
        <%= link_to(image_tag("facebook.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/invite/facebook", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
        <%= link_to(image_tag("email.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/invite/email", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
    </div><!-- /Social Images -->
    <div style="text-align:center;margin-top:0.5%;">
        <%= link_to(image_tag("gmail.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/contacts/gmail", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
        <%= link_to(image_tag("yahoo.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/contacts/yahoo", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
    </div><!-- /Social Images Row 2 -->
</div><!-- /span12 -->
<% else %>
<div class="span12">
    <h2 style="text-align:center">Invite Your Friends To Earn Rewards on brandbuddee</h2>
    <div style="text-align:center;">             
        <%= link_to(image_tag("email.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/invite/email", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
        <%= link_to(image_tag("gmail.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/contacts/gmail", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
        <%= link_to(image_tag("yahoo.png", :size => "230x44", :alt => "sweepstakes-contests-giveaways-brandbuddee", :title => "Sweepstakes Contests Giveaways brandbuddee"), "/contacts/yahoo", :title => "Sweepstakes Contests Giveaways brandbuddee") %>
    </div><!-- /Social Images -->
</div><!-- /span12 -->
<% end %>