<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large text-center" id="fb-embed-index">
				<% if @continue == true %>
					<h2 class="whats-new">Discover what's new with<br>"<%= @campaign.brand.name %>"<br>Earn <span class="bb-blue">points</span> and <span class="bb-blue">win</span></h2>
					<div class="row stats-top">
						<div class="span2">
							<h3 class="whats-new"><%= @campaign.limit - @campaign.redeems.size < 1 ? "0" : @campaign.limit - @campaign.redeems.size %><br><span>Available Qty</span></h3>
						</div>
						<div class="span2">
							<h3 class="whats-new"><%= @total_page_views %><br><span>Page Visits</span></h3>
						</div>
						<div class="span2">
							<h3 class="whats-new"><%= "#{@campaign.end_date.month.to_s}-#{@campaign.end_date.day.to_s}-#{@campaign.end_date.year.to_s[2..-1]}" %><br><span>End Date</span></h3>
						</div>
					</div>
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<img src="/assets/bb-logo.png<%# @campaign.get_random_image %>" alt="<%= "#{@campaign.brand.name.parameterize}-#{@campaign.title.parameterize}" %>" title="<%= "#{@campaign.brand.name} - #{@campaign.title}" %>" />
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<div class="stats-rewards">
						<h3 class="rewards-text"><i class="icon-gift"></i>&nbsp;&nbsp;&nbsp;What do I get (<%= pluralize(@campaign.points_required, 'point') %>): <%= @campaign.reward %></h3>
						<% unless @campaign.easy_prize.blank? %><h3 class="rewards-text"><i class="icon-gift"></i>&nbsp;&nbsp;&nbsp;What do I get (3 points): <%= @campaign.easy_prize %></h3><% end %>
					</div>
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<% if !@logged_in.nil? && @logged_in==true %>
						<a href="#" class="btn btn-primary"><i class="icon-thumbs-up"></i> Join This Campaign</a>
					<% else %>
						<a href="/fb-embed-signup" class="btn btn-primary"><i class="icon-pencil"></i> Signup to get this gift</a>&nbsp;&nbsp;<a href="#loginModal" role="button" data-toggle="modal" class="btn btn-primary"><i class="icon-key"></i> Login to get this gift</a>
					<% end %>
					<br>
					<a href="/tell-me-more" target="_blank" class="btn btn-success" style="margin-top:1%;"><i class="icon-cogs"></i> How it works</a>
				<% else %>
					<h2><%= @error %></h2>
				<% end %>
				<br><%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "250x47", style: "margin-top:1%;"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %>
			</div>
		</div>
	</div>
</div>
<% if @continue == true %>
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Login to get this gift</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-success">Login</button>
		</div>
	</div>
<% end %>
