<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large" id="fb-embed-index">
				<h2 class="text-center">Choose Your Username</h2>
				<% flash.each do |name, msg| %>
					<div class="alert alert-block alert-<%= name %> fade in">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<h4 class="alert-heading">Just so You Know...</h4>
						<p><%= msg.html_safe %></p>
					</div>
				<% end %>
				<%= form_for @user, :url => {:controller => 'embed_widgets', :action => 'facebook_update_username'}, :html => { :class => 'form-horizontal' } do |f| %>
					<div class="control-group">
						<%= f.label :nickname, "Username", class: "control-label" %>
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on">brandbuddee.com/</span>
								<%= f.text_field :nickname, :id=>'prependedInput', :class=>'span2', :placeholder=>'username', :size=>'' %>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
							<%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
							<%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %>
							<%= f.submit 'Submit', :class=>"btn btn-info" %>
						</div>
					</div>
				<% end %>
				<br><div class="text-center"><%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "188x35", style: "margin-top:1%;"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %></div>
			</div>
		</div>
	</div>
</div>
