<% content_for :facebook_js_auth do %>
	<%= render 'shared/fb_embed_javascript' %>
<% end %>
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large text-center" id="fb-embed-index">
				<% flash.each do |name, msg| %>
					<div class="alert alert-block alert-<%= name %> fade in">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<h4 class="alert-heading">Just so You Know...</h4>
						<p><%= msg.html_safe %></p>
					</div>
				<% end %>
				<% if @continue == true %>
					<h2 class="whats-new"><i class="icon-cogs bb-blue"></i> Admin Panel</h2>
					<div class="row stats-top">
						<div class="span2">
							<h3 class="whats-new">
								<% if @campaign.redeem_is_raffle %>
									<%= @campaign.limit %><br><span>Qty Avail</span>
								<% else %>
									<%= @campaign.limit - @campaign.redeems.size < 1 ? "0" : @campaign.limit - @campaign.redeems.size %><br><span>Qty Left</span>
								<% end %>
							</h3>
						</div>
						<div class="span2">
							<h3 class="whats-new"><%= @total_page_views %><br><span>Page Visits</span></h3>
						</div>
						<div class="span2">
							<h3 class="whats-new"><%= "#{@campaign.end_date.month.to_s}-#{@campaign.end_date.day.to_s}-#{@campaign.end_date.year.to_s[2..-1]}" %><br><span>End Date</span></h3>
						</div>
					</div>
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<img src="<%= @campaign.get_random_image %>" alt="<%= "#{@campaign.brand.name.parameterize}-#{@campaign.title.parameterize}" %>" title="<%= "#{@campaign.brand.name} - #{@campaign.title}" %>", class="img-rounded" />
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<h3 class="rewards-text">This is what your fans are sharing with their friends</h3>
					<div class="stats-rewards" style="padding-left: 2%; padding-right: 2%; text-align: justify;">
						<h3 class="rewards-text"><%= @campaign.detail %></h3>
					</div>
					<div class="divisor divisor_services">
					    <div class="circle_left"></div>
					    <div class="circle_right"></div>
					</div>
					<h3 class="rewards-text">Share this campaign to help build the buzz for your Brand and drive the metrics you want!</h3>
					<% if @logged_in == true %>
						<a href="#facebookModal" class="btn btn-primary btn-large" style="margin-bottom: 1%;" data-toggle="modal" role="button"><i class="icon-facebook-sign"></i> Post to Facebook Wall</a><br>
						<%= link_to image_tag("facebook.png", size: "185x35", style: "margin-right: 1%; margin-left: 1%;"), "/fb-invite-fb-list?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}" %><%= link_to image_tag("email.png", size: "185x35"), "/fb-invite-email-form?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}" %><% unless @campaign.is_white_label? %><br>
						<%= link_to image_tag("gmail.png", size: "185x35", style: "margin-right: 1%; margin-left: 1%; margin-top:1%;"), "/invite", target: "_blank" %><%= link_to image_tag("yahoo.png", size: "185x35", style: "margin-top:1%;"), "/invite", target: "_blank" %><% end %>
					<% else %>
						<a href="#loginModal" role="button" data-toggle="modal" class="btn btn-primary btn-large"><i class="icon-key"></i> Login to Share this Campaign!</a>
					<% end %>
				<% else %>
					<h2><%= @error %></h2>
				<% end %>
				<br><% unless @campaign.is_white_label? %>
						<%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "188x35", style: "margin-top:2.5%;"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %>
					<% else %>
						<% unless @campaign.brand.brand_logo.blank? || @campaign.brand.website.blank? %>
							<%= link_to image_tag(@campaign.brand.brand_logo_url, style: "margin-top:2.5%;max-width:35%;max-height:45px;"), @campaign.brand.website, target: "_blank" %>
						<% end %>
					<% end %>
			</div>
		</div>
	</div>
</div>
<% if @continue == true && @logged_in == false %>
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Login to Share this Campaign</h3>
		</div>
		<div class="modal-body">
			<div class="text-center">
				<%= link_to image_tag("facebook_login.png", class: "social_login", size: "230x44", alt: "brandbuddee-seattle-rewards", title: "Login with Facebook"), "#", title: "Login with Facebook", id: "btnFacebookAuth" %>
			</div>
		</div>
		<div class="modal-footer">
			<div class="email-signup">
				<%= form_tag url_for(:controller => "embed_widgets", :action => 'facebook_email_signin'), :class => "form-inline" do %>
					<%= text_field_tag :email, params[:email], :class=>"signin-field signin-default span2 input-large", :placeholder=>"Email" %>
					<%= password_field_tag :password, nil, :class=>"signin-field span2 input-large", :placeholder=>"Password" %>
					<%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
					<%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
					<%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %><br>
					<%= hidden_field_tag(:campaign_id, @campaign.id, :name=>'campaign_id') %><br>
					<%= submit_tag "Login", :class=>"btn btn-success" %>
					<button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<% if @continue == true && @logged_in == true %>
	<div id="facebookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Post to Facebook</h3>
		</div>
		<div class="modal-body">
			<%= form_tag url_for(:controller => 'embed_widgets', :action => 'facebook_wall_post'), :id => "", :class => "form-horizontal" do %>
	            <%= text_area_tag :personal_message, "#{@campaign.title}", :class => "input-large facebook_wall_post", :placeholder=>"your personal message...", :rows => 3 %>
	            <%= hidden_field_tag(:name, @campaign.title) %>
	            <%= hidden_field_tag(:caption, @campaign.reward) %>
	            <%= hidden_field_tag(:description, @campaign.detail) %>
                <%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
                <%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
                <%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %>
	            <% if Rails.env.development? %>
	                <%= hidden_field_tag(:link, 'http://brandbuddee.com/campaign/' + @campaign.link) %>
	                <%= hidden_field_tag(:picture, 'http://brandbuddee.com/assets/bb-logo.png') %>
	            <% elsif Rails.env.production? %>
	            	<%= hidden_field_tag(:link, root_url + 'campaign/' + @campaign.link) %>
	                <%= hidden_field_tag(:picture, @campaign.campaign_image_url(:standard).to_s) %>
	            <% end %>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	            <%= submit_tag 'Post', :class=>"btn btn-primary" %>
	        <% end %>
		</div>
	</div>
<% end %>
<% content_for :social_share_tracking do %>
	<%= render 'shared/fb_embed_jquery_footer' %>
<% end %>
