<% content_for :facebook_js_auth do %>
	<%= render 'shared/fb_embed_javascript' %>
<% end %>
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large text-center" id="fb-embed-index">
			<% if @continue == true %>
				<div><%= link_to image_tag("facebook_login.png", size: "230x44"), "#", id: "btnFacebookAuth" %></div>
				<hr>
				<%= form_for @user, url: {action: 'facebook_create'}, html: { class: "form-horizontal", id: "frmFbCreateUser" } do |f| %>
					<% if @user.errors.any? %>
						<% @user.errors.full_messages.each do |message| %>
							<div class="alert alert-error fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong>Uh Oh!</strong> <%= message %>
							</div>
						<% end %>
					<% end %>
					<% flash.each do |name, msg| %>
						<div class="alert alert-block alert-<%= name %> fade in">
							<a href="#" class="close" data-dismiss="alert">&times;</a>
							<h4 class="alert-heading">Just so You Know...</h4>
							<p><%= msg.html_safe %></p>
						</div>
					<% end %>
					<div class="control-group">
						<%= f.label :first_name, "First Name", class: "control-label" %>
						<div class="controls">
							<%= f.text_field :first_name, class: "span4", autofocus: true %>
						</div>
					</div>
					<div class="control-group">
						<%= f.label :last_name, "Last Name", class: "control-label" %>
						<div class="controls">
							<%= f.text_field :last_name, class: "span4" %>
						</div>
					</div>
					<div class="control-group">
						<%= f.label :email, "Email Address", class: "control-label" %>
						<div class="controls">
							<%= f.email_field :email, class: "span4" %>
						</div>
					</div>
					<div class="control-group">
						<%= f.label :password, "Password", class: "control-label" %>
						<div class="controls">
							<%= f.password_field :password, class: "span4" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
							<%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
							<%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %>
							<%= hidden_field_tag(:campaign_id, @campaign.id, :name=>'campaign_id') %>
							<%= f.submit "Sign Up!", class: "btn btn-large btn-success", style: "font-weight:700;" %>
							<%= link_to "Go Back", "/fb-campaign-embed?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}", class: "btn btn-large btn-info" %>
						</div>
					</div>
				<% end %>
				<br><% unless @campaign.is_white_label? %>
					<%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "188x35", style: "margin-top:1%;"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %>
				<% else %>
					<% unless @campaign.brand.brand_logo.blank? || @campaign.brand.website.blank? %>
						<%= link_to image_tag(@campaign.brand.brand_logo_url, style: "margin-top:2.5%;max-width:35%;max-height:45px;"), @campaign.brand.website, target: "_blank" %>
					<% end %>
				<% end %>
			<% else %>
				<h2><%= @error %></h2>
			<% end %>
			</div>
		</div>
	</div>
</div>
<% content_for :social_share_tracking do %>
	<%= render 'shared/fb_embed_jquery_footer' %>
<% end %>
