<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large" id="fb-embed-index" style="padding-left:1%;padding-right:1%;padding-top:2%;padding-bottom:2%;">
                <% flash.each do |name, msg| %>
                    <div class="alert alert-block alert-<%= name %> fade in" style="text-align: left;">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <h4 class="alert-heading">Just so You Know...</h4>
                        <p><%= msg.html_safe %></p>
                    </div>
                <% end %>
                <div class="pull-right" id="insertbeforeme">
                    <%= form_tag("/fb-invite-fb-search", :method => "get", :class => "form-search", :style => "position: relative; right: 5%;") do %>
                        <%= text_field_tag(:query, nil, :placeholder => "Friend's Name", :class => "input-medium search-query") %>
                        <%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
                        <%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
                        <%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %>
                        <%= submit_tag("Search", :class => "btn btn-fuji-splash-3") %>
                    <% end %>
                </div>
                <div class="btn-group pull-left" style="margin-left:2%;">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-reply" style="font-size:inherit;"></i> Go Back
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/fb-invite-fb-list<%= "?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}" %>"><i class="icon-facebook-sign" style="font-size:1.25em;line-height:50%;"></i> Back to Full Friends List</a>
                        </li>
                        <li>
                            <a href="/fb-embed-admin<%= "?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}" %>"><i class="icon-dashboard" style="font-size:1.25em;line-height:50%;"></i> Back to Admin Dashboard</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <% unless @friendslist.blank? %>
                    <ul class="fb-invite-fb">
                    <% @friendslist.each do |friend| %>
                        <li><img src="https://graph.facebook.com/<%= friend["id"] %>/picture?type=square" alt="<%= friend["name"] %>'s Profile Image" width="35" height="35" class="img-circle inviteprofileimage" /> <%= friend["name"] %>&nbsp;<input type="button" class="btn btn-fuji-splash-3 btn-mini" onclick="fbInvitePerson(<%= friend["id"] %>, '<%= friend["name"] %>'); return false;" value="Invite" style="float:right;margin-right:20%;" /></li>
                    <% end %>
                    </ul>
                    <div class="clearfix"></div>
                <% else %>
                    <h4 class="text-center">We couldn't find any Facebook friends named "<%= params[:query] %>"</h4>
                <% end %>
                <br><div class="text-center" style="margin-top:-4%;">
                    <% unless @campaign.is_white_label? %>
                        <%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "188x35"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %>
                    <% else %>
                        <%= image_tag @campaign.brand.brand_logo_url, style: "margin-top:2.5%;max-width:35%;max-height:45px;" unless @campaign.brand.brand_logo.blank? %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
