<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="well well-large" id="fb-embed-index">
                <% flash.each do |name, msg| %>
                    <div class="alert alert-block alert-<%= name %> fade in" style="text-align: left;">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <h4 class="alert-heading">Just so You Know...</h4>
                        <p><%= msg.html_safe %></p>
                    </div>
                <% end %>
                <a href="/fb-embed-admin<%= "?page_id=#{params[:page_id]}&liked=#{params[:liked]}&admin=#{params[:admin]}" %>" class="btn btn-info pull-left" style="margin-left:2%;"><i class="icon-reply" style="font-size:inherit;"></i> Go Back</a>
                <div class="clearfix"></div>
                <%= form_tag("/fb-invite-email-send", :method => "post", :class => "form-horizontal") do %>
                    <div class="control-group">
                        <%= label_tag(:to, "To:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_field_tag(:to, nil, :placeholder => "To", :class => "span4", :autofocus => true) %>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= label_tag(:message, "Message:", :class => "control-label") %>
                        <div class="controls">
                            <%= text_area_tag(:message, nil, :placeholder => "Hey, check out brandbuddee.com! You can discover cool things in your city, score points for sharing, and earn rewards.", :class => "", :rows => 5, :class => "span4") %>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <%= hidden_field_tag(:page_id, params[:page_id], :name=>'page_id') %>
                            <%= hidden_field_tag(:liked, params[:liked], :name=>'liked') %>
                            <%= hidden_field_tag(:admin, params[:admin], :name=>'admin') %>
                            <%= submit_tag("Send", :class => "btn btn-large btn-success") %>
                        </div>
                    </div>
                <% end %>
                <br><div class="text-center" style="margin-top:-5%;"><%= link_to image_tag("bb-logo.png", alt: "brandbuddee-seattle-rewards", title: "brandbuddee Seattle Rewards", size: "250x47", style: "margin-top:1%;"), "/", target: "_blank", title: "brandbuddee Seattle Rewards" %></div>
            </div>
        </div>
    </div>
</div>
