<%= render 'shared/header' %>


<div class="homepage">
	<div class="container">
		<div class="hero-unit">

			<!-- headin gtext -->
			<p class="ac" style="margin:0;">
				<b style="font-size:22px;">Make your story go viral on social media</b>
				<!-- <div style="font-size:15px;text-align:center;">get the word out about your business through your fans</div> -->
			</p>

			<!-- Carousel -->	
			<div id="macbook_carousel">
				<div id="carousel" class="carousel slide" rel="carousel">
					<!-- Carousel items -->				
					<div class="carousel-inner">
						<div class="active item">
							<img src="/assets/screenshot1.png" alt="" />
						</div>
						<div class="item">
							<img src="/assets/screenshot2.png" alt="" />
						</div>
						<div class="item">
							<img src="/assets/screenshot3.png" alt="" />
						</div>
						<div class="item">
							<img src="/assets/screenshot4.png" alt="" />
						</div>
					</div>
					<!-- Carousel navigation -->
					<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div> <!-- .hero-unit -->

		<div class="row">
			<div class="span8">
				<h1 class="lead">
					<b>Share your brand's story</b><br>Get the word out about your business through your fans.
				</h1>
			</div>
			<div class="span4">
<!-- 				<h3 class="ac">FREE<small> for Solo plan</small></h3> -->
				<p class="ac">
					<a class="btn btn-large btn-primary" href="/contact" title=""><b>Contact us for a Free Trial</b></a>
				</p>
			</div>
		</div> <!-- .row -->


	</div> <!-- .container -->
</div> <!-- .homepage -->




<div class="container">
	<div class="row" style="margin-top:35px;">
		<div class="span8">
			<h3>What you're doing with your online marketing budget</h3>
			<p style="font-style:italic;font-size:27px;line-height:35px;font-weight:100;margin-top:16px;">
				"People are more likely to survive a plane crash than to click your display ads"
			</p>
			<p>
				<a href="http://www.digiday.com/publishers/15-alarming-stats-about-banner-ads/" target="_blank">http://www.digiday.com/publishers/15-alarming-stats-about-banner-ads/</a>
			</p>
		</div>
		<div class="span4">
			<p>
				<img rel="tooltip" title="Some title" alt="" class="thumbnail fr" src="/assets/confused.jpg" width="240" />
			</p>
		</div>
	</div>

	<hr />

	<div class="row">

		<div class="span3">
			<p>
				<img rel="tooltip" title="Some title" alt="" class="thumbnail" src="/assets/success.jpeg" width="200" />
			</p>
		</div>      	
		<div class="span9">
			<h3>What you should be doing with your online marketing budget</h3>
			<p>
				Brands or product recommendations from friends and family are ranked #1 as the most trusted form of promotion or advertisement, up to 8x more than other traditional marketing methods. We allow you to build relationships with a niche audience of your customer base called "mavens". These are people that love your brand, want to know what's going on first, want to gain acknowledgement from and exclusive access to your brand, and they love to share. It doesn't matter how many Facebook fans you have, it's all about the small group of super fans that care enough to share about your brand. Give them the information, build a community of super fans, and build brand loyalty with people that care enough to share about your brand. 
			</p>
			<p>
				<a href="http://techcrunch.com/2013/03/21/forrester-digital-marketing-poll/" target="_blank">http://techcrunch.com/2013/03/21/forrester-digital-marketing-poll/</a>
			</p>
		</div>

	</div>

	<hr />

	<div class="row">
		<div class="span8">
			<h3>How it works</h3>
			<p>
				brandbuddee is a social media discovery and content distribution platform that rewards fans to discover interesting stories from their favorite brands, then share it on social media. Have you ever wanted to be the first to know? Have you ever wanted to be the one that got rewarded when you shared something you thought was cool? Have you ever wanted to be recognized and treated like royalty from the brands you love? Well, you’ve earned it and that’s what we’re here to provide.
			</p>
		</div>
		<div class="span4">
			<p>
				<iframe width="250" height="150" class="thumbnail" src="http://www.youtube.com/embed/mC2IVhDtij0" frameborder="0" allowfullscreen></iframe>
			</p>
		</div>
	</div>

	<hr />

	
</div> <!-- .container -->





<div id="content" class="container">
	<div class="hero-unit">
		<div class="container">
			<h1 class="ac">Plans and pricing!</h1>
			<p class="ac">
				Reach more people, Gain more awareness, and Build more Social Media Buzz
			</p>
		</div>
	</div> <!-- .hero-unit -->

	<!-- Example pricing -->
	<div class="row pricing">

		<div class="span3">
			<div class="well pricing_table">
				<h2 style="font-size:25px;">Pay-To-Play<b style="font-size:;15px">*</b></h2>
				<ul>
					<li>&#10004; 1 admin user</li>
					<li>&#10004; Analytics Reports</li>
					<li>&#10004; E-mail support</li>
				</ul>
				<p>Social awareness and conversations are free, we’ll only charge you based on unique people actually clicking to view your brand’s latest story as they see it on popular social networking sites.</p>
				<hr />
				<br><br><br>
				<h3 class="ac">25¢ / unique view</h3>
<!-- 				<hr />
				<p class="ac">
					<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
				</p> -->
			</div>
		</div>
<!-- 		<div class="span3 most-popular"> -->
		<div class="span3">
			<div class="well pricing_table">
				<h2>Basic</h2>
<!-- 				<p><span>POPULAR</span></p> -->
				<ul>
					<li>&#10004; Save 5.5¢ per click</li>
					<li>&#10004; Reach up to 100K people in your area</li>
					<li>&#10004; Gain up to 250 unique content visitors through the power of word-of-mouth recommendation</li>
				</ul>        
				<p>Identify and reward your top business advocates and build a community of passionate supporters. Share up to 2 stories per month. Target unlimited markets.</p>
				<hr />
				<h3 class="ac">$99 / month</h3>
<!-- 				<hr />
				<p class="ac">
					<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
				</p> -->
			</div>
		</div>
		<div class="span3 most-popular">
			<div class="well">
				<h2>Pro</h2>
				<p><span>POPULAR</span></p>
				<ul>
					<li>&#10004; Unlimited users</li>
					<li>&#10004; Save 6¢ per click</li>
					<li>&#10004; Reach up to 500K people in your area</li>
					<li>&#10004; Gain up to 2500 unique content visitors through the power of word-of-mouth recommendation</li>
				</ul>          
				<p>
					All basic perks included and Share up to 6 stories per month. This is our most recommended package. 
				</p>
				<hr />
				<br>
				<h3 class="ac">$475 / month</h3>
<!-- 				<hr />
				<p class="ac">
					<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
				</p> -->
			</div>
		</div>
		<div class="span3">
			<div class="well pricing_table">
				<h2>Enterprise</h2>
				<ul>
					<li>&#10004; Unlimited users</li>
					<li>&#10004; Save 6.5¢ per click</li>
					<li>&#10004; Reach 2.5M people in targeted local areas</li>
					<li>&#10004; Gain up to 10,000 unique content visitors through the power of word-of-mouth recommendation</li>
				</ul>          
				<p>All basic perks included. Reach up to 2.5M people in your area. Drive 10000 unique content visitors. Share up to 6 stories per month.</p>
				<hr />
				<h3 class="ac">$1850 / month</h3>
<!-- 				<hr />
				<p class="ac">
					<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
				</p> -->
			</div>
		</div>


	</div> <!-- .row pricing -->



	<div class="row">
		<div class="span12">
			<h3 class="lead" style="font-size:15px;">
				*Try brandbuddee risk free and with no obligations, ask us about our FREE trial. All subscriptions are charged monthly and last for a year.
			</h3>
		</div>
	</div>




	<div class="container">
		<hr />

		<div class="hero-unit">
			<div class="container">
				<h1 class="ac">Testimonials</h1>
				<p class="ac">
					Brands who've shared their story through brandbuddee
				</p>
			</div>
		</div> <!-- .hero-unit -->


		

		<div class="row">
			<div class="span4">
				<%= image_tag('testimonials-01.png', :class=>"") %>
			</div> <!-- .span4 -->
			<div class="span4">
				<%= image_tag('testimonials-02.png', :class=>"") %>
			</div> <!-- .span4 -->
			<div class="span4">
				<%= image_tag('testimonials-03.png', :class=>"") %>
			</div> <!-- .span4 -->
		</div>

		<div class="row">
			<div class="span4">
				<%= image_tag('testimonials-04.png', :class=>"") %>
			</div> <!-- .span4 -->
			<div class="span4">
				<%= image_tag('testimonials-06.png', :class=>"") %>
			</div> <!-- .span4 -->
			<div class="span4">
				<%= image_tag('testimonials-05.png', :class=>"") %>
			</div> <!-- .span4 -->
		</div>

		<div class="row" style="margin-top:50px;">
			<div class="span6">
				<span class="testimonial">“Brandbuddee been very beneficial for us to engage with our audience, grown our Twitter & Facebook following, and has connected users with our brand”</span> <br>- Hangover Joes founder Shawn Adamson
			</div> <!-- .span6 -->

			<div class="span6">
				<span class="testimonial">“Brandbuddee is a great way to reach people on a personal level”</span> – Julianne at Allied THA
			</div> <!-- .span6 -->
		</div>

		<hr />

		
	</div> <!-- .container -->

	<br>
	<div class="well ac">
		<h3>
			Start right now!
			<a href="/contact" title="Try it for yourself.">
				Contact us
			</a>&rarr;
		</h3>
	</div>
</div> <!-- .container -->

<br>
<%= render 'shared/footer' %>