<%= render 'shared/header' %>

<div class="container" style="margin-top:2%;">
	<div class="row">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-lightbulb bb-green" style="font-size:2.4em;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:1.57em;"><span class="bb-blue">Imagine</span> where your business would be if you had access to <span style="color:#7EC1E1;">millions</span> of potential customers</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<div class="span3 select-share-enjoy" style="margin-left:4%;border-color:#7EC1E1;top:-30px;" id="triggerSlide1">
				<p class="center-me">
					<%= image_tag "/assets/brand-pushpin-blue.png", size: "200x200" %>
				</p>
				<h1 style="color:#7EC1E1;" class="center-me" id="textSlide1">Post a Story</h1>
				<p class="center-me">Share an update or announcement about your business that you want people buzzing about on social media.</p>
			</div>
			<div class="span3 offset1 select-share-enjoy" id="triggerSlide2">
				<p class="center-me">
					<%= image_tag "/assets/learn-more-icon2.png", size: "200x200" %>
				</p>
				<h1 style="color:black;" class="center-me" id="textSlide2">Go Viral</h1>
				<p class="center-me brand-top-tooltip" data-original-title="We encourage your customers, fans, and influencers to share your business with their friends. They earn points for driving traffic, completing tasks you assign, or influencing their friends." data-toggle="tooltip">We encourage your customers, fans, and influencers to share your business with their friends. They earn...</p>
			</div>
			<div class="span3 offset1 select-share-enjoy" id="triggerSlide3">
				<p class="center-me">
					<%= image_tag "/assets/brand-graph-blue.png", size: "200x200" %>
				</p>
				<h1 style="color:black;" class="center-me" id="textSlide3">Get Results</h1>
				<p class="center-me brand-top-tooltip" data-original-title="You set the goals for your campaign and we deliver results by activating our own network of buddees and engaging with your fans. Our clear-cut graphs and precise metrics help you interpret the results." data-toggle="tooltip">You set the goals for your campaign and we deliver results by activating our own network of buddees and engaging...</p>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
</div><!-- /.container -->
<section class="comments" style="padding-top:0;margin-top:2%;">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<div class="image">
                    <img src="/assets/testimonial1.png" alt="Image">
                </div>
                <div class="name" style="top:15.4%;">
                    <h3>Joey F.</h3>
                </div>
                <div class="job" style="top:15.4%;">
                    <h3>Portland, OR</h3>
                </div>
                <p>"I wanted to take a moment today to thank you and the producers of the BT event last night at Q. The event itself was a dream! Getting to meet one of our idols last night was a dream come true in so many ways. <b>None of that would have been possible without your extra effort and going above and beyond.</b>"</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/brand-hangover-joes.png" alt="Image">
                </div>
                <div class="name" style="top:17%;">
                    <h3>Hangover Joes</h3>
                </div>
                <div class="job" style="top: 17%;">
                    <h3>Highland Ranch, CO</h3>
                </div>
                <p>"<b>brandbuddee has been very beneficial</b> for us to engage with our audience, grown our Twitter & Facebook following, and has connected users with our brand."</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/brand-dreamworks.png" alt="Image">
                </div>
                <div class="name" style="top:19.1%;">
                    <h3>Julianne at Allied THA</h3>
                </div>
                <div class="job" style="top: 19.1%;">
                    <h3>Glendale, CA</h3>
                </div>
                <p>"<b>brandbuddee is a great way to reach people</b> on a personal level"</p>
            </li>
        </ul><!-- /slides -->
	</div><!-- /flexslider -->     
</section><!-- /Brand Testimonials -->
<div class="container" style="margin-top:2%;">
	<div class="row">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-bar-chart bb-green" style="font-size:3em;position:relative;top:4px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">Guaranteed Results and <span style="color:#7EC1E1;">metrics</span> you want.</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-brand-img-1" style="box-shadow: inset 0 0 0 8px #7EC1E1;"></div>
							<div class="ch-info-back">
								<h3 style="margin-top:-5%; padding-bottom:5%;">We<br>Guarantee Results</h3>
								<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampResults">Learn More!</a></p>
							</div>
						</div>
					</div>
				</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-2" style="box-shadow: inset 0 0 0 8px #C7E478;"></div>
	                		<div class="ch-info-back">
	                  			<h3>Get Metrics<br>You Want</h3>
	                  			<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampMetrics">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-3" style="box-shadow: inset 0 0 0 8px #7EC1E1;"></div>
	                		<div class="ch-info-back">
	                  			<h3 style="margin-top:-4%; padding-bottom:4%;">Customize Your<br>Campaigns</h3>
	                  			<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampCustomize">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	        </ul><!-- /.ch-grid -->
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:4%;">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-check bb-green" style="font-size:3em;position:relative;top:4px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">With all <span style="color:#7EC1E1;">campaigns</span>:</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampFacebook"><i class="icon-facebook-sign" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Facebook Likes</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampTwitter"><i class="icon-twitter-sign" style="font-size:1.5em;position:relative;top:3px;"></i> Gain More Twitter Followers</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampInfluencers"><i class="icon-eye-open" style="font-size:1.5em;position:relative;top:3px;"></i> Engage Influencers</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampGetMore"><i class="icon-comments-alt" style="font-size:1.5em;position:relative;top:3px;"></i> Get More from Social Media</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampOrganic"><i class="icon-leaf" style="font-size:1.5em;position:relative;top:3px;"></i> Recieve Organic web traffic</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampBuzz"><i class="icon-arrow-up" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Social Media Buzz</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampNumOne"><i class="icon-refresh" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Customer Referrals</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampEngagement"><i class="icon-thumbs-up" style="font-size:1.5em;position:relative;top:3px;"></i> Meaningful Engagement</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampAdvocacy"><i class="icon-double-angle-up" style="font-size:1.5em;position:relative;top:3px;"></i> Grow True Brand Advocacy</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampLoyalty"><i class="icon-flag" style="font-size:1.5em;position:relative;top:3px;"></i> Encourage Brand Loyalty</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampRewards"><i class="icon-star" style="font-size:1.5em;position:relative;top:3px;"></i> Offer Brand-centric Rewards</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampEasyRead"><i class="icon-bar-chart" style="font-size:1.5em;position:relative;top:3px;"></i> Use Easy-to-Read analytics</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:5%;">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-money bb-green" style="font-size:3em;position:relative;top:6px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;"><span class="bb-blue">Imagine</span> if you could drive <span style="color:#7EC1E1;">thousands</span> of your fans to take action?</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #7EC1E1;">
								<h4 style="color:#333333;font-size:24px;margin-top:12%;">Basic</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">$3<sup style="text-decoration:underline;">33</sup> / Day</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-food"></i>Less Than Lunch</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:14%;text-transform:uppercase;">Learn More!</h4>
							</div>
							<div class="ch-info-back">
								<h4 style="color:white;margin-top:14%;font-size:16px;padding-bottom:1%;">- Monthly Agreement</h4>
								<h4 class="pricing-plans-features">- 2 Campaigns Per Month</h4>
								<h4 class="pricing-plans-features">- No Cancellation Fee</h4>
								<h4 class="pricing-plans-features">- Cancel Anytime</h4>
								<h4 class="pricing-plans-features">- Customer Support</h4>
								<h4 class="pricing-plans-features" style="padding-bottom:2%;">- No Strings Attached</h4>
								<h4 style="color:white;font-size:19px;padding-bottom:5%;">$99<sup style="text-decoration:underline;">99</sup> / Month</h4>
								<a href="mailto:andy@brandbuddee.com?Subject=I%20Would%20Like%20To%20Put%20My%20Brand%20On%20brandbuddee" target="_blank" style="text-decoration: none;" class="pricing-plans-signup">Sign Up</a>
							</div>
						</div>
					</div>
				</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #C7E478;">
	                			<h4 style="color:#333333;font-size:24px;margin-top:12%;">Unlimited</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">$2<sup style="text-decoration:underline;">33</sup> / Day</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-coffee"></i>Less Than Coffee</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:14%;text-transform:uppercase;">Learn More!</h4>
	                		</div>
	                		<div class="ch-info-back">
	                  			<h4 style="color:white;margin-top:10%;font-size:16px;padding-bottom:1%;">- Yearly Agreement</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited Campaigns</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited New Fans</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited Traffic</h4>
								<h4 style="color:white; font-size:14px;">&#8226;&nbsp;Facebook&nbsp;&nbsp;&nbsp;&#8226;&nbsp;Twitter</h4>
								<h4 style="color:white; font-size:14px;">&#8226;&nbsp;Pinterest&nbsp;&nbsp;&nbsp;&#8226;&nbsp;All Social Networks</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:2%;">- Unlimited Customer Service</h4>
								<h4 style="color:white;font-size:19px;padding-bottom:5%;">$69<sup style="text-decoration:underline;">99</sup> / Month</h4>
								<a href="mailto:andy@brandbuddee.com?Subject=I%20Would%20Like%20To%20Put%20My%20Brand%20On%20brandbuddee" target="_blank" style="text-decoration: none;" class="pricing-plans-signup">Sign Up</a>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #7EC1E1;">
	                			<h4 style="color:#333333;font-size:24px;margin-top:12%;">Build It</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">Yourself</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-envelope-alt"></i>Contact Us</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:13.5%;text-transform:uppercase;">Learn More!</h4>
	                		</div>
	                		<div class="ch-info-back">
	                  			<h4 style="color:white;margin-top:14%;font-size:16px;padding-bottom:1%;">- Custom Packages<br>Available</h4>
								<h4 class="pricing-plans-features">- Design One to Fit Your Needs</h4>
								<h4 class="pricing-plans-features">- Contact Us For More Information:</h4>
								<h4 class="pricing-plans-features" style="padding-bottom:7%;">Tel:&nbsp;&nbsp;<a href="tel:3609201637" style="color:white;text-decoration:none;">360.920.1637</a></h4>
								<a href="mailto:andy@brandbuddee.com?Subject=I%20Would%20Like%20More%20Information%20On%20Custom%20Packages%20From%20brandbuddee" target="_blank" style="text-decoration: none;" class="pricing-plans-signup">Contact Us</a>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	        </ul><!-- /.ch-grid -->
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:4%;">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-gift bb-green" style="font-size:3em;position:relative;top:3px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">Still unsure? Try it for <span style="color:#7EC1E1;">FREE</span> - We'll prove it!</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #7EC1E1;">
								<h4 style="color: #333333; font-size: 24px; margin-top: 12%; border: 2px solid #333333; padding-left: 3%; padding-right: 3%; padding-bottom: 1%; padding-top: .75%; width: 22%; margin-left: 36%;">FREE</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid #333333; width: 75%; margin-left: 12.5%; padding-bottom: 4%;">14 Day Trial</h4>
								<h4 style="color: #333333; font-size: 18px; margin-top: 4%;">No Credit Card Needed</h4>
								<h4 style="color: #333333; font-size: 18px; margin-top: 1%;">No Strings Attached</h4>
								<h4 style="color: #333333; font-size: 18px; margin-top: 1%; border-bottom: 1px solid black; padding-bottom: 4%; width: 75%; margin-left: 12.5%;">See Results Today</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:6%;text-transform:uppercase;">Sign Up!</h4>
							</div>
							<div class="ch-info-back">
								<h3 style="border-bottom:none;margin-top:24%;"><a href="mailto:andy@brandbuddee.com?Subject=I%20Would%20Like%20To%20Put%20My%20Brand%20On%20brandbuddee" target="_blank" style="text-decoration:none;" class="brand-sign-up-link">Click Here To Sign Up!</a></h3>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:5%;"></div>
</div><!-- /.container -->
<%= render 'shared/footer' %>
<div id="allCampaignsIncludeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="allCampaignsModalLabel">Modal header</h3>
	</div>
	<div class="modal-body" id="allCampaignsModalContent">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Great!</button>
	</div>
</div>
<script type="text/javascript">
	eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('$(3m).3p(f(){2r h=$("#3i");2r g=$("#3F");$("#3H").i(f(){h.2(\'2m 2e 28 3I\');g.j(\'<p 4="3-5-6-2">3K-k-1I l 9 18 3J 1b 25 k 3C 3x b 3c 8 3v 3z.</p><p 4="3-5-6-2">z B D 3B J c R m T, 3A 2P w 7 2s 8 2u.</p>\')});$("#2Q").i(f(){h.2(\'2l 2L 10 2O\');g.j(\'<p 4="3-5-6-2">10 1Z 9 1D 8 1G c U 8 x 1Q.</p><p 4="3-5-6-2">10 11 2q 27 u 39 w 36 30 2J y 2E v 2j 3a v Z b 4z 9 2J.</p><p 4="3-5-6-2">4y 4x, 1R Y, 12 4D, 4r-4t—x 2a q 4F.</p>\')});$("#4R").i(f(){h.2(\'4T 4U 4G\');g.j(\'<p 4="3-5-6-2">z B q: c U b M 4J 7 2c, 8 F\\\'s 4K.</p><p 4="3-5-6-2">4M K c 11 4L 1F 1A 4m 9 1f D 1j, 9 1S, 9 3Z, 8 1V 7 3 1z 3Y v 1g.</p>\')});$("#3X").i(f(){h.2(\'41 1m-42 3V\');g.j(\'<p 4="3-5-6-2">1i\\\'s 2g b 3P D F 1J a 3O 14 n 7 O, 2z v 1c b v Z A P E 26 8 2d.</p><p 4="3-5-6-2">3Q 3U b 3T 7 3 2E 9 V 2q l 7 2s 8 2u?</p><p 4="3-5-6-2">4i D 4j 4l n 7 3 A M N.</p><p 4="3-5-6-2">z 1J 48 1d 1h U b M N.</p><p 4="3-5-6-2">z 1w\\\'t 49 n 1e-4c-1x 23, 22 c 4A 4b\\\'t 4a F 46.</p>\')});$("#4d").i(f(){h.2(\'z 4e 4k\');g.j(\'<p 4="3-5-6-2">4f w a 4g 4h u 7 S 23?</p><p 4="3-5-6-2">K 45.</p><p 4="3-5-6-2">44 3S, x\\\'H 3R q 1A 3N c a 3W 43 b 40 q Q.</p><p 4="3-5-6-2">10 11 4n 9 1S 8 x\\\'H 1Q 1Y 4H 1K-k-1I 1c.</p>\')});$("#4I").i(f(){h.2(\'2m 12 4N\');g.j(\'<p 4="3-5-6-2">12 l a 2b m 1y w 4O n 2x u 7 4V.</p><p 4="3-5-6-2">4S, 1h 2w b 1M c 4P q 1H 7 4Q 1p 8 15?</p><p 4="3-5-6-2">1i\\\'s 2g b 2f C 8 B C 4E v Z b c.</p><p 4="3-5-6-2">1B\\\'s 2v x 4u n.</p>\')});$("#4s").i(f(){h.2(\'20 1l 1T 4o\');g.j(\'<p 4="3-5-6-2">1T l 2y k 9 4p m 4q F 1N 7 3 b 4v u 1O 15 4w 9 4C.</p><p 4="3-5-6-2">K A 1M 4B n N 1y 3M c 8 1j 7 3 u D 4W R v 3w n 14, 2R 38 E 33.</p>\')});$("#2Y").i(f(){h.2(\'2X 32 31\');g.j(\'<p 4="3-5-6-2">2Z 29 "3 1x" y "1e w 1x" 37, K l J 35 a 2W 1f 8 3b 9 2T 1C 7 2d 1p 8 15.</p><p 4="3-5-6-2">1U 2N 2K 1v V A 7 3\\\'s 2U 2S 2V 2M 9 m 1r, q\\\'H P E 1b 8 34 a 3L 3y.</p><p 4="3-5-6-2">z 1w\\\'t 1e D y 2a 3D 1g, 2t 3E 1g 3G 3u u 7 3 y O V.</p><p 4="3-5-6-2">1B A 3t 9 3j 3h 8 3g 3d b 3e 3f 8 3k Q k 7 1F.</p>\')});$("#3l").i(f(){h.2(\'3r 3s 1m 3q\');g.j(\'<p 4="3-5-6-2">1i l 3n F 3 1z y 1d 16 9 2k 2n k S.</p><p 4="3-5-6-2">W 3o 47 5m 6A 9 1O w 6B 3 1c R 9 m 1r.</p><p 4="3-5-6-2">W l 9 #1 18 1b 25 k 6C.</p><p 4="3-5-6-2"><a 6z="6y://6v.6w.6x/6D/6E/6K/6L/13/1d-9-2k-2n-n-S/" 6J="6I">6F Q X 6G 2i b 1X J N.</a></p>\')});$("#6H").i(f(){h.2(\'2l 1l 1C 2e 28\');g.j(\'<p 4="3-5-6-2">21\\\'s P 26, m T, 6u 2D 29 6t k S, l J 1G.</p><p 4="3-5-6-2">6h c 1w\\\'t 1P X c\\\'1L 6i Q k q, 1V M c 1P 19 c\\\'1L 6j 24?</p><p 4="3-5-6-2">2B 9 6g 2p, a 6f 1N c b 1Z 9 1D c U 8 6c 6d C 1Y 6e 24 m 6k.</p>\')});$("#6l").i(f(){h.2(\'6r 6s-b-6q 2h\');g.j(\'<p 4="3-5-6-2">6p 2o-b-6m 2h 6N A 6o L, 6M 6T 1C 7 m S 7d.</p><p 4="3-5-6-2">1U 7e 7f 8 7c 1D, 1v V A c P 7b b 1W 7 78\\\'s 4X 8 79 7a 1G, q\\\'H P 2o b 1W 8 7g.</p>\')});$("#7h").i(f(){h.2(\'7m 7k\');g.j(\'<p 4="3-5-6-2">7l 7i 7j\\\'t 76 77 1A a 6U.</p><p 4="3-5-6-2">6V 2i 6S 6R k 2j.</p><p 4="3-5-6-2">6O 6P l 9 6Q c 1J u C 8 9 6W b 2f C b 1E a 6X 73.</p><p 4="3-5-6-2">z\\\'74 75 72 k C 8 22 M c.</p><p 4="3-5-6-2">21\\\'s B C 71 8 6Y u c!</p>\')});$("#6Z").i(f(){h.2(\'70 1r Y\');g.j(\'<p 4="3-5-6-2">K l a 2b 2c b B 9 1K Q J 7 O.</p><p 4="3-5-6-2">6n 7 27 1j 7 6a 1f R m T, q\\\'H 6b 9 14 k v Z 1h A 5n 7 1R b 5o E J 7 O.</p><p 4="3-5-6-2">W 1v V 5l E 14 n 7 O, q 11 5k b 5h 5i y 5j 9 5p.</p>\')});$("#5q").i(f(){h.2(\'20 1l 1m 5w\');g.j(\'<p 4="3-5-6-2">5x 5v 1X 2p 8 5u F 9 o 5r D 5s b 7 m T 5t l b B 5g 5f 8 53 54 y 55.</p><p 4="3-5-6-2">52 51 7 1p X 2t U 8 4Y 4Z 50 w 7 3, c\\\'H 56 2w 3 57.</p><p 4="3-5-6-2">W l 5d X K 5e c M.</p>\')});$("#5c").i(f(){h.2(\'z 16 9 #1 5b 58 59\');g.j(\'<p 4="3-5-6-2">2B 18 k 9 2I x 5a u, x 16 v 5y 2y y 5z 5Y 5Z.</p><p 4="3-5-6-2">60 5X x 1E E Y 1H 12.</p><p 4="3-5-6-2">5W 5T w N l 2z 1K-k-1I 5U 5V 61 62 m T 68.</p><p 4="3-5-6-2">1B\\\'s 2v 7 3 1z 8 7 69 15 16.</p><p 4="3-5-6-2">67 1F 1E E Y n a 66 63 1H 18 2I B n 64 65 5S R 2D m 1y.</p>\')});$(".3-o-2C").2C({5R:\'5F\'});$(\'.2A\').2A({5G:"5H",5E:L,5D:5A,5B:L,5C:1,5I:1,5J:1,5P:5Q,5O:L,5N:5K,2x:L,5L:L,5M:f(1a){19(1a.2G==0){$("#1t").d({"r-e":"#17","o":"-1s"});$("#1u").d({"r-e":"#G","o":"0"});$("#1k").d({"r-e":"#G","o":"0"});$("#1n").d("e","#17");$("#1o").d("e","#I");$("#1q").d("e","#I")}2F 19(1a.2G==1){$("#1u").d({"r-e":"#2H","o":"-1s"});$("#1t").d({"r-e":"#G","o":"-0"});$("#1k").d({"r-e":"#G","o":"0"});$("#1o").d("e","#2H");$("#1n").d("e","#I");$("#1q").d("e","#I")}2F{$("#1k").d({"r-e":"#17","o":"-1s"});$("#1t").d({"r-e":"#G","o":"-0"});$("#1u").d({"r-e":"#G","o":"0"});$("#1q").d("e","#17");$("#1n").d("e","#I");$("#1o").d("e","#I")}}})});',62,457,'||text|brand|class|features|modal|your|and|the||to|you|css|color|function|allCampContent|allCampLabel|click|html|of|is|social|in|top||it|border|||with|their|for|we|or|We|will|get|them|people|more|that|FFFFFF|ll|000000|about|brandbuddee|true|do|this|business|be|out|on|marketing|media|want|only|This|what|traffic|friends|You|can|Facebook||interest|customers|are|7EC1E1|most|if|slider|trusted|recommendations|superfans|pay|story|rewards|who|It|share|triggerSlide3|More|Brand|textSlide1|textSlide2|fans|textSlide3|web|30px|triggerSlide1|triggerSlide2|not|don|advocacy|network|advocates|by|That|from|metrics|drive|campaigns|results|than|mouth|have|word|re|help|allows|potential|know|deliver|website|goals|Twitter|With|how|show|say|through|choose|Gain|Let|so|programs|effective|form|honest|buddees|Media|other|provide|great|way|real|Social|activate|important|analytics|has|influence|secret|Get|Increase|weapon|easy|time|reward|var|products|they|services|where|better|touch|one|because|flexslider|For|tooltip|any|when|else|animatingTo|C7E478|brands|tasks|engagements|Metrics|across|meaningful|Want|awareness|allCampMetrics|thus|go|participation|message|farther|good|Drive|allCampEngagement|Unlike|specific|Engagement|Meaningful|followers|yield|telling|completing|platforms|attracting|points|drives|using|Nielsen|willing|endorse|anything|those|junkies|allCampaignsModalLabel|sweepstakes|everything|allCampAdvocacy|document|said|largely|ready|Advocacy|Find|True|keep|directly|Forrester|similarities|according|ROI|Research|increasing|talking|advertising|ubiquitous|earn|allCampaignsModalContent|redeemable|allCampBuzz|Buzz|consumer|Word|higher|discover|offering|genuine|attract|Who|prove|fact|promote|wants|Rewards|free|allCampRewards|redeem|location|test|Provide|centric|trial|In|delivers|here|untapped|these|believe|find|won|per|allCampResults|Guarantee|Looking|sure|bet|Only|truly|Results|interested|creating|set|Followers|largest|networks|sign|allCampTwitter|ups|come|connect|around|completions|Survey|complete|absolutely|influencers|world|likes|referring|all|Campaigns|organic|allCampFacebook|things|okay|customize|On|Likes|keeping|grow|current|allCampCustomize|But|Customize|Your|community|based|stakeholders|rewarding|positive|support|giving|By|special|perks|discounts|encourage|loyalty|Referral|Site|work|Customer|allCampNumOne|exactly|helps|content|exclusive|sales|today|down|lead|creates|resource|visit|learn|road|allCampLoyalty|reasons|subscribe|groups|again|experts|Loyalty|Industry|number|two|200|slideshow|itemMargin|itemWidth|animationLoop|left|animation|slide|minItems|maxItems|800|directionNav|before|animationSpeed|pauseOnHover|slideshowSpeed|5000|placement|month|reason|referrals|tap|The|times|referral|site|Many|into|every|days|an|entire|few|Most|channel|future|latest|gather|clearly|obtain|our|platform|first|If|getting|being|promotions|allCampEasyRead|read|As|demonstrate|Our|Read|Receive|Easy|type|like|www|forbes|com|http|href|unlocks|powerful|advertisement|sites|theyec|Check|Forbes|allCampGetMore|_blank|target|2013|06|measurable|reports|What|matters|relationship|level|some|value|score|Everybody|ability|desired|working|allCampOrganic|Organic|engaged|lots|action|ve|got|just|determined|company|management|clear|able|exact|efforts|clean|graphs|tell|allCampInfluencers|influencer|isn|Influencers|An|Engage'.split('|'),0,{}))
</script>