<% content_for :homepage_style_tag do %>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
<% end %>
<%= render 'shared/header' %>

<div class="container" style="margin-top:2%;">
	<div class="row">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-lightbulb bb-green" style="font-size:2.4em;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:1.57em;"><span class="bb-blue">Imagine</span> where your business would be if you had access to <span style="color:#7EC1E1;">millions</span> of potential customers</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<div class="span3 select-share-enjoy" style="margin-left:4%;">
				<p class="center-me">
					<%= image_tag "/assets/brand-pushpin-blue.png", alt: "sweepstakes-contests-giveaways-brandbuddee", title: "Sweepstakes Contests Giveaways brandbuddee", size: "200x200" %>
				</p>
				<h1 class="center-me">Post a Story</h1>
				<p class="center-me">Share an update or announcement about your business that you want people buzzing about on social media.</p>
			</div>
			<div class="span3 offset1 select-share-enjoy">
				<p class="center-me">
					<%= image_tag "/assets/learn-more-icon2.png", alt: "sweepstakes-contests-giveaways-brandbuddee", title: "Sweepstakes Contests Giveaways brandbuddee", size: "200x200" %>
				</p>
				<h1 style="color:black;" class="center-me">Go Viral</h1>
				<p class="center-me brand-top-tooltip" data-original-title="We encourage your customers, fans, and influencers to share your business with their friends. They earn points for driving traffic, completing tasks you assign, or influencing their friends." data-toggle="tooltip">We encourage your customers, fans, and influencers to share your business with their friends. They earn...</p>
			</div>
			<div class="span3 offset1 select-share-enjoy">
				<p class="center-me">
					<%= image_tag "/assets/brand-graph-blue.png", alt: "sweepstakes-contests-giveaways-brandbuddee", title: "Sweepstakes Contests Giveaways brandbuddee", size: "200x200" %>
				</p>
				<h1 style="color:black;" class="center-me">Get Results</h1>
				<p class="center-me brand-top-tooltip" data-original-title="You set the goals for your campaign and we deliver results by activating our own network of buddees and engaging with your fans. Our clear-cut graphs and precise metrics help you interpret the results." data-toggle="tooltip">You set the goals for your campaign and we deliver results by activating our own network of buddees and engaging...</p>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
</div><!-- /.container -->
<div class="container" style="margin-top:2%;">
	<div class="row">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-comments-alt bb-green" style="font-size:3em;position:relative;top:4px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">Here's what <span style="color:#7EC1E1;">firms</span> are saying about us:</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="testimonial" class="span12">
			<div class="white-bg">
				<%= image_tag "brands-testimonial-left.png", class: "icon_testimonial_left" %>
				<%= image_tag "brands-testimonial-right.png", class: "icon_testimonial_right" %>
				<div class="testimonials">
					<div class="testimonial-wrapper">
						<p>
							brandbuddee...works to partner brands and consumers for social media campaigns, incentivising fans and followers to share stories about their favorite brands.
						</p>
						<div class="testimonial-logo"><%= image_tag "brands-testimonial-simply-measured.png" %></div>
					</div>
					<div class="testimonial-wrapper" style="display:none;">
						<p>
							Getting Press: 8 Tips for going hyperlocal, sometimes the most effective marketing is the kind you do right outside your front door
						</p>
						<div class="testimonial-logo"><%= image_tag "brands-testimonial-inc.png" %></div>
					</div>
					<div class="testimonial-wrapper" style="display:none;">
						<p>
							10 things you should do before starting a business
						</p>
						<div class="testimonial-logo"><%= image_tag "brands-testimonial-huff-post.png" %></div>
					</div>
					<div class="testimonial-wrapper" style="display:none;">
						<p>
							At brandbuddee.com, ...mavens connect and cultivate relationships with other mavens and brands, expanding their reach. ...you'll find a tremendous amount of commercial value.
						</p>
						<div class="testimonial-logo"><%= image_tag "brands-testimonial-forbes.png" %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-bar-chart bb-green" style="font-size:3em;position:relative;top:4px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">Guaranteed Results and <span style="color:#7EC1E1;">metrics</span> you want.</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-brand-img-1" style="box-shadow: inset 0 0 0 8px #7EC1E1;"></div>
							<div class="ch-info-back">
								<h3 style="margin-top:-5%; padding-bottom:5%;">We<br>Guarantee Results</h3>
								<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampResults">Learn More!</a></p>
							</div>
						</div>
					</div>
				</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-2" style="box-shadow: inset 0 0 0 8px #C7E478;"></div>
	                		<div class="ch-info-back">
	                  			<h3>Get Metrics<br>You Want</h3>
	                  			<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampMetrics">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-3" style="box-shadow: inset 0 0 0 8px #7EC1E1;"></div>
	                		<div class="ch-info-back">
	                  			<h3 style="margin-top:-4%; padding-bottom:4%;">Customize Your<br>Campaigns</h3>
	                  			<p><a href="#allCampaignsIncludeModal" data-toggle="modal" id="allCampCustomize">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	        </ul><!-- /.ch-grid -->
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:4%;">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-check bb-green" style="font-size:3em;position:relative;top:4px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;">With all <span style="color:#7EC1E1;">campaigns</span>:</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampFacebook"><i class="icon-facebook-sign" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Facebook Likes</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampTwitter"><i class="icon-twitter-sign" style="font-size:1.5em;position:relative;top:3px;"></i> Gain More Twitter Followers</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampInfluencers"><i class="icon-eye-open" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Yelp Reviews</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampGetMore"><i class="icon-comments-alt" style="font-size:1.5em;position:relative;top:3px;"></i> Get More from Social Media</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampOrganic"><i class="icon-leaf" style="font-size:1.5em;position:relative;top:3px;"></i> Recieve Organic web traffic</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampBuzz"><i class="icon-arrow-up" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Social Media Buzz</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampNumOne"><i class="icon-refresh" style="font-size:1.5em;position:relative;top:3px;"></i> Increase Customer Referrals</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampEngagement"><i class="icon-thumbs-up" style="font-size:1.5em;position:relative;top:3px;"></i> Meaningful Engagement</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampAdvocacy"><i class="icon-double-angle-up" style="font-size:1.5em;position:relative;top:3px;"></i> Grow True Brand Advocacy</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:3%;">
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampLoyalty"><i class="icon-flag" style="font-size:1.5em;position:relative;top:3px;"></i> Encourage Brand Loyalty</a>
		</div><!-- /.span4 -->
		<div class="span4 responsive-center-btn">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampRewards"><i class="icon-star" style="font-size:1.5em;position:relative;top:3px;"></i> Offer Brand-centric Rewards</a>
		</div><!-- /.span4 -->
		<div class="span4">
			<a href="#allCampaignsIncludeModal" class="btn btn-info btn-large responsive-right-btn" style="width:75%;font-size:1.1em;font-weight:bold;" role="button" data-toggle="modal" id="allCampEasyRead"><i class="icon-bar-chart" style="font-size:1.5em;position:relative;top:3px;"></i> Use Easy-to-Read analytics</a>
		</div><!-- /.span4 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:5%;">
		<div class="span12">
			<div style="text-align:center;margin-bottom:-5%;"><i class="icon-money bb-green" style="font-size:3em;position:relative;top:6px;"></i>&nbsp;&nbsp;&nbsp;<b style="font-size:2em;"><span class="bb-blue">Imagine</span> if you could drive <span style="color:#7EC1E1;">thousands</span> of your fans to take action?</b></div>
			<div class="divisor divisor_services">
				<div class="circle_left"></div>
				<div class="circle_right"></div>
			</div>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #7EC1E1;">
								<h4 style="color:#333333;font-size:24px;margin-top:12%;">Basic</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">$3<sup style="text-decoration:underline;">33</sup> / Day</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-food"></i>Less Than Lunch</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:14%;text-transform:uppercase;">Learn More!</h4>
							</div>
							<div class="ch-info-back">
								<h4 style="color:white;margin-top:14%;font-size:16px;padding-bottom:1%;">- Monthly Agreement</h4>
								<h4 class="pricing-plans-features">- 2 Campaigns Per Month</h4>
								<h4 class="pricing-plans-features">- No Cancellation Fee</h4>
								<h4 class="pricing-plans-features">- Cancel Anytime</h4>
								<h4 class="pricing-plans-features">- Customer Support</h4>
								<h4 class="pricing-plans-features" style="padding-bottom:2%;">- No Strings Attached</h4>
								<h4 style="color:white;font-size:19px;padding-bottom:5%;">$99<sup style="text-decoration:underline;">99</sup> / Month</h4>
								<a href="/brands/signup" style="text-decoration: none;" class="pricing-plans-signup">Sign Up</a>
							</div>
						</div>
					</div>
				</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #C7E478;">
	                			<h4 style="color:#333333;font-size:24px;margin-top:12%;">Unlimited</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">$2<sup style="text-decoration:underline;">33</sup> / Day</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-coffee"></i>Less Than Coffee</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:14%;text-transform:uppercase;">Learn More!</h4>
	                		</div>
	                		<div class="ch-info-back">
	                  			<h4 style="color:white;margin-top:10%;font-size:16px;padding-bottom:1%;">- Yearly Agreement</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited Campaigns</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited New Fans</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:1%;">- Unlimited Traffic</h4>
								<h4 style="color:white; font-size:14px;">&#8226;&nbsp;Facebook&nbsp;&nbsp;&nbsp;&#8226;&nbsp;Twitter</h4>
								<h4 style="color:white; font-size:14px;">&#8226;&nbsp;Pinterest&nbsp;&nbsp;&nbsp;&#8226;&nbsp;All Social Networks</h4>
								<h4 style="color:white; font-size:16px; padding-bottom:2%;">- Unlimited Customer Service</h4>
								<h4 style="color:white;font-size:19px;padding-bottom:5%;">$69<sup style="text-decoration:underline;">99</sup> / Month</h4>
								<a href="/brands/signup" style="text-decoration: none;" class="pricing-plans-signup">Sign Up</a>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-brand-img-none" style="box-shadow: inset 0 0 0 8px #7EC1E1;">
	                			<h4 style="color:#333333;font-size:24px;margin-top:12%;">Agency</h4>
								<h4 style="color:#333333;font-size:24px;margin-top:5%;">$4<sup style="text-decoration:underline;">33</sup> / Day</h4>
								<h4 style="color: #333333; font-size: 24px; margin-top: 4%; border-bottom: 1px solid black; padding-bottom: 7%; width: 90%; margin-left: 5%;"><i class="icon-beer" style="font-size:1.25em;position:relative;top:2px;"></i>Less Than A Beer</h4>
								<h4 style="color:#333333;font-size:21px;margin-top:13.5%;text-transform:uppercase;">Learn More!</h4>
	                		</div>
	                		<div class="ch-info-back">
	                  			<h4 style="color:white;margin-top:14%;font-size:16px;padding-bottom:1%;">- Yearly Agreement</h4>
								<h4 class="pricing-plans-features">- Unlimited Customers</h4>
								<h4 class="pricing-plans-features">- Unlimited Brands</h4>
								<h4 class="pricing-plans-features">- Unlimited Campaigns</h4>
								<h4 class="pricing-plans-features">- Unlimited Traffic</h4>
								<h4 class="pricing-plans-features">- Unlimited Sales Training</h4>
								<h4 class="pricing-plans-features" style="padding-bottom:5%;padding-top:2%;font-size:19px;">$129<sup style="text-decoration:underline;">99</sup> / Month</h4>
								<a href="mailto:andy@brandbuddee.com?Subject=I%20Would%20Like%20More%20Information%20On%20Custom%20Packages%20From%20brandbuddee" target="_blank" style="text-decoration: none;" class="pricing-plans-signup">Contact Us</a>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	        </ul><!-- /.ch-grid -->
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row" style="margin-top:5%;"></div>
</div><!-- /.container -->
<%= render 'shared/footer' %>
<div id="allCampaignsIncludeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="allCampaignsModalLabel">Modal header</h3>
	</div>
	<div class="modal-body" id="allCampaignsModalContent">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Great!</button>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
	    var allCampLabel = $("#allCampaignsModalLabel");
	    var allCampContent = $("#allCampaignsModalContent");
	    $("#allCampBuzz").click(function () {
	        allCampLabel.text('Increase Social Media Buzz');
	        allCampContent.html('<p class="brand-features-modal-text">Word-of-mouth is the most consumer trusted form of advertising according to Nielsen and Forrester Research.</p><p class="brand-features-modal-text">We get people talking about you on social media, increasing awareness for your products and services.</p>')
	    });
	    $("#allCampMetrics").click(function () {
	        allCampLabel.text('Get Metrics You Want');
	        allCampContent.html('<p class="brand-features-modal-text">You choose the metrics and results you want and we deliver.</p><p class="brand-features-modal-text">You can reward buddees with points for completing specific tasks or when their influence drives their friends to complete the tasks.</p><p class="brand-features-modal-text">Survey completions, website traffic, Facebook likes, sign-ups—we provide it all.</p>')
	    });
	    $("#allCampCustomize").click(function () {
	        allCampLabel.text('Customize Your Campaigns');
	        allCampContent.html('<p class="brand-features-modal-text">We get it: you want to do things your way, and that\'s okay.</p><p class="brand-features-modal-text">On brandbuddee you can customize campaigns by creating the story people share, the goals, the location, and how your brand advocates redeem their rewards.</p>')
	    });
	    $("#allCampRewards").click(function () {
	        allCampLabel.text('Provide Brand-centric Rewards');
	        allCampContent.html('<p class="brand-features-modal-text">It\'s important to attract people that have a genuine interest in your business, because their recommendations to their friends will be more honest and real.</p><p class="brand-features-modal-text">Who wants to promote your brand when the only reward is your products and services?</p><p class="brand-features-modal-text">Only people truly interested in your brand will do this.</p><p class="brand-features-modal-text">We have these superfans who want to do this.</p><p class="brand-features-modal-text">We don\'t believe in pay-per-advocacy programs, so you absolutely won\'t find that here.</p>')
	    });
	    $("#allCampResults").click(function () {
	        allCampLabel.text('We Guarantee Results');
	        allCampContent.html('<p class="brand-features-modal-text">Looking for a sure bet with your marketing programs?</p><p class="brand-features-modal-text">brandbuddee delivers.</p><p class="brand-features-modal-text">In fact, we\'ll prove it by offering you a free trial to test it out.</p><p class="brand-features-modal-text">You can set the goals and we\'ll deliver through organic word-of-mouth recommendations.</p>')
	    });
	    $("#allCampFacebook").click(function () {
	        allCampLabel.text('Increase Facebook Likes');
	        allCampContent.html('<p class="brand-features-modal-text">Facebook is a great social network for keeping in touch with your community.</p><p class="brand-features-modal-text">But, who better to help you grow it than your current fans and customers?</p><p class="brand-features-modal-text">It\'s important to activate them and get them referring their friends to you.</p><p class="brand-features-modal-text">That\'s where we come in.</p>')
	    });
	    $("#allCampTwitter").click(function () {
	        allCampLabel.text('Gain More Twitter Followers');
	        allCampContent.html('<p class="brand-features-modal-text">Twitter is one of the largest social networks that allows your brand to connect with potential customers around the world.</p><p class="brand-features-modal-text">brandbuddee will help influencers in this network discover you and share your brand with people based on their similarities in interest, thus attracting more followers.</p>')
	    });
	    $("#allCampEngagement").click(function () {
	        allCampLabel.text('Drive Meaningful Engagement');
	        allCampContent.html('<p class="brand-features-modal-text">Unlike other "brand advocacy" or "pay for advocacy" platforms, brandbuddee is about telling a good story and using the participation from your real fans and customers.</p><p class="brand-features-modal-text">With meaningful engagements not only will your brand\'s message go farther across the social web, it\'ll be more trusted and yield a higher ROI.</p><p class="brand-features-modal-text">We don\'t pay people or provide ubiquitous rewards, they earn rewards redeemable directly with your brand or business only.</p><p class="brand-features-modal-text">That will keep the sweepstakes junkies and those willing to endorse anything and everything out of your campaigns.</p>')
	    });
	    $("#allCampAdvocacy").click(function () {
	        allCampLabel.text('Find True Brand Advocacy');
	        allCampContent.html('<p class="brand-features-modal-text">It is said that brand advocates or superfans are the secret weapon of marketing.</p><p class="brand-features-modal-text">This largely untapped resource unlocks the potential for powerful brand recommendations on the social web.</p><p class="brand-features-modal-text">This is the #1 most trusted form of advertisement.</p><p class="brand-features-modal-text"><a href="http://www.forbes.com/sites/theyec/2013/06/13/superfans-the-secret-weapon-in-marketing/" target="_blank">Check out what Forbes has to say about this.</a></p>')
	    });
	    $("#allCampGetMore").click(function () {
	        allCampLabel.text('Get More from Social Media');
	        allCampContent.html('<p class="brand-features-modal-text">Let\'s be honest, social media, like any other type of marketing, is about results.</p><p class="brand-features-modal-text">If you don\'t know what you\'re getting out of it, how do you know if you\'re being effective?</p><p class="brand-features-modal-text">For the first time, a platform allows you to choose the metrics you want and clearly obtain them through our effective social promotions.</p>')
	    });
	    $("#allCampEasyRead").click(function () {
	        allCampLabel.text('Receive Easy-to-Read analytics');
	        allCampContent.html('<p class="brand-features-modal-text">Our easy-to-read analytics reports will demonstrate true, measurable value from your social marketing efforts.</p><p class="brand-features-modal-text">With clean graphs and exact metrics, not only will you be able to show your company\'s stakeholders and management clear results, it\'ll be easy to show and tell.</p>')
	    });
	    $("#allCampInfluencers").click(function () {
	        allCampLabel.text('Increase Yelp Reviews');
	        allCampContent.html('<p class="brand-features-modal-text">Today consumers trust reviews from friends and even strangers more than your paid advertisement, that\'s why Yelp is so important for building referrals for your business.</p><p class="brand-features-modal-text">The problem is that your happy customers and fans aren\'t taking the time to leave positive reviews.</p><p class="brand-features-modal-text">brandbuddee encourages them to take action to help grow your online reputation.</p>')
	    });
	    $("#allCampOrganic").click(function () {
	        allCampLabel.text('Organic web traffic');
	        allCampContent.html('<p class="brand-features-modal-text">brandbuddee is a great way to get the word out about your business.</p><p class="brand-features-modal-text">As your buddees share your latest story on social media, it\'ll gather the interest of their friends who will visit your website to learn more about your business.</p><p class="brand-features-modal-text">This not only creates more interest in your business, it can lead to sales today or down the road.</p>')
	    });
	    $("#allCampLoyalty").click(function () {
	        allCampLabel.text('Gain More Brand Loyalty');
	        allCampContent.html('<p class="brand-features-modal-text">Industry experts say time and again that the top reasons people subscribe to your social media groups is to get exclusive content and special perks or discounts.</p><p class="brand-features-modal-text">By giving your fans what they want and rewarding positive support for your brand, you\'ll encourage better brand loyalty.</p><p class="brand-features-modal-text">This is exactly what brandbuddee helps you do.</p>')
	    });
	    $("#allCampNumOne").click(function () {
	        allCampLabel.text('We are the #1 Customer Referral Site');
	        allCampContent.html('<p class="brand-features-modal-text">For most of the brands we work with, we are their number one or two referral site.</p><p class="brand-features-modal-text">Many times we drive more traffic than Facebook.</p><p class="brand-features-modal-text">The reason for this is because word-of-mouth referrals tap into every social media channel.</p><p class="brand-features-modal-text">That\'s where your brand advocates and your future customers are.</p><p class="brand-features-modal-text">Most campaigns drive more traffic in a few days than most brands get in an entire month on any social network.</p>')
	    });
	    $(".brand-top-tooltip").tooltip({
	        placement: 'left'
	    });
	    $('.talking-firms-popover').popover({
	    	placement: 'bottom',
	    	trigger: 'hover'
	    });
	});
</script>
<script type="text/javascript">
	(function($) {
		var smoothieTestimonials = function(element, options) {
			var defaults = $.extend({}, $.fn.dbdtestimonials.defaults, options);
			
			var $mainElement = $(element);
			var $currentElement;
			
			totalElems = $mainElement.find('.testimonial-wrapper').length;
			$currentElement = $mainElement.find('.testimonial-wrapper:eq(0)');

			setInterval(function() {
				var index = $currentElement.index();
				
				if((index + 1) != totalElems) {
					$currentElement.fadeOut(defaults.transitionOut, function() {
						var nextElem = $currentElement.next();
						
						nextElem.fadeIn(defaults.transitionIn);
						$currentElement = nextElem;
					});
				} else {
					$currentElement.fadeOut(defaults.transitionOut, function() {
						var nextElem = $mainElement.find('.testimonial-wrapper:eq(0)');
						
						nextElem.fadeIn(defaults.transitionIn);
						$currentElement = nextElem;
					});	
				}
			}, defaults.interval);
		}
		
		$.fn.dbdtestimonials = function(options) {
			var dbdt = new smoothieTestimonials(this, options);
		}
		
		$.fn.dbdtestimonials.defaults = {
			interval		: 5000,
			transitionIn	: 1500,
			transitionOut	: 1500	
		}
	})(jQuery);

	jQuery(document).ready(function(e) {
		if(jQuery('.testimonials').length == 1) {
	    	jQuery('.testimonials').dbdtestimonials();
		}
	});
</script>
