<%= render 'shared/header' %>
<div class="container">
  <div class="row" style="margin-top:5%;">
    <div class="span6">
      <h1>Connect with <span class="bb-blue">brands</span></h1><br>
      <p class="home-page-text">Be <span>influential</span></p>
      <p class="home-page-text">Be the <span>media</span></p>
      <p class="home-page-text">Be the <span>first to know</span></p>
      <p class="home-page-text">Be a <span style="color:#a1ba5c;">buddee</span></p>
      <p style="margin-left:10%;">
        <a href="/signup" class="btn btn-large btn-primary" style="margin-bottom:2%;"><i class="icon-facebook"></i> | Sign Up With Facebook</a><br>
        <a href="/signup" class="btn btn-large btn-info" style="margin-bottom:2%;"><i class="icon-twitter"></i> | Sign Up With Twitter&nbsp;&nbsp;&nbsp;</a><br>
        <a href="/signup" class="btn btn-large"><i class="icon-envelope"></i> | Sign Up With Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </p>
    </div>
    <div class="span6">
      <div id="homeCarousel" class="carousel slide">
        <ol class="carousel-indicators" style="top:105%;right:45%;">
          <li data-target="#tellMoreCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#tellMoreCarousel" data-slide-to="1"></li>
          <li data-target="#tellMoreCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="width:65%;margin-left:auto;margin-right:auto;border:1px solid #a4a4a4;">
          <div class="active item">
            <%= link_to image_tag("/assets/home-slider1.jpg", size: "300x383", alt: "seattle-rewards", title: "brandbuddee Seattle Rewards"), "/signup" %>
          </div>
          <div class="item">
            <%= link_to image_tag("/assets/home-slider2.jpg", size: "300x383", alt: "seattle-rewards", title: "brandbuddee Seattle Rewards"), "/signup" %>
          </div>
          <div class="item">
            <%= link_to image_tag("/assets/home-slider3.jpg", size: "300x383", alt: "seattle-rewards", title: "brandbuddee Seattle Rewards"), "/signup" %>
          </div>
        </div>
        <a class="carousel-control left" href="#homeCarousel" data-slide="prev" style="border:none;background:none;margin-left:8%;display:none;"><div class="tellMoreCarouselLeft"></div></a>
        <a class="carousel-control right" href="#homeCarousel" data-slide="next" style="border:none;background:none;margin-right:8%;display:none;"><div class="tellMoreCarouselRight"></div></a>
      </div><!-- /tellMoreCarousel -->
      <div class="home-carousel-shadow"></div>
      <div class="home-carousel-ribbon"></div>
    </div><!-- /span6 -->
  </div><!-- /row -->
</div><!-- /container -->
<div class="home-page-bottom">
  <div class="left">
    <%= image_tag "/assets/home-gift.png", size: "48x75", alt: "seattle-rewards", title: "brandbuddee Seattle Rewards", style: "padding:50px;float:left;" %>
    <h1>WHAT IS A GIFT</h1>
    <h1>
      <p style="padding-right:5%;">Product, Service, or discounts given to you by the brands you love.</p>
    </h1>
  </div>
  <span class="right">
    <%= image_tag "/assets/home-get-gifted.png", size: "81x75", title: "brandbuddee Seattle Rewards", alt: "seattle-rewards", style: "padding:50px;float:left;" %>
    <h1>HOW DO I GET GIFTED</h1>
    <h1>
      <p style="padding-right:5%;">Talk about brands you love on your favorite social networks.</p>
    </h1>
  </span>
</div>
<%= render 'shared/footer' %>



<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>
<script type="text/javascript" src="/js/jquery.hotkeys.min.js"></script>
<script type="text/javascript" src="/js/functions.min.js?v=2"></script>