  <%= render 'shared/header' %>

  <!-- Content
  ================================================== -->
  <div id="content" class="container">
  </div>

  <div class="container" style="margin-top:1%;">
    <div class="row">
      <div class="span10 offset1">
        <div class="alert alert-block alert-info fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">This Just In!</h4>
          <p>brandbuddee will be upgrading its infrastructure over the next 24 hours.<br>Unfortunately, all custom profile images for users were lost in the server migration.<br>Please feel free to upload a new one.<br>Thank you in advance for your patience.</p>
          <p>
            <a class="btn btn-primary" href="/contact">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel --> 
  <div id="mycarousel">
    <div id="carousel" class="carousel slide" rel="carousel">
      <!-- Carousel items -->       
      <div class="carousel-inner">
        <div class="active item">
          <%= link_to(image_tag("homeslider1.jpg", :size => "1964x527", :alt => "brandbuddee"), "/signup") %>
        </div>
        <div class="item">
          <%= link_to(image_tag("homeslider2.jpg", :size => "1964x527", :alt => "brandbuddee"), "http://www.youtube.com/watch?v=qz69Xh6NRTE") %>
        </div>
        <div class="item">
          <%= link_to(image_tag("homeslider3.jpg", :size => "1964x527", :alt => "brandbuddee"), "/signup") %>
        </div>
        <div class="item">
          <%= link_to(image_tag("homeslider4.jpg", :size => "1964x527", :alt => "brandbuddee"), "/brands") %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row" style="margin-bottom:20px;">
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-search splash_feature_icons"></i></span>
        <h2><!-- <span class="grey">Discover</span> --> Discover</h2>
         <p>Discover your favorite brands, exclusive stories, and become their buddee.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-upload splash_feature_icons"></i></span>
        <h2>Share</h2>
         <p>Support the brands that you already love and share them with your friends.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
      <div class="span4 splash_features">
        <span class="grey"><i class="icon-gift splash_feature_icons"></i></span>
        <h2>Earn Rewards</h2>
        <p>Be the first to know. Earn amazing rewards just for sharing! Simple as that.</p>
        <!-- <p><a class="" href="#">Read more &raquo;</a></p> -->
      </div>
    </div> <!-- .row -->

  </div> <!-- .container -->

  <br>


  <%= render 'shared/footer' %>
  


  <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>
  <script type="text/javascript" src="/js/jquery.hotkeys.min.js"></script>
  <script type="text/javascript" src="/js/functions.min.js?v=2"></script>