<%= render 'shared/fluid_header' %>
<div style="margin-top:50px;">

	<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert">×</button>
			<%= flash[:notice] %>
		</div> <!-- .alert -->
	<% end %>

	<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
		<div><h2 style="font-weight:200">Total: <%= pluralize(@subscriber.size, 'Subscriber') %></h2></div>
		<table class="table table-bordered table-striped table-condensed" >
		  <tr>
			<th>ID</th>
			<th>Date</th>
			<th>Email</th>
			<th>Share Link</th>
			<th>Share Points</th>
			<th>Shared Emails</th>
			<th>Consolidated</th>
			<th>Invite to Beta</th>
			<th>Status</th>
			<th>Subscription</th>
			<th>campaign_newsletter_1</th>
			<th>campaign_newsletter_2</th>
			<th>campaign_newsletter_3</th>
		  </tr>

		<% @subscriber.each do |sub| %>
		  <tr class="<%= cycle('odd', 'even') %>">
			<td><%= sub._id %></td>
			<td><%= sub.date %> <span class="label"><%= time_ago_in_words(sub.date) + " ago" unless sub.date.nil? %></span></td>
		    <td><%= sub.email %></td>
			<td><%= sub.share_link %></td>
			<td><%= sub.share_points %></td>
			<td><%= sub.shared_emails %></td>
			<td><%= sub.consolidated %></td>
			<td>
				<% if sub.consolidated == true %>
					...
				<% elsif sub.invitation.nil? %>
					<%= link_to "Invite", {:controller=>'welcome', :action=>'invite', :_id => sub._id}, :class => "btn btn-small btn-primary" %>
				<% else %> 
					<span class="badge badge-inverse">Invitation Sent</span>
				<% end %>
			</td>
			<td>
				<% if sub.consolidated == true %>
					<span class="badge badge-success">User</span>
				<% elsif sub.invitation.nil? %>
					<span class="badge">wait list</span>
				<% else %>
					<% if sub.invitation.status == true %>
						<span class="badge badge-success">signed up!</span>
					<% elsif sub.invitation.status == false %>
						<span class="badge badge-important">pending</span>
					<% end %>
				<% end %>
			</td>
			<td>
				<% if sub.status == true %>
					<span class="badge">Subscribed</span>
				<% elsif sub.status == false %>
					<span class="badge badge-important">Unsubscribed</span>
				<% end %>
			</td>
			<td>
				<% if sub.campaign_newsletter_1 == true %>
					<span class="badge">Delivered</span>
				<% elsif sub.campaign_newsletter_1 == false %>
					<span class="badge badge-important">Undelivered</span>
				<% end %>
			</td>
			<td>
				<% if sub.campaign_newsletter_2 == true %>
					<span class="badge">Delivered</span>
				<% elsif sub.campaign_newsletter_2 == false %>
					<span class="badge badge-important">Undelivered</span>
				<% end %>
			</td>
			<td>
				<% if sub.campaign_newsletter_3 == true %>
					<span class="badge">Delivered</span>
				<% elsif sub.campaign_newsletter_3 == false %>
					<span class="badge badge-important">Undelivered</span>
				<% end %>
			</td>
			<td><%= link_to "Delete", :controller=>'welcome', :action=>'destroy', :_id => sub._id %></td>
		  </tr>
		<% end %>
		</table>
	</div> <!-- .position:relative; -->

	<div style="position:relative;left:25px;overflow:scroll;height:100%;width:97%;">
		<div><h2 style="font-weight:200">Total: <%= pluralize(@invitation.size, 'Invitation') %></h2></div>
		<table class="table table-bordered table-striped table-condensed" >
		  <tr>
			<th>ID</th>
			<th>Invite Date</th>
			<th>Email</th>
			<th>Name</th>
			<th>Invite Code</th>
			<th>Sent By</th>
			<th>Success Date</th>
			<th>Status</th>
		  </tr>

		<% @invitation.each do |sub| %>
		  <tr class="<%= cycle('odd', 'even') %>">
			<td><%= sub._id %></td>
			<td><%= sub.date %> <span class="label"><%= time_ago_in_words(sub.date) + " ago" unless sub.date.nil? %></span></td>
			<td><%= sub.email %></td>
		    <td><%= sub.name %></td>
			<td><%= sub.invite_code %></td>
			<td><%= sub.sent_by %></td>
			<td><%= sub.success_date %> <% unless sub.success_date.nil? %><span class="label"><%= time_ago_in_words(sub.success_date) + " ago" %><% end %></span></td>
			<td>
				<% if sub.status == true %>
					<span class="badge badge-success">signed up!</span>
				<% elsif sub.status == false %>
					<span class="badge badge-important">pending</span>
				<% end %>
			</td>
			<td><%= link_to "Delete", :controller=>'welcome', :action=>'invite_destroy', :_id => sub._id %></td>
		  </tr>
		<% end %>
		</table>
	</div> <!-- .position:relative; -->

</div> <!-- .margin-top -->