<%#= render 'shared/header' %>

<div class="splashLeft">
	<div class="splashLeftBg">
		<%= image_tag('bb-logo.png', :class=>"splash_logo", :size=>"400x75", :alt=>"brandbuddee") %>
	</div> <!-- .splashLeftBg -->
</div> <!-- .splashLeft -->

<div class="splash_wrap">
	<%#= image_tag('bb-logo.png', :class=>"splash_logo", :size=>"400x75", :alt=>"brandbuddee") %>
</div> <!-- .splash_wrap -->

<div class="splashRight">

	<div class="splashMessage">
		<h2><b>brandbuddee</b> is a social word of mouth platform that connects people with brands worldwide.</h2>

		<div class="beta_form">

			<div id="subscribe_container">
				<div class="subscribe_wrap">
				  <%= form_tag url_for(:action => 'create'), :id => "subscribe", :class => "form-horizontal", :remote => true do %>
				      <%= text_field_tag :email, nil, :id =>"subscribe_field", :class => "input-large", :placeholder=>"Sign up for the beta" %>
				      <%= hidden_field_tag(:link, @link) %>
				      <%= submit_tag "Sign up", :class=>"btn btn-large" %>
				    <div class="message"></div>
				  <% end %>
				</div> <!-- .subscribe_wrap -->
				<div id="share_box"></div>
			</div> <!-- #subscribe_container -->

    	</div> <!-- .beta_form -->
	</div> <!-- .splashMessage -->

	<div class="splashFooter">
		<span>© 2012 BrandBuddee. All rights reserved.</span>
<!-- 		<span><a href="#">Terms of Use</a></span>
		<span><a href="#">Privacy Policy</a></span>
		<span><a href="#">Contact Us</a></span> -->
	</div> <!-- .splashFooter -->

</div> <!-- splashRight -->