<%= render 'shared/header' %>


<div class="container" style="margin-top:50px;">
	<p class="ac" style="margin:0;">
		<b style="font-size:34px;color:#4F4948;"><i class="icon-cogs" style="color:#7EC1E1;font-size:1.5em;line-height:25%;"></i> How Does it Work?</b>&nbsp;&nbsp;&nbsp;<b style="font-size:34px;color:#7EC1E1;">It's Simple!</b>
		<!-- <div style="font-size:15px;text-align:center;">get the word out about your business through your fans</div> -->
	</p>
	<div class="divisor divisor_services">
        <div class="circle_left"></div>
        <div class="circle_right"></div>
    </div>
	<div class="row" style="margin-top:5%;">
		<div class="span3 select-share-enjoy" style="margin-left:7%;cursor:pointer;border-color:#7EC1E1;top:-30px;" id="triggerSlide1">
			<p class="center-me">
				<%= image_tag "/assets/learn-more-icon1.png", size: "200x200", id: "iconSlide1" %>
			</p>
			<h1 style="color:#7EC1E1;" id="textSlide1" class="center-me">SELECT</h1>
			<p class="center-me">a gift and story that interests you</p>
		</div>
		<div class="span3 offset1 select-share-enjoy" id="triggerSlide2" style="cursor:pointer;">
			<p class="center-me">
				<%= image_tag "/assets/learn-more-icon2.png", size: "200x200", id: "iconSlide2" %>
			</p>
			<h1 style="color:black;" id="textSlide2" class="center-me">SHARE</h1>
			<p class="center-me">the story with your friends, get gifted</p>
		</div>
		<div class="span3 offset1 select-share-enjoy" id="triggerSlide3" style="cursor:pointer;">
			<p class="center-me">
				<%= image_tag "/assets/learn-more-icon3.png", size: "200x200", id: "iconSlide3" %>
			</p>
			<h1 style="color:black;" id="textSlide3" class="center-me">ENJOY</h1>
			<p class="center-me">FREE tickets to movies, cruises, & everything in between</p>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
        	<div id="layerslider_6" class="ls-wp-container" style="width:100%; height:540px; margin:0px auto;">
        		<div class="ls-layer" style="slidedirection:right; slidedelay:6500; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition2d:88,97,102,106,108,109,113;">
        			<img src="/assets/learn-more-BW1.jpg" class="ls-bg" alt="seattle-rewards">
        			<i class="ls-s-1 icon-hand-right" style="position:absolute; top:13%; left:19%; slidedirection:left; slideoutdirection:left; durationin:500; durationout:750; easingin:easeOutBack; easingout:easeInOutQuint; delayin:0; delayout:0; scalein:.1; scaleout:.1; showuntil:0;font-size:5.5em;color:#000;"></i>
        			<h5  class="ls-s-1" style="slidedirection:right; slideoutdirection:right; durationin:500; durationout:750; easingin:easeOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap; position:absolute; top:10%; left:305px;"> SELECT a gift and story that interests you </h5>
                    <i class="ls-s1 icon-group" style="position:absolute; top:28%; left:10%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:500; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s1" style="position:absolute; top:27%; left:25%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:500; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Events</h5>
                    <i class="ls-s2 icon-music" style="position:absolute; top:28%; left:55%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:1000; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s2" style="position:absolute; top:27%; left:70%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:1000; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Music</h5>
                    <i class="ls-s3 icon-tag" style="position:absolute; top:44%; left:10%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:1500; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s3" style="position:absolute; top:43%; left:26%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:1500; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Fashion</h5>
                    <i class="ls-s4 icon-laptop" style="position:absolute; top:44%; left:55%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2000; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s4" style="position:absolute; top:43%; left:69%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2000; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Tech</h5>
                    <i class="ls-s5 icon-food" style="position:absolute; top:62%; left:10%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2500; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s5" style="position:absolute; top:61%; left:25%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2500; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Food</h5>
                    <i class="ls-s6 icon-fighter-jet" style="position:absolute; top:62%; left:55%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:3000; delayout:0; rotateout:90; showuntil:0;font-size:5em; color:#000;"></i>
                    <h5 class="ls-s6" style="position:absolute; top:61%; left:70%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:3000; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Travel</h5>
        			<i class="ls-s7 icon-heart" style="position:absolute; top:79%; left:10%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:3500; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
        			<h5 class="ls-s7" style="position:absolute; top:77%; left:26%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:3500; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Charity</h5>
                    <i class="ls-s8 icon-medkit" style="position:absolute; top:79%; left:55%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:4000; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
        			<h5 class="ls-s8" style="position:absolute; top:77%; left:75%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:4000; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Health/Fitness</h5>
        			<i class="ls-s9 icon-film" style="position:absolute; top:95%; left:10%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:4500; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
        			<h5 class="ls-s9" style="position:absolute; top:94%; left:30%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:4500; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Entertainment</h5>
                    <i class="ls-s10 icon-home" style="position:absolute; top:94%; left:55%; slidedirection:top; slideoutdirection:left; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:5000; delayout:0; rotateout:90; showuntil:0; font-size:5em; color:#000;"></i>
                    <h5 class="ls-s10" style="position:absolute; top:93%; left:76%; slidedirection:top; slideoutdirection:bottom;  durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:5000; delayout:0; rotateout:0; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap;">Home/Parenting</h5>                    
        		</div><!-- /.ls-layer -->
                <div class="ls-layer" style="slidedirection:right; slidedelay:3000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition2d:88,97,102,106,108,109,113;">
                    <img src="/assets/learn-more-BW2.jpg" class="ls-bg" alt="Slide background">
                    <i class="ls-s-1 icon-bullhorn" style="position:absolute; top:21%; left:15%; slidedirection:fade; slideoutdirection:fade; durationin:500; durationout:1500; easingin:easeInOutQuint; easingout:easeInQuart; delayin:0; delayout:0; rotatein:130; rotateout:35; scalein:.5; scaleout:5; showuntil:0;font-size:11em;color:#000;"></i>
                    <h5 class="ls-s-1" style="slidedirection:right; slideoutdirection:right; durationin:500; durationout:750; easingin:easeInOutQuint; easingout:easeInQuart; delayin:0; delayout:0; rotatein:360; rotateout:35; scalein:.5; scaleout:5; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap; position:absolute; top:18%; left:45%;"> SHARE the story, get gifted </h5>
                    <i class="ls-s-1 icon-user" style="position:absolute; top:61%; left:12%; slidedirection:bottom; slideoutdirection:bottom; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:500; delayout:0; rotateout:90; showuntil:0; font-size:11em; color:#000;"></i>
                    <i class="ls-s-1 icon-bullhorn" style="position:absolute; top:61%; left:25%; slidedirection:top; slideoutdirection:top; durationin:500; durationout:1250; easingin:easeOutQuart; easingout:easeInQuart; delayin:1000; delayout:0; rotatein:130; rotateout:35; scalein:.5; scaleout:5; showuntil:0;font-size:7.5em;color:#000;"></i>
                    <i class="ls-s-1 icon-group" style="position:absolute; top:61%; left:37%; slidedirection:bottom; slideoutdirection:bottom; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:1500; delayout:0; rotateout:0; showuntil:0; font-size:11em; color:#000;"></i>
                    <i class="ls-s-1 icon-minus" style="position:absolute; top:58%; left:53%; slidedirection:top; slideoutdirection:top; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2000; delayout:0; rotateout:0; showuntil:0; font-size:11em; color:#000;"></i>
                    <i class="ls-s-1 icon-minus" style="position:absolute; top:65%; left:53%; slidedirection:top; slideoutdirection:top; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2000; delayout:0; rotateout:0; showuntil:0; font-size:11em; color:#000;"></i>
                    <i class="ls-s-1 icon-gift" style="position:absolute; top:59%; left:70%; slidedirection:bottom; slideoutdirection:bottom; durationin:500; durationout:1000; easingin:easeOutQuart; easingout:easeInQuart; delayin:2500; delayout:0; rotateout:0; showuntil:0; font-size:11em; color:#000;"></i>
                </div><!-- /.ls-layer -->
                <div class="ls-layer" style="slidedirection:right; slidedelay:5000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition2d:88,97,102,106,108,109,113;">
                    <img src="/assets/learn-more-BW3.jpg" class="ls-bg" alt="seattle-rewards">
                    <img src="/assets/learn-more-cruise-ship.png" class="ls-s-1" alt="seattle-rewards" style="position:absolute; top:15%; left:12%; slidedirection:fade; slideoutdirection:fade; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInQuart; delayin:0; delayout:0; rotatein:720; rotateout:45; scalein:.5; scaleout:5; showuntil:0;" width="227" height="84">
                    <h5  class="ls-s-1" style="slidedirection:fade; slideoutdirection:fade; durationin:1500; durationout:750; easingin:easeInOutQuint; easingout:easeInQuart; delayin:0; delayout:0; rotatein:0; rotateout:35; scalein:.5; scaleout:5; showuntil:0; font-weight:normal; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; padding-top:10px; padding-right:25px; padding-bottom:10px; padding-left:25px; font-family:''Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif'; font-size:30px; color:#fff; background:#000; white-space:nowrap; position:absolute; top:12%; left:60%;"> ENJOY FREE tickets to movies, cruises, and everything in between </h5>
                    <img src="/assets/learn-more-cruise-ship.png" class="ls-s-1" alt="seattle-rewards" style="position:absolute; top:71%; left:121%; slidedirection:left; slideoutdirection:fade; durationin:5000; durationout:1250; easingin:linear; easingout:easeInQuart; delayin:1000; delayout:0; rotatein:0; rotateout:0; scalein:.5; scaleout:5; showuntil:0;" width="227" height="84">
                    <img src="/assets/learn-more-tickets.png" class="ls-s-1" alt="seattle-rewards" style="position:absolute; top:50%; left:50%; slidedirection:bottom; slideoutdirection:top; durationin:750; durationout:750; easingin:easeOutQuart; easingout:easeInQuart; delayin:1333; delayout:0; rotatein:0; rotateout:0; scalein:.5; scaleout:5; showuntil:0;" width="151" height="119">
                    <img src="/assets/learn-more-plane-small.png" class="ls-s-1" alt="seattle-rewards" style="position:absolute; top:33%; left:-21%; slidedirection:right; slideoutdirection:fade; durationin:4000; durationout:1250; easingin:linear; easingout:easeInQuart; delayin:1750; delayout:0; rotatein:0; rotateout:0; scalein:.5; scaleout:5; showuntil:0;" width="225" height="95">
                </div><!-- /.ls-layer -->
        	</div><!-- /#layerslider_6 -->
		</div><!-- /.span12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="span12">
			<div class="divisor divisor_services">
                <div class="circle_left"></div>
                <div class="circle_right"></div>
            </div>
			<ul class="ch-grid">
				<li>
					<div class="ch-item">
						<div class="ch-info">
							<div class="ch-info-front ch-img-1" style="box-shadow: inset 0 0 0 16px #7EC1E1;"></div>
							<div class="ch-info-back">
								<h3>It's ok<br>to share</h3>
								<p><a href="#ok-to-share-modal" data-toggle="modal">Learn More!</a></p>
							</div>
						</div>
					</div>
				</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-img-2" style="box-shadow: inset 0 0 0 16px #C7E478;"></div>
	                		<div class="ch-info-back">
	                  			<h3>Our<br>mission</h3>
	                  			<p><a href="#our-mission-modal" data-toggle="modal">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	          	<li>
	            	<div class="ch-item">
	              		<div class="ch-info">
	                		<div class="ch-info-front ch-img-3" style="box-shadow: inset 0 0 0 16px #7EC1E1;"></div>
	                		<div class="ch-info-back">
	                  			<h3>How you &<br>the brand WIN</h3>
	                  			<p><a href="#you-brand-win-modal" data-toggle="modal">Learn More!</a></p>
	                		</div>
	              		</div>
	            	</div>
	          	</li>
	        </ul><!-- /ch-grid -->
	        <div class="divisor divisor_services">
                <div class="circle_left"></div>
                <div class="circle_right"></div>
            </div>
		</div><!-- /span12 -->
	</div><!-- /row -->
	<div class="row" style="margin-top:5%;">
		<div class="span12">
			<p class="center-me"><a href="#privacyModal" class="btn btn-large btn-ultraviolet-rays-1" role="button" data-toggle="modal" style="width:50%;">brandbuddee PROTECTS Your PRIVACY</a></p>
		</div>
	</div>
	<div class="row" style="margin-top:7%;">
		<div class="span12" style="margin-left: -20px;text-align: center;">
			<div class="headline">
				<h4><i class="icon-arrow-down"></i> Still Unsure? Keep Reading!</h4>
			</div>
			<h2></h2>
		</div>
	</div>
</div><!-- /container -->
<section class="comments">
    <div class="flexslider">
    	<ul class="slides">
            <li>
                <div class="image">
                    <img src="/assets/testimonial1.jpg" alt="Image">
                </div>
                <div class="name" style="top:15.4%;">
                    <h3>Amanda D.</h3>
                </div>
                <div class="job" style="top:15.4%;">
                    <h3>Portland, OR</h3>
                </div>
                <p>"I have two daughters who are super out-doorsy and active (just like their father) and I bought them clothing online from a discount that I earned on brandbuddee.com. They know exactly what us moms need! Even when we feel like going out on that rare night we get a babysitter, <b>they treat us like VIPs at all of the exclusive clubs!</b>"</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/testimonial2.jpg" alt="Image">
                </div>
                <div class="name" style="top:17%;">
                    <h3>Sophie R.</h3>
                </div>
                <div class="job" style="top: 17%;">
                    <h3>Denver, CO</h3>
                </div>
                <p><b>"brandbuddee is the best way to earn free rewards by the brands that I already love!"</b> You don't have to pay for a thing on the site! And Mama's gather 'round, because these guys at brandbuddee have got everything you need to be a great parent!</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/testimonial3.jpg" alt="Image">
                </div>
                <div class="name" style="top:17%;">
                    <h3>Brandon W.</h3>
                </div>
                <div class="job" style="top: 17%;">
                    <h3>Seattle, WA</h3>
                </div>
                <p>"<b>I love brandbuddee.com!</b> I always get VIP treadment to all the clubs I go to by earning points on the site! They have all of the connections here in Seattle!"</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/testimonial4.jpg" alt="Image">
                </div>
                <div class="name" style="top:13.8%;">
                    <h3>Lindsay S.</h3>
                </div>
                <div class="job" style="top:13.8%;">
                    <h3>San Francisco, CA</h3>
                </div>
                <p>"<b>brandbuddee.com is that one site I've been looking for that doesn't charge you a thing to enter or be a member of the site!</b> They only thime I had to pay was when I earned a discount instead of free things, but that's way better than full price! Am I right?! Saving money is the best feeling, and it's like we're getting gifts from the brands we already love! I love brandbuddee! I'm so happy someone has finally come up with something so awesome!"</p>
            </li>
            <li>
                <div class="image">
                    <img src="/assets/testimonial5.jpg" alt="Image">
                </div>
                <div class="name" style="top:15.4%;">
                    <h3>Kylie F.</h3>
                </div>
                <div class="job" style="top:15.4%;">
                    <h3>Las Vegas, NV</h3>
                </div>
                <p>"Being a showgirl in Las Vegas, I already spend a lot of money on costumes and show makeup, so it's nice to get a little money off or a gift here and there. <b>brandbuddee is the one site that does it all for me.</b> It's nice to go see a movie or a show without having to pay an arm and a leg. Thanks brandbuddee."</p>
            </li>
        </ul><!-- /slides -->
	</div><!-- /flexslider -->     
</section>

<div class="container" style="margin-top:4%;">
	<div class="row">
		<div class="span12">
			<p class="center-me">
				<a href="/signup" class="btn btn-ultraviolet-rays-1 btn-large " style="width:50%;">Click Here to Sign up for Free</a>
			</p>
		</div>
	</div>
</div>

<br>
<%= render 'shared/footer' %>
<div id="privacyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">brandbuddee Privacy Policy</h3>
  	</div>
  	<div class="modal-body">
  		<h2 style="line-height:120%;text-align:center;padding-bottom:3%;">General Terms and Conditions applicable to Use of a Web Site.</h2>
    	<p style="text-align:justify;">Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy:</p>
    	<ul>
    		<li><b>brandbuddee will never give out your email address or contact information!</b></li>
    		<li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
    		<li>We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
    		<li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
    		<li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
    		<li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
    		<li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
    		<li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
    	</ul>
  	</div>
  	<div class="modal-footer">
    	<button class="btn btn-ultraviolet-rays-1" data-dismiss="modal" aria-hidden="true">Great!</button>
  	</div>
</div>
<div id="our-mission-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">Our Mission</h3>
  	</div>
  	<div class="modal-body">
  		<p style="text-align:justify;">For businesses small and large looking to get more social media ROI, customer referrals, and social media buzz, brandbuddee is an online sharing platform that enables scalable and organic word-of-mouth marketing and referrals from your customers, fans, and influencers. Unlike many of our competitors in the industry, we don't pay people to promote your brand; that isn't organic or genuine.  We only reward them with points towards products, services, and exclusives from the brand they love—your’s.</p>
  	</div>
  	<div class="modal-footer">
    	<button class="btn btn-ultraviolet-rays-1" data-dismiss="modal" aria-hidden="true">Great!</button>
  	</div>
</div>
<div id="ok-to-share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">It's OK to Share</h3>
  	</div>
  	<div class="modal-body">
  		<p style="text-align:justify;">On brandbuddee, you're just sharing the things you already find interesting--movies, events, and new product launches! Unlike anywhere else, we reward you for sharing these stories. Don't see something you're interested in on brandbuddee? Please, recommend brands or products to us, because we'd love to have what interests you on our platform.</p>
  	</div>
  	<div class="modal-footer">
    	<button class="btn btn-ultraviolet-rays-1" data-dismiss="modal" aria-hidden="true">Great!</button>
  	</div>
</div>
<div id="you-brand-win-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="myModalLabel">How You & the Brand Win</h3>
  	</div>
  	<div class="modal-body">
  		<p style="text-align:justify;">Our process is all about sharing stories that interest you. We reward you with exclusive experiences and products from your favorite brands just for sharing their stories. This keeps you happy, the business happy, and your friends happy. You should be rewarded for sharing things that interest you and connecting with your favorite brands. Now you can!</p>
  	</div>
  	<div class="modal-footer">
    	<button class="btn btn-ultraviolet-rays-1" data-dismiss="modal" aria-hidden="true">Great!</button>
  	</div>
</div>