<%= render 'shared/brands_header' %>
<div class="container-fluid">
<div class="row-fluid">
<%= render 'shared/brands_side' %>
<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a title="sweepstakes contests giveaways brandbuddee" href="http://www.enable-javascript.com/" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>
<div id="content" class="span10">
<% flash.each do |name, msg| %>
<div class="row">
	<div class="span6 offset3">
		<div class="alert alert-<%= name %> fade in">
			<a title="sweepstakes contests giveaways brandbuddee" href="#" class="close" data-dismiss="alert">&times;</a>
			<%= msg.html_safe %>
		</div>
	</div>
</div>
<% end %>
<!-- Begin: Content -->
<div>
	<hr>
	<ul class="breadcrumb">
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="/brands/dashboard">Dashboard</a> <span class="divider">/</span>
		</li>
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="/brands/campaigns">View All Campaigns</a> <span class="divider">/</span>
		</li>
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="#">View Campaign: <%= truncate @campaign.title, length: 45, separator: ' ', omission: '...' %></a>
		</li>
		<% unless @brand.manager_first.nil? %><li class="pull-right">Welcome back, <%= @brand.manager_first %></li><% end %>
	</ul>
	<hr>
</div>
<div class="row-fluid">
	<a title="sweepstakes contests giveaways brandbuddee" class="quick-button span2 offset2 go-viral-button" href="/brands/campaigns/viral?_id=<%= @campaign.id %>">
		<i class="icon-beaker" style="color:#FF5D5D;"></i>
		<p>Go Viral!</p>
	</a>
	<a title="sweepstakes contests giveaways brandbuddee" class="quick-button span2" href="/brands/campaigns/buddees?_id=<%= @campaign.id %>">
		<i class="icon-group"></i>
		<p>Buddees</p>
		<span class="notification green"><%= @campaign.users.count %></span>
	</a>
	<a title="sweepstakes contests giveaways brandbuddee" class="quick-button span2" href="/brands/campaigns/redeems?_id=<%= @campaign.id %>">
		<i class="icon-barcode"></i>
		<p>Redeems</p>
		<span class="notification"><%= @campaign.redeems.count %></span>
	</a>
	<a title="sweepstakes contests giveaways brandbuddee" class="quick-button span2" href="/brands/campaigns/tasks?_id=<%= @campaign.id %>">
		<i class="icon-check"></i>
		<p>Tasks</p>
		<span class="notification yellow"><%= @campaign.num_of_tasks %></span>
	</a>
</div>

<hr>

<div class="row-fluid">
	<div class="circleStats">
		<div class="span4" onTablet="span4" onDesktop="span4" style="margin-top:3%;">
        	<div class="circleStatsItem blue">
            	<i class="icon-bullhorn" style="margin-top:-7%;"></i>
				<span id="share_stat" class="hidden"><%= @share_percentage %></span>
				<span class="blueCircle statCircles"><span class="statAdd">+</span><%= @share_percentage.to_i %><span class="statPercent">%</span></span>
        	</div>
			<div class="box-small-title"><a title="sweepstakes contests giveaways brandbuddee" href="#" rel="tooltip" data-placement="bottom" data-original-title="<%= @share_percentage.to_i %>%" style="font-size:1.5em;color:#08c;text-decoration:none;cursor:default;">Shares</a></div>
		</div><!-- /.span4 -->
	</div><!-- /.circleStats -->
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Weekly Stat</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-arrow-up green" style="display: inline-block; width: 1.25em; text-align: center;"></i>
						<span class="green"><%= @users_weekly %></span>
						New Users
					</a>
				</li>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  		<i class="icon-plus blue" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  		<span class="blue"><%= @trackings_weekly.size %></span>
				  		New Trackings
					</a>
			  	</li>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  		<i class="icon-arrow-up green" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  		<span class="green"><%= @trackings_weekly.sum(:views).to_i %></span>
				  		New Views
					</a>
			  	</li>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  		<i class="icon-plus blue" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  		<span class="blue"><%= @redeems_weekly %></span>
				  		New Redeems                                    
					</a>
			  	</li>
			</ul>
		</div><!-- /.box-content -->
	</div><!-- /.box span4 -->
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Shares Per Social Network</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-facebook" style="font-size:1.35em;color:#3B5998;display: inline-block; width: 1.25em; text-align: center;"></i>
						<span style="color:#3B5998;"><%= @total_facebook_clicks %></span>
						Facebook Shares
					</a>
				</li>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
					  	<i class="icon-twitter blue" style="font-size:1.35em;display: inline-block; width: 1.25em; text-align: center;"></i>
					  	<span class="blue"><%= @total_twitter_clicks %></span>
					  	Twitter Shares
					</a>
			  	</li>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
					  <i class="icon-pinterest" style="font-size:1.35em;color:#CB2027;display: inline-block; width: 1.25em; text-align: center;"></i>
					  <span style="color:#CB2027;"><%= @total_pinterest_clicks %></span>
					  Pinterest Shares
					</a>
			  	</li>
			  	<li>
			  		<a title="sweepstakes contests giveaways brandbuddee" href="#">
			  			<i class="icon-tumblr" style="font-size:1.35em;color:#365472;display: inline-block; width: 1.25em; text-align: center;"></i>
			  			<span style="color:#365472;"><%= @total_tumblr_clicks %></span>
			  			Tumblr Shares
			  		</a>
			  	</li>
			  	<li>
			  		<a title="sweepstakes contests giveaways brandbuddee" href="#">
			  			<i class="icon-linkedin-sign" style="font-size:1.35em;color:#0073B2;display: inline-block; width: 1.25em; text-align: center;"></i>
			  			<span style="color:#0073B2;"><%= @total_linkedin_clicks %></span>
			  			LinkedIn Shares
			  		</a>
			  	</li>
			  	<li>
			  		<a title="sweepstakes contests giveaways brandbuddee" href="#">
			  			<i class="icon-google-plus-sign" style="font-size:1.35em;color:#CB3C2C;display: inline-block; width: 1.25em; text-align: center;"></i>
			  			<span style="color:#CB3C2C;"><%= @total_google_plus_clicks %></span>
			  			Google+ Shares
			  		</a>
			  	</li>
			  	<li>
			  		<a title="sweepstakes contests giveaways brandbuddee" href="#">
			  			<i class="icon-bullhorn green" style="font-size:1.35em;display: inline-block; width: 1.25em; text-align: center;"></i>
			  			<span class="green"><%= @total_social_clicks %></span>
			  			Total Shares
			  		</a>
			  	</li>
			</ul>
		</div>
	</div><!--/span-->
</div><!-- /.row-fluid -->
<hr>
<div class="row-fluid">
<% unless @total_social_clicks < 1 %>
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-bar-chart"></i><span class="break"></span>Social Network Comparison</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div id="social-share-comparison" style="height:300px"></div>
		</div>
	</div>
<% end %>
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Monthly Stat</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-arrow-up green" style="display: inline-block; width: 1.25em; text-align: center;"></i>
						<span class="green"><%= @users_monthly %></span>
						New Users                                    
					</a>
				</li>
			  <li>
				<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  <i class="icon-plus blue" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  <span class="blue"><%= @trackings_monthly.size %></span>
				  New Trackings
				</a>
			  </li>
			  <li>
				<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  <i class="icon-arrow-up green" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  <span class="green"><%= @trackings_monthly.sum(:views).to_i %></span>
				  New Views
				</a>
			  </li>
			  <li>
				<a title="sweepstakes contests giveaways brandbuddee" href="#">
				  <i class="icon-plus blue" style="display: inline-block; width: 1.25em; text-align: center;"></i>
				  <span class="blue"><%= @redeems_monthly %></span>
				  New Redeems                                    
				</a>
			  </li>
			</ul>
		</div>
	</div><!--/span-->
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-user"></i><span class="break"></span>Last Users</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<% @last_users.each do |l| %>
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="/<%= l.nickname unless l.nickname.nil? %>">
						<%= image_tag(l.profile_image_url(:thumb).to_s, :class=>'avatar') %>

					</a>
					<strong>Name:</strong> <a title="sweepstakes contests giveaways brandbuddee" href="/<%= l.nickname unless l.nickname.nil? %>" target="_blank"><%= l.first_name unless l.first_name.nil? %> <%= l.last_name unless l.last_name.nil? %><% if l.first_name.nil? || l.last_name.nil? %> <%= l.email %> <% end %></a><br>
					<strong>Since:</strong> <%= time_ago_in_words(l.date) + " ago" unless l.date.nil? %><br>
					<strong>Status:</strong> <span class="label label-info"><%= l.provider %></span>                                  
				</li>
				<% end %>

			</ul> <!-- .dashboard-list -->
		</div>
	</div><!--/span-->
</div><!-- /.row-fluid -->
<hr>
<div class="row-fluid">
	<div class="box span4 offset2" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Monetary Value of Campaign</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="http://www.inc.com/matthew-wong/social-commerce-study-eventbrite-gains-traction.html" target="_blank">
						<i class="icon-facebook" style="font-size:1.35em;color:#3B5998;display: inline-block; width: 1.25em; text-align: center;"></i>
						<span style="color:#3B5998; padding-right:5%; padding-left:3%;"><%= number_to_currency(@total_facebook_clicks.to_i * 4.15) %></span>
						Facebook Shares ($4.15 each)
					</a>
				</li>
				<% if @campaign.task_facebook["use_it"]==true %>
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="http://mashable.com/2013/04/17/facebook-fan-value-researcher/" target="_blank">
						<i class="icon-facebook-sign" style="font-size:1.35em;color:#3B5998;display:inline-block; width: 1.25em; text-align: center;"></i>
						<span style="color:#3B5998; padding-right:5%; padding-left:3%;"><%= number_to_currency(@campaign.tasks.where(completed_facebook: true).count * 174) %></span>
						Facebook Likes ($174 each)
					</a>
				</li>
				<% end %>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
					  	<i class="icon-twitter blue" style="font-size:1.35em;display: inline-block; width: 1.25em; text-align: center;"></i>
					  	<span class="blue" style="padding-right:5%; padding-left:3%;"><%= number_to_currency(@total_twitter_clicks.to_i * 1.85) %></span>
					  	Twitter Shares ($1.85 each)
					</a>
			  	</li>
			  	<% if @campaign.task_twitter["use_it"]==true %>
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="http://www.pcmag.com/article2/0,2817,2401509,00.asp" target="_blank">
						<i class="icon-twitter-sign blue" style="font-size:1.35em;display:inline-block; width: 1.25em; text-align: center;"></i>
						<span class="blue" style="padding-right:5%; padding-left:3%;"><%= number_to_currency(@campaign.tasks.where(completed_twitter: true).count * 2) %></span>
						Twitter Follows ($2 each)
				</li>
				<% end %>
			  	<li>
			  		<a title="sweepstakes contests giveaways brandbuddee" href="#">
			  			<i class="icon-linkedin-sign" style="font-size:1.35em;color:#0073B2;display: inline-block; width: 1.25em; text-align: center;"></i>
			  			<span style="color:#0073B2; padding-right:5%; padding-left:3%;"><%= number_to_currency(@total_linkedin_clicks.to_i * 0.92) %></span>
			  			LinkedIn Shares (92&cent; each)
			  		</a>
			  	</li>
			  	<% @monetary_total = (@total_facebook_clicks.to_i * 4.15) + (@total_twitter_clicks.to_i * 1.85) + (@total_linkedin_clicks.to_i * 0.92) %>
			  	<% @monetary_total += (@campaign.tasks.where(completed_facebook: true).count * 174) if @campaign.task_facebook["use_it"]==true %>
			  	<% @monetary_total += (@campaign.tasks.where(completed_twitter: true).count * 2) if @campaign.task_twitter["use_it"]==true %>
			  	<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
					  <i class="icon-usd red" style="font-size:1.35em;display: inline-block; width: 1.25em; text-align: center;"></i>
					  <span class="red" style="padding-right:5%; padding-left:3%; font-size: 1.7em;"><%= number_to_currency(@monetary_total) %></span>
					  <span class="red" style="list-style: none; font-size: 1.7em; line-height: 150%; text-align: -webkit-match-parent; display: inline; font-weight: 700;">Total Value</span>
					</a>
			  	</li>
			</ul>
		</div>
	</div><!--/span-->
	<div class="box span4" onTablet="span6" onDesktop="span4">
		<div class="box-header">
			<h2><i class="icon-list"></i><span class="break"></span>Equivilent Competitor's Costs</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<ul class="dashboard-list">
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-facebook" style="font-size:1.35em;color:#3B5998;display: inline-block; width: 1.25em; text-align: center;"></i>
						<span style="color:#3B5998; padding-right:5%; padding-left:3%;"><%= number_to_currency(@total_facebook_clicks.to_i * 1.08) %></span>
						Facebook ($1.08 each)
					</a>
				</li>
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-google-plus" style="font-size:1.35em;color:#CB3C2C;display:inline-block; width: 1.25em; text-align: center;"></i>
						<span style="color:#CB3C2C; padding-right:5%; padding-left:3%;"><%= number_to_currency(@total_google_plus_clicks.to_i * 3.3) %></span>
						Google Ads ($3.30 each)
				</li>
				<li>
					<a title="sweepstakes contests giveaways brandbuddee" href="#">
						<i class="icon-usd yellow" style="font-size:1.35em;display:inline-block; width: 1.25em; text-align: center;"></i>
						<span class="yellow" style="padding-right:5%; padding-left:3%;"><%= number_to_currency((@total_facebook_clicks.to_i * 1.08) + (@total_google_plus_clicks.to_i * 3.3)) %></span>
						Total Cost
				</li>
			</ul>
		</div>
	</div><!-- /span4 -->
</div>
<hr>
<!-- end: Content -->
</div><!--/#content.span10-->
	</div><!--/fluid-row-->

<div class="clearfix"></div>

<%= render 'shared/brands_footer' %>

</div><!--/.fluid-container-->
<%= render 'shared/brands_scripts' %>
<% unless @total_social_clicks < 1 %>
<script type="text/javascript">
	var data = [
		{ label: "Facebook",  data: <%= @total_facebook_clicks %>},
		{ label: "Twitter",  data: <%= @total_twitter_clicks %>},
		{ label: "Pinterest", data: <%= @total_pinterest_clicks %>},
		{ label: "Tumblr", data: <%= @total_tumblr_clicks %>},
		{ label: "Linkedin", data: <%= @total_linkedin_clicks %>},
		{ label: "Google+", data: <%= @total_google_plus_clicks %>}
	];
	if($("#social-share-comparison").length) {
		$.plot($("#social-share-comparison"), data,
		{
			series: {
				pie: {
					show: true
				}
			},
			grid: {
				hoverable: true,
				clickable: true
			},
			legend: {
				show: false
			},
			colors: ["#3B5998", "#1DCAFF", "#CB2027", "#365472", "#0073B2", "#CB3C2C"]
		});
		function pieHover(event, pos, obj) {
			if (!obj)
				return;
			percent = parseFloat(obj.series.percent).toFixed(2);
			$("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
		}
		$("#social-share-comparison").bind("plothover", pieHover);
	}
</script>
<% end %>
