<%= render 'shared/brands_header' %>
<div class="container-fluid">
<div class="row-fluid">
<%= render 'shared/brands_side' %>
<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a title="sweepstakes contests giveaways brandbuddee" href="http://www.enable-javascript.com/" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>
<div id="content" class="span10">
<% flash.each do |name, msg| %>
<div class="row">
	<div class="span6 offset3">
		<div class="alert alert-<%= name %> fade in">
			<a title="sweepstakes contests giveaways brandbuddee" href="#" class="close" data-dismiss="alert">&times;</a>
			<%= msg.html_safe %>
		</div>
	</div>
</div>
<% end %>
<!-- Begin: Content -->
<div>
	<hr>
	<ul class="breadcrumb">
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="/brands/dashboard">Dashboard</a> <span class="divider">/</span>
		</li>
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="/brands/campaigns">View All Campaigns</a> <span class="divider">/</span>
		</li>
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="/brands/campaigns/view?_id=<%= @campaign.id %>">View Campaign: <%= truncate @campaign.title, length: 45, separator: ' ', omission: '...' %></a> <span class="divider">/</span>
		</li>
		<li>
			<a title="sweepstakes contests giveaways brandbuddee" href="#">Task Analytics</a>
		</li>
		<% unless @brand.manager_first.nil? %><li class="pull-right">Welcome back, <%= @brand.manager_first %></li><% end %>
	</ul>
	<hr>
</div>
<div class="row-fluid sortable">
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-pencil"></i><span class="break"></span>Write a Blog Post</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_blog_post["use_it"].nil? || @campaign.task_blog_post["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-file green" style="font-size:1.5em;"></i>
							<span class="green"><%= @total_completed_blog %></span>
							Blog <%= 'Post'.pluralize(@total_completed_blog) %> Written
						</a>
					</li>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
	
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-list-ol"></i><span class="break"></span>Blog Post Addresses</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_blog_post["use_it"].nil? || @campaign.task_blog_post["use_it"].blank? %>
			<div class="box-content" style="overflow:hidden;">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" id="btnCopyToClipboard" class="btn btn-info btn-mini pull-right btnCopyToClipboard" data-clipboard-target="lstAllBlogAddresses" style="margin-bottom:1%;">COPY ALL TO CLIPBOARD</a>
<ol id="lstAllBlogAddresses">
<% @campaign.tasks.each do |t| %>
<% unless t.blog_post_url.nil? || t.blog_post_url.blank? %>
<li><a title="sweepstakes contests giveaways brandbuddee" href="<%= t.blog_post_url.to_s %>" target="_blank"><%= t.blog_post_url.to_s %></a></li>
<% end %>
<% end %>
</ol>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->

	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-facebook-sign"></i><span class="break"></span>Like on Facebook</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_facebook["use_it"].nil? || @campaign.task_facebook["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-facebook green" style="font-size:1.5em;"></i>
							<span class="green"><%= @total_completed_facebook %></span>
							New Likes - buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Facebook" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								New Likes - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_facebook + @total_engagement_left_uniques %></span>
								Total New Facebook Likes
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_facebook + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Facebook" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_uniques %></span>
								New Likes - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_facebook + @total_engagement_right_uniques %></span>
								Total New Facebook Likes
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-facebook blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_facebook + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
</div><!--/row-->
<hr>
<div class="row-fluid sortable">
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-pencil"></i><span class="break"></span>Yelp Review / Image Contest</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<% unless @campaign.task_yelp["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-file green" style="font-size:1.5em;"></i>
							<span class="green"><%= @total_completed_yelp %></span>
							URLs Posted
						</a>
					</li>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
	
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-book"></i><span class="break"></span>Yelp/Image URLs</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<% unless @campaign.task_yelp["use_it"].blank? %>
			<div class="box-content" style="overflow:hidden;">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" id="btnCopyToClipboardAlt" class="btn btn-info btn-mini pull-right btnCopyToClipboard" data-clipboard-target="lstAllBlogAddressesAlt" style="margin-bottom:1%;">COPY ALL TO CLIPBOARD</a>
<ol id="lstAllBlogAddressesAlt">
<% @campaign.tasks.each do |t| %>
<% unless t.yelp_review.blank? %>
<li><a title="sweepstakes contests giveaways brandbuddee" href="<%= t.yelp_review.to_s %>" target="_blank"><%= t.yelp_review.to_s %></a></li>
<% end %>
<% end %>
</ol>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->

	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-twitter-sign"></i><span class="break"></span>Follow on Twitter</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_twitter["use_it"].nil? || @campaign.task_twitter["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-twitter green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_twitter %></span>
							New Follows - buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Twitter" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								New Follows - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_twitter + @total_engagement_left_uniques %></span>
								Total New Twitter Follows
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_twitter + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Twitter" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_uniques %></span>
								New Follows - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_twitter + @total_engagement_right_uniques %></span>
								Total New Twitter Follows
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-twitter blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_twitter + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
             </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
</div><!--/row-->
<hr>
<div class="row-fluid sortable">
	<div class="box span4">
    	<div class="box-header">
      		<h2><i class="icon-envelope"></i><span class="break"></span>Email Subscription</h2>
      		<div class="box-icon">
        		<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        		<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
      		</div>
    	</div>
    	<% unless @campaign.task_email_subscription["use_it"].blank? %>
      		<div class="box-content">
            	<ul class="dashboard-list">
          			<li>
            			<a title="sweepstakes contests giveaways brandbuddee" href="#">
              				<i class="icon-file green" style="font-size:1.5em;"></i>
              				<span class="green"><%= @total_completed_email %></span>
              				<%= 'Email'.pluralize(@total_completed_email) %> Subscribed
            			</a>
          			</li>
        		</ul>
        	</div>
     	<% else %>
       		<div class="box-content" style="text-align:center;">
             	<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
           	</div>
     	<% end %>
  	</div><!--/span-->
   
   	<div class="box span4">
     	<div class="box-header">
      		<h2><i class="icon-envelope-alt"></i><span class="break"></span>Email Addresses</h2>
      		<div class="box-icon">
        		<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        		<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-close"><i class="icon-remove"></i></a>
      		</div>
    	</div>
    	<% unless @campaign.task_email_subscription["use_it"].blank? %>
      		<div class="box-content" style="overflow:hidden;">
        		<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn btn-info btn-mini pull-right btnCopyToClipboard" data-clipboard-target="lstAllEmailAddresses" style="margin-bottom:1%;">COPY ALL TO CLIPBOARD</a>
<ol id="lstAllEmailAddresses">
<% @campaign.tasks.each do |t| %>
<% unless t.email_address.blank? %>
<li><a title="sweepstakes contests giveaways brandbuddee" href="mailto:<%= t.email_address.to_s %>" target="_blank"><%= t.email_address.to_s %></a></li>
<% end %>
<% end %>
</ol>
        	</div>
     	<% else %>
       		<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
       		</div>
     	<% end %>
	</div><!--/span-->

	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-bolt"></i><span class="break"></span><% unless @campaign.task_custom_1["use_it"].blank? %><%= @campaign.task_custom_1["title"] %><% else %>Custom Task #1<% end %></h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_custom_1["use_it"].nil? || @campaign.task_custom_1["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-hand-right green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_custom1 %></span>
							Completed By buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Custom1" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom1 + @total_engagement_left_uniques %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom1 + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Custom1" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_clicks %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom1 + @total_engagement_right_clicks %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom1 + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
</div><!--/row-->
<hr>
<div class="row-fluid sortable">
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-bolt"></i><span class="break"></span><% unless @campaign.task_custom_2["use_it"].blank? %><%= @campaign.task_custom_2["title"] %><% else %>Custom Task #2<% end %></h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_custom_2["use_it"].nil? || @campaign.task_custom_2["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-hand-right green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_custom2 %></span>
							Completed By buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Custom2" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom2 + @total_engagement_left_uniques %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom2 + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Custom2" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_clicks %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom2 + @total_engagement_right_clicks %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom2 + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->

	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-bolt"></i><span class="break"></span><% unless @campaign.task_custom_3["use_it"].blank? %><%= @campaign.task_custom_3["title"] %><% else %>Custom Task #3<% end %></h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_custom_3["use_it"].nil? || @campaign.task_custom_3["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-hand-right green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_custom3 %></span>
							Completed By buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Custom3" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom3 + @total_engagement_left_uniques %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom3 + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Custom3" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_clicks %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom3 + @total_engagement_right_clicks %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom3 + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
	
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-bolt"></i><span class="break"></span><% unless @campaign.task_custom_4["use_it"].blank? %><%= @campaign.task_custom_4["title"] %><% else %>Custom Task #4<% end %></h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_custom_4["use_it"].nil? || @campaign.task_custom_4["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-hand-right green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_custom4 %></span>
							Completed By buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Custom4" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom4 + @total_engagement_left_uniques %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom4 + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Custom4" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_clicks %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom4 + @total_engagement_right_clicks %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom4 + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
</div>
<hr>
<div class="row-fluid sortable">
	<div class="box span4 offset4">
		<div class="box-header">
			<h2><i class="icon-bolt"></i><span class="break"></span><% unless @campaign.task_custom_5["use_it"].blank? %><%= @campaign.task_custom_5["title"] %><% else %>Custom Task #5<% end %></h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<% unless @campaign.task_custom_5["use_it"].nil? || @campaign.task_custom_5["use_it"].blank? %>
			<div class="box-content">
              	<ul class="dashboard-list">
					<li>
						<a title="sweepstakes contests giveaways brandbuddee" href="#">
							<i class="icon-hand-right green" style="font-size:1.5em;"></i>                               
							<span class="green"><%= @total_completed_custom5 %></span>
							Completed By buddees
						</a>
					</li>
					<% if @campaign.engagement_tasks["left"] == "Custom5" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_left_uniques %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom5 + @total_engagement_left_uniques %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_left_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom5 + @total_engagement_left_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
					<% if @campaign.engagement_tasks["right"] == "Custom5" %>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right green" style="font-size:1.5em;"></i>
								<span class="green"><%= @total_engagement_right_clicks %></span>
								Completed By Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom5 + @total_engagement_right_clicks %></span>
								Total Completed
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_engagement_right_clicks %></span>
								Total Views - Engagement Bar
							</a>
						</li>
						<li>
							<a title="sweepstakes contests giveaways brandbuddee" href="#">
								<i class="icon-hand-right blue" style="font-size:1.5em;"></i>
								<span class="blue"><%= @total_completed_custom5 + @total_engagement_right_clicks %></span>
								Total Views
							</a>
						</li>
					<% end %>
				</ul>
            </div>
         <% else %>
         	<div class="box-content" style="text-align:center;">
         		<p style="font-size:6em; margin-top:4%;"><i class="icon-ban-circle"></i></p>
         	</div>
         <% end %>
	</div><!--/span-->
</div>
<hr>
<% unless @campaign.engagement_tasks["left"].nil? %>
<div class="row-fluid">
			
	<div class="box span12" onTablet="span12" onDesktop="span12">
		<div class="box-header">
			<h2><i class="icon-bar-chart"></i><span class="break"></span>Engagement Bar - <%= @campaign.engagement_task_left_text %> - Over 30 Days</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div id="engagement-graph-over-time"  class="center" style="height:300px" ></div>
		</div>
	</div>
</div>
<hr>
<% end %>
<% unless @campaign.engagement_tasks["right"].nil? %>
<div class="row-fluid">
			
	<div class="box span12" onTablet="span12" onDesktop="span12">
		<div class="box-header">
			<h2><i class="icon-bar-chart"></i><span class="break"></span>Engagement Bar - <%= @campaign.engagement_task_right_text %> - Over 30 Days</h2>
			<div class="box-icon">
				<a title="sweepstakes contests giveaways brandbuddee" href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div id="engagement-graph-over-time2"  class="center" style="height:300px" ></div>
		</div>
	</div>
</div>
<hr>
<% end %>
<!-- end: Content -->
</div><!--/#content.span10-->
	</div><!--/fluid-row-->

<div class="clearfix"></div>

<%= render 'shared/brands_footer' %>

</div><!--/.fluid-container-->
<%= render 'shared/brands_scripts' %>
<script type="text/javascript">
<% unless @campaign.engagement_tasks["left"].nil? %>
	if($("#engagement-graph-over-time").length) {
		var totalViews = [[<%= @engagement_left_clicks[0][0] %>,<%= @engagement_left_clicks[0][1] %>]<% for i in 1..@engagement_left_clicks.count - 1 %>,[<%= @engagement_left_clicks[i][0] %>,<%= @engagement_left_clicks[i][1] %>]<% end %>];
		var uniqueViews = [[<%= @engagement_left_uniques[0][0] %>,<%= @engagement_left_uniques[0][1] %>]<% for i in 1..@engagement_left_uniques.count - 1 %>,[<%= @engagement_left_uniques[i][0] %>,<%= @engagement_left_uniques[i][1] %>]<% end %>];
		var plot = $.plot($("#engagement-graph-over-time"),
			[ { data: totalViews, label: "Total Views"}, { data: uniqueViews, label: "Unique Views" } ], {
				series: {
					lines: { show: true,
						lineWidth: 3,
						fill: true, fillColor: { colors: [ { opacity: 0.08 }, { opacity: 0.01 } ] }
					},
					points: { show: true },
					shadowSize: 2
				},
				grid: { hoverable: true, 
					clickable: true, 
					tickColor: "#eee",
					borderWidth: 0,
				},
				legend: {
					position: 'nw',
				},
				colors: ["#FA5833", "#2FABE9"],
				xaxis: {ticks:11, tickDecimals: 0},
				yaxis: {ticks:11, tickDecimals: 0},
		});
		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}
		var previousPoint = null;
		$("#engagement-graph-over-time").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));
				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;
						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);
						showTooltip(item.pageX, item.pageY,
							item.series.label + " of " + x + " = " + y);
					}
				} else {
					$("#tooltip").remove();
					previousPoint = null;
				} // End else
		});
	} // End if($("#engagement-graph-over-time").length)
<% end %>
<% unless @campaign.engagement_tasks["right"].nil? %>
	if($("#engagement-graph-over-time2").length) {
		var totalViews = [[<%= @engagement_right_clicks[0][0] %>,<%= @engagement_right_clicks[0][1] %>]<% for i in 1..@engagement_right_clicks.count - 1 %>,[<%= @engagement_right_clicks[i][0] %>,<%= @engagement_right_clicks[i][1] %>]<% end %>];
		var uniqueViews = [[<%= @engagement_right_uniques[0][0] %>,<%= @engagement_right_uniques[0][1] %>]<% for i in 1..@engagement_right_uniques.count - 1 %>,[<%= @engagement_right_uniques[i][0] %>,<%= @engagement_right_uniques[i][1] %>]<% end %>];
		var plot = $.plot($("#engagement-graph-over-time2"),
			[ { data: totalViews, label: "Total Views"}, { data: uniqueViews, label: "Unique Views" } ], {
				series: {
					lines: { show: true,
						lineWidth: 3,
						fill: true, fillColor: { colors: [ { opacity: 0.08 }, { opacity: 0.01 } ] }
					},
					points: { show: true },
					shadowSize: 2
				},
				grid: { hoverable: true, 
					clickable: true, 
					tickColor: "#eee",
					borderWidth: 0,
				},
				legend: {
					position: 'nw',
				},
				colors: ["#FA5833", "#2FABE9"],
				xaxis: {ticks:11, tickDecimals: 0},
				yaxis: {ticks:11, tickDecimals: 0},
		});
		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}
		var previousPoint = null;
		$("#engagement-graph-over-time2").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));
				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;
						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);
						showTooltip(item.pageX, item.pageY,
							item.series.label + " of " + x + " = " + y);
					}
				} else {
					$("#tooltip").remove();
					previousPoint = null;
				} // End else
		});
	} // End if($("#engagement-graph-over-time2").length)
<% end %>
</script>
<script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>
<script type="text/javascript">
	ZeroClipboard.setDefaults( { moviePath: '/js/ZeroClipboard.swf' } );
	//var clip = new ZeroClipboard($("#btnCopyToClipboard"));
	//var clipAlt = new ZeroClipboard($("#btnCopyToClipboardAlt"));
	$('.btnCopyToClipboard').each(function() {
		var clip = new ZeroClipboard(this);
	});
</script>
