<div class="container well" style="margin-top:40px;background:rgba(255,255,255,0.6);">

	<h3 class="pull-left">Edit Campaign</h3>
	<a href="/users/show" class="btn btn-small pull-left" style="margin-top:18px;margin-left:15px;">Back</a>
	<br><br>
	<div class="clear"></div>
	<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-success">
			<button class="close" data-dismiss="alert">×</button>
			<%= flash[:notice] %>
		</div> <!-- .alert -->
	<% end %>
	<%= image_tag(@campaign.campaign_image_url(:standard).to_s) %>
	<br><br>

   <%= form_for @campaign, :url => url_for(:controller => 'campaign', :action => 'update_campaign'), :html => {:multipart => true} do |f| %>
    <p>
      <%= f.label :title, :class=>'' %>
      <%= f.text_field :title, :class=>'span6' %>
    </p>
    <p>
      <%= f.label :detail, :class=>'' %>
      <%= f.text_area :detail, :class=>'span6', :rows => '7' %>
    </p>
    <p>
      <%= f.label :campaign_image, :class=>'' %>
      <%= f.file_field :campaign_image, :class=>'span6' %>
    </p>

    <%= f.label :date_end, 'Campaign End Date', :class=>'pull-left' %>
    <% unless @campaign.end_date.nil? %>
      <span class="badge pull-left" style="margin-left:10px;"><%= @campaign.end_date %></span>
    <% end %>
    <span class="pull-left" style="margin-left:10px;">
      <% unless @campaign.end_date.nil? %>
        <% if @campaign.end_date > Time.now %>
          <span class="badge badge-info"><%= time_ago_in_words(@campaign.end_date) + ' left' %></span>
        <% else %>
          <span class="badge badge-important">Campaign Ended</span>
        <% end %>
      <% end %>
    </span>

    <div class="clear"></div>

    <span class="span2 date_time_year">
      <%= f.label :date_year, 'Year', :class=>'' %>
      <%#= f.file_field :date_year, :class=>'' %>
      <%= select_tag "date_year", "<option value='2012'>2012</option><option value='2013'>2013</option>".html_safe, :class => 'span2' %>
    </span>

    <span class="span1 date_time_month">
      <%= f.label :date_month, 'Month', :class=>'' %>
      <%= select_tag :date_month, "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option>".html_safe, :include_blank => true, :class => 'span1' %>
    </span>

    <span class="span1 date_time_day">
      <%= f.label :date_day, 'Day', :class=>'' %>
      <%= select_tag "date_day", "<option value='1'>01</option><option value='2'>02</option><option value='3'>03</option><option value='4'>04</option><option value='5'>05</option><option value='6'>06</option><option value='7'>07</option><option value='8'>08</option><option value='9'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option>".html_safe, :include_blank => true, :class => 'span1' %>
    </span>

    <span class="span1 date_time_hour">
      <%= f.label :date_hour, 'Hour', :class=>'' %>
      <%= select_tag "date_hour", "<option value='00'>00</option><option value='01'>01</option><option value='02'>02</option><option value='03'>03</option><option value='04'>04</option><option value='05'>05</option><option value='06'>06</option><option value='07'>07</option><option value='08'>08</option><option value='09'>09</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option>".html_safe, :include_blank => true, :class => 'span1' %>
    </span>

    <span class="span1 date_time_min">
      <%= f.label :date_minute, 'Minutes', :class=>'' %>
      <%= select_tag "date_minute", "<option value='00'>00</option><option value='30'>30</option>".html_safe, :include_blank => true, :class => 'span1' %>
    </span>

    <div id="day_year_value" class="date_times"><%= @campaign.end_date.to_formatted_s(:year) unless @campaign.end_date.nil? %></div>
    <div id="day_month_value" class="date_times"><%= @campaign.end_date.to_formatted_s(:month) unless @campaign.end_date.nil? %></div>
    <div id="day_day_value" class="date_times"><%= @campaign.end_date.to_formatted_s(:day) unless @campaign.end_date.nil? %></div>
    <div id="day_hour_value" class="date_times"><%= @campaign.end_date.to_formatted_s(:hour) unless @campaign.end_date.nil? %></div>
    <div id="day_min_value" class="date_times"><%= @campaign.end_date.to_formatted_s(:min) unless @campaign.end_date.nil? %></div>


    <div class="clear"></div><br>
    <p>
      <%= f.label :points_required, :class=>'' %>
      <%= f.text_field :points_required, :class=>'span1' %>
    </p>
    <p>
      <%= f.label :limit, :class=>'' %>
      <%= f.text_field :limit, :class=>'span1' %>
    </p>
    <p>
      <%= f.label :tweet, :class=>'' %>
      <%= f.text_area :tweet, :class=>'span6', :rows => '3' %>
    </p>
    <p>
      Location
      <%#= f.select :location, options_from_collection_for_select(@location_all, "id", "city"), :prompt => "- Select New Location -" %>
      <% current_location_id = @campaign.location.id unless @campaign.location.nil? %>
      <%= f.select :location, options_from_collection_for_select(@location_all, "id", "city", current_location_id), :prompt => "- Select New Location -" %>
    </p>
    <p>
      <%= f.label :share_link, :class=>'' %>
      <%= f.text_field :share_link, :class=>'span6' %>
    </p>
    <p>
      <%= f.label :redeem_details, :class=>'' %>
      <%= f.text_area :redeem_details, :class=>'span6', :rows => '7' %>
    </p>

    <%#= select_tag "brands", options_from_collection_for_select(@brand_all, "id", "name"), :prompt => "- Select Brand -" %>
    <%#= select_tag "categories", options_from_collection_for_select(@category_all, "id", "name"), :prompt => "- Select Category -" %>
    <%= hidden_field_tag(:last_updated, Time.now, :name=>'campaign[last_updated]') %>
    <%= hidden_field_tag(:link, @campaign.link, :name=>'campaign[link]') %>
    <%= hidden_field_tag(:campaign_id, @campaign.id, :name=>'campaign[id]') %>
    <%#= hidden_field_tag(:campaign_link, @campaign.link, :name=>'campaign[link]') %>

    <%= f.submit 'Update Campaign', :class=>"btn btn-info" %>

    <% end %>

</div> <!-- .container -->
<br><br><br><br><br><br>

<script type="text/javascript">
  var year = $('#day_year_value').html();
  var month = $('#day_month_value').html();
  var day = $('#day_day_value').html();
  var hour = $('#day_hour_value').html();
  var min = $('#day_min_value').html();

  //alert($('.date_time_month').find('select').find('option:contains('+blah+')').text());
  $('.date_time_year').find('select').find('option:contains('+year+')').attr('selected', 'selected');
  $('.date_time_month').find('select').find('option:contains('+month+')').attr('selected', 'selected');
  $('.date_time_day').find('select').find('option:contains('+day+')').attr('selected', 'selected');
  $('.date_time_hour').find('select').find('option:contains('+hour+')').attr('selected', 'selected');
  $('.date_time_min').find('select').find('option:contains('+min+')').attr('selected', 'selected');
</script>