<%= render 'shared/new_header' %>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>


<div class="container" style="margin-top:105px;background:rgba(255,255,255,0.6);">

	<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-info">
		  <button class="close" data-dismiss="alert">×</button>
		  <%= flash[:notice] %>
		</div> <!-- .alert -->
	<% end %>


    <div class="row">
        <div class="span3">
            
            <div class="well unit-bg">
                <ul class="nav nav-list">
                <% if current_user %>
                    <li><a href="/dashboard"><i class="icon-asterisk"></i>&nbsp;Earn Rewards</a></li>
                    <li><a href="/<%= current_user.nickname %>"><i class="icon-headphones"></i>&nbsp;Your Rewards</a></li>
<!--                     <li><a href="#"><i class="icon-briefcase"></i>&nbsp;Redeem</a></li>
                    <li><a href="#"><i class="icon-tag"></i>&nbsp;Past Rewards</a></li> -->
                    <li class="divider"></li>
                <% end %>
                    <li><a href="/support/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                </ul>
            </div>

<!--             <div class="well unit-bg">
                <p>
                    <i class="icon-envelope"></i>&nbsp;Invite Friends</p>
                <div class="input-append">
                    <input class="span2" id="inputEmail" type="text" placeholder="Enter your email">
                    <button class="btn" type="button">
                        OK</button>
                </div>
            </div> -->

        </div>

        <div class="span9">
            <div class="row unit-block">
                <div class="span9 unit-bg">
                    <div class="unit">
                        <legend>
                        	<%= @campaign.title %>
                        </legend>
            
            			<div class="campaign_image_wrap">
						<%= image_tag(@campaign.campaign_image_url().to_s, :class=>"campaign_image") %>
						</div>
                        
                        <div class="row page-content">
                            <div class="span6">
                            	<br>


                    <% if current_user %>
<!--                         <a href="#" class="btn btn-primary">Share to Facebook</a>
                        <a href="#" class="btn btn-info">Share to Twitter</a>
                        <div class="clear"></div><br>
                        <% @share = Share.where(:campaign_id => @campaign.id, :user_id => current_user.id).first %>
                        <b>Share Link:</b>
                                    <input id="share_link_copy" class="input-large span4" type="text" value="<%#= root_url + 's/' + @share.link %>"> -->
                                <p><%= @campaign.detail %></p>



                    

                        <% if current_user.campaigns.where(:_id => @campaign.id).first %>
							<div id="fb-root"></div>

								<div id="campaign-share">
									<%= javascript_include_tag "http://platform.twitter.com/widgets.js" %>
									<div class="sharing-wrap">
										<div class="sharing-campaign campaign-twitter-share">
											<div id="twitter-button">
										   		<a href="http://twitter.com/share" class="twitter-share-button"
										      		data-text="<%= @campaign.tweet.html_safe unless @campaign.tweet.nil? %> <%= root_url + 's/' + @share.link %>"
										      		data-count="none"
                                                    data-url=""
													data-size="">Tweet</a>
											</div>
										</div>
                                        <div class="sharing-campaign campaign-pinterest-share">
                                            <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Flocalhost%3A3000%2F&media=http%3A%2F%2Flocalhost%3A3000%2Fimage%2F&description=This_is_the_description" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                                        </div>
										<div class="sharing-campaign campaign-facebook-share">
											<div class="fb-like" data-href="<%= root_url + 's/' + @share.link %>" data-send="true" data-width="375" data-show-faces="false" data-action=""></div>
										</div>
                                        
									</div>
									<div class="clear"></div>
									Share Link:
									<input id="share_link_copy" class="input-large span4" type="text" value="<%= root_url + 's/' + @share.link %>">
									<div class="clear"></div>
								</div>
						<% end %>

                    <% end %>
								<br>

<!--                                 <h4>Location</h4>
                                <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+Washington&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14">
                                </iframe>
                                <br>
                                <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA,+United+States&amp;aq=0&amp;oq=twitter+san+fra&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Twitter+Bldg,+Market+St,+Seattle,+WA+94103&amp;ll=37.776606,-122.416728&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14"
                                    target="_blank">View Larger Map</a><br /> -->
                                <br>


                                <div class="well">
                                    <h4>How to Redeem</h4>
                                    <p><%= @campaign.redeem_details %></p>
                                </div> <!-- .well -->



                            </div>
                            <div class="span3">
                                <br>
                                <div class="well text-center">
                                    <ul class="unstyled">
                                        <li><span class="text-highlight-large"><%= @campaign.points_required %></span> pts</li>
                                        <li>&nbsp;</li>

<% left = @campaign.limit - @campaign.redeems.size %>
<% if current_user %>
			<% if current_user.campaigns.where(:_id => @campaign.id).first %>

				<p>Your Points: <b style="font-size:17px;"><%= @share.unique_page_views %></b></p>

                <% unless left == 0 %>
                	<p><span class="label label-success">Activated!</span></p>
                <% end %>

				<% if left == 0 || @campaign.end_date < Time.now %>
					<div class="alert alert-info">
						This campaign has finished.
					</div> <!-- .alert -->
				<% end %>

				<% unless @share.unique_page_views.nil? %>
					<% if @share.unique_page_views >= @campaign.points_required %>
						<p><a href="#" class="btn btn-large btn-success redeem_button">Redeem</a></p>
						<% @redeem = @campaign.redeems.where(:user_id => current_user.id).first %>
						<h5 class="redeem_code alert alert-success"><%= @redeem.redeem_code unless @redeem.redeem_code.nil? %></h5>
					<% end %>
				<% end %>
				

			<% elsif %>

				<% if left == 0 || @campaign.end_date < Time.now %>
					<div class="alert alert-info">
						This campaign has finished.
					</div> <!-- .alert -->
				<% elsif %>
					
					<li>
	                    <%= link_to "Join", { :controller=>'campaign', :action=>'activate_campaign', :_c => @campaign.id }, :class=>"btn btn-large btn-info" %>

	                </li>
				<% end %>
			<% end %>
		<% end %>
                                        
                                        <li>&nbsp;</li>
                                        <li>
                                            <table class="table">
                                                <tr class="firstrow">
                                                    <td>
                                                        Available
                                                    </td>
                                                    <td>
                                                        
                                                        <% if left == 0 || @campaign.end_date < Time.now %>
                                                            0
                                                        <% else %>
                                                            <%= @campaign.limit - @campaign.redeems.size %>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Remaining
                                                    </td>
                                                    <td>
                                                        <% if left == 0 || @campaign.end_date < Time.now %>
                                                            0
                                                        <% else %>
                                                            <%= time_ago_in_words(@campaign.end_date) + ' left' unless @campaign.end_date.nil? %>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Brand
                                                    </td>
                                                    <td>
                                                        <%= @campaign.brand.name %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Category
                                                    </td>
                                                    <td>
                                                        <% @campaign.categories.each do |c| %>
															<span class="label label-info"><%= c.name %></span>
														<% end %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Location
                                                    </td>
                                                    <td>
                                                        <%= @campaign.location.city + ' ,' + @campaign.location.state %>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>


                                <div class="well">
                                    <h4>About <%= @campaign.brand.name %></h4>
									<p><a href="<%= @campaign.brand.website %>" target="_blank">Website</a></p>
									<p><a href="<%= @campaign.brand.facebook %>" target="_blank">Facebook</a></p>
									<p><a href="<%= @campaign.brand.twitter %>" target="_blank">Twitter</a></p>
									<p><a href="<%= @campaign.brand.pinterest %>" target="_blank">Pinterest</a></p>
                                    <p><%= @campaign.brand.bio %></li>
                                </div> <!-- .well -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    <ul class="thumbnails">
                        <% @campaigns_else.each do |c| %>
                          <li class="span3">
                            <div class="thumbnail unit-bg">
                                  <a href="/campaign/<%= c.link %>">
                                      <%= image_tag(c.campaign_image_url(:standard).to_s, :width=>"100%") %>
                                  </a>
                                  <div class="caption">
                                      <h4>
                                          <%= c.title %></h4>
                                      <p>
                                          <%= truncate(c.detail, :length => 160, :omission => '... (continued)') %></p>
                                      <p>
                                          <span class="help-block"><small><i class="icon-tag"></i>&nbsp;<%= c.limit - c.redeems.size %> Available&nbsp;&nbsp;<i
                                              class="icon-time"> </i>&nbsp;

                                              <% unless c.end_date.nil? %>
                                                    <% if c.end_date > Time.now %>
                                                        <%= time_ago_in_words(c.end_date) + ' left' %>
                                                    <% else %>
                                                        Campaign ended
                                                    <% end %>
                                                <% end %>

                                            </small></span>
                                      </p>
                                      <p class="campaign_details">
                                          <span class="view-deal"><a href="/campaign/<%= c.link %>" class="btn btn-success">View&nbsp;<i
                                              class="icon-chevron-right icon-white"></i></a></span><span class="help-inline text-highlight-small pts_req">
                                                  <%= c.points_required %></span>
                                                  pts
                                      </p>
                                  </div>
                              </div>
                          </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            


            <%#= render "shared/footer" %>

        </div>
    </div>
</div>


    <script>        
    !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=524356277579122";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>


    <!-- backstretch -->
    <!--<script src="/js/jquery.backstretch.min.js"></script>
    <script>
      $.backstretch("/assets/bg.jpg");
    </script>-->
