<%= render 'shared/header' %>
<% unless current_user %>
    <div class="span8" id="promo-campaign-wrap">
        <div class="promo-campaign-bg">
            <div class="span4" style="min-width:60%;padding-left:5px;">
                <h4 style="padding:0;line-height:5px;font-size:16px;">Get rewarded to share cool stories</h4>
                <h5 style="padding:0;font-weight:400;color:rgba(0,0,0,0.7);">Share this brand’s story, gain points, & earn the gift</h5>
            </div>
            <div class="span2" style="float:right;margin-right:25px;">
                <a data-toggle="modal" href="#login" class="btn btn-success pull-right">Login</a>
                <a href="<%= root_url %>signup" class="btn btn-info pull-right" style="margin-right:7px;">Join</a>
            </div>
        </div> <!-- .promo-campaign-bg -->
    </div>
<% end %>
<link href="/css/social-buttons.css" rel="stylesheet">
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

<% if current_user %>
<% else %>
    <div style="height:70px;"></div>
<% end %>

<div class="container" style="margin-top:15px;">

	<% unless flash[:notice].nil? %>
		<div class="alert alert-info fade in">
		  <button class="close" data-dismiss="alert">×</button>
		  <%= flash[:notice].html_safe %>
		</div> <!-- .alert -->
	<% end %>

    <% unless flash[:error].nil? %>
        <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= flash[:error].html_safe %>
        </div> <!-- .alert -->
    <% end %>



    <section class="row" id="project" style="margin-top:5px;">

        <h1 class="span12">
            <%= @campaign.title %>
        </h1>
        <!-- portfolio item-->
        <div class="span8 project">

            <div class="thumbnail zoom">
                <!-- image -->

                <%= image_tag(@campaign.campaign_image_url().to_s, :class=>"campaign_image") %>

                <!-- ribbon -->
                <% if current_user %>
                    <% @redeem = @campaign.redeems.where(:user_id => current_user.id).first %>
                    <% campaign_new_ribbon = Time.now - 1.week %>
                    <% if @redeem != nil %>
                        <div class="ribbon"><span>Awarded</span></div>
                    <% elsif @campaign.date > campaign_new_ribbon %>
                        <div class="ribbon"><span style="background:#51A351;">New</span></div>
                    <% else %>
                    <% end %>
                <% else %>
                    <% campaign_new_ribbon = Time.now - 1.week %>
                    <% if @campaign.date > campaign_new_ribbon %>
                        <div class="ribbon"><span style="background:#51A351;">New</span></div>
                    <% end %>
                <% end %>

            </div>



                    <% if current_user %>
<!--                         <a href="#" class="btn btn-primary">Share to Facebook</a>
                        <a href="#" class="btn btn-info">Share to Twitter</a>
                        <div class="clear"></div><br>
                        <% @share = Share.where(:campaign_id => @campaign.id, :user_id => current_user.id).first %>
                        <b>Share Link:</b>
                                    <input id="share_link_copy" class="input-large span4" type="text" value="<%#= root_url + 's/' + @share.link %>"> -->

                    

                        <% if current_user.campaigns.where(:_id => @campaign.id).first %>
                            <div style="margin-top:2%; margin-bottom:-2%;"><%= image_tag "/assets/learn-more-icon2.png", size: "100x100", alt: "seattle-rewards", title: "Share the story to earn pts", style: "padding-right:5%;", class: "img-circle" %> <span style="font-size: 24px; font-weight: bold; border: 1px solid #666; padding-left: 1%; padding-right: 1%; padding-bottom: 0.75%; border-radius: 8px;background:#fff url(/assets/campaign_tasks_background.png);margin-left:1.5%;" class="campaign_index_descriptions">Share the story to earn points</span></div>
                            <div id="fb-root"></div>

                                <div id="campaign-share">
                                    <%= javascript_include_tag "http://platform.twitter.com/widgets.js" %>
                                    <div class="sharing-wrap">
                                        <div class="pull-left tumblr-div">
                                            <a href="/campaign/<%= @campaign.link %>/tumblr_auth" class="btn btn-mini" title="post-to-tumblr"><i class="icon-pencil"></i> Tumblr</a>
                                        </div>
                                        <div class="sharing-campaign campaign-twitter-share">
                                            <div id="twitter-button">
                                                <a href="http://twitter.com/share" class="twitter-share-button"
                                                    data-text="<%= @campaign.tweet.html_safe unless @campaign.tweet.nil? %> <%= root_url + 's/' + @share.link %>"
                                                    data-count="none"
                                                    data-url=""
                                                    data-size="">Tweet</a>
                                            </div>
                                        </div>
                                        <div class="sharing-campaign campaign-pinterest-share">
                                            <a href="http://pinterest.com/pin/create/button/?url=<%= root_url + 's/' + @share.link %>&media=<%= @campaign.campaign_image_url() %>&description=<%= @campaign.title %>" class="pin-it-button" target="_blank" count-layout="none" data-campaign="<%= @campaign.link %>"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                                        </div>
                                        <div class="sharing-campaign campaign-facebook-share">
                                            <div class="fb-like" data-href="<%= root_url + 's/' + @share.link %>" data-send="true" data-width="375" data-show-faces="false" data-action=""></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    Share Link:
                                    <input id="share_link_copy" class="input-large span4" type="text" value="<%= root_url + 's/' + @share.link %>">
                                    <a href="#facebookModal" class="btn btn-primary btn-large" data-toggle="modal" style="margin-bottom:8px;" id="btnSubmitFbPost"><i class="icon-circle-arrow-up icon-white"></i> Post to Facebook</a>
                                    <div class="clear"></div>
                                </div><br>
                                <div class="divisor divisor_services"><!-- /divisor above tasks -->
                                    <div class="circle_left"></div>
                                    <div class="circle_right"></div>
                                </div>
                                <% if @campaign.has_tasks? %>
                                <div style="margin-top: -5%; margin-bottom: 3%;"><%= image_tag "/assets/campaign_index_be_buddee.png", size: "100x100", alt: "seattle-rewards", title: "Share the story to earn pts", style: "padding-right:5%;", class: "img-circle" %> <span style="font-size: 24px; font-weight: bold; border: 1px solid #666; padding-left: 1%; padding-right: 1%; padding-bottom: 0.75%; border-radius: 8px;background:#fff url(/assets/campaign_tasks_background.png);">Or complete the following tasks</span></div>
                                <% counter = 0 %>
                                <% unless @campaign.task_blog_post["use_it"].nil? || @campaign.task_blog_post["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion1" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                                <%= @campaign.task_blog_post["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_blog_post["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse1" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_blog_post["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_blog %>
                                                    <label for="completedBlogTasksAddress" style="font-size: 1em; margin-top: 2%; margin-bottom: 0;">Your Blog's Address</label>
                                                    <input type="text" value="<%= @campaign.campaigns_and_users_task(current_user).blog_post_url %>" style="height:1em;" class="input-medium disabled" id="completedBlogTasksAddress" disabled="disabled" />
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_blog_task" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <%= form_tag "/campaign/#{@campaign.link}/complete_blog_task" do %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <button type="button" class="btn btn-small btn-primary" id="btnDoItTaskBlog">Do It</button>
                                                        <%= submit_tag "Done", :disabled => "disabled", :class => "btn btn-small btn-danger disabled", :id => "btnDoneTaskBlog" %>
                                                    </div>
                                                    <%= text_field_tag "txtBlogAddress", nil, :placeholder => "Blog Post Web Address", :class => "input-medium", :style => "height:1em;margin-top:2%;margin-left:34%;", :disabled => "disabled" %>
                                                    <% end %>                                                
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% unless @campaign.task_facebook["use_it"].nil? || @campaign.task_facebook["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion2" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
                                                <%= @campaign.task_facebook["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_facebook["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse2" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_facebook["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_facebook %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_facebook_task" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_facebook["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskFacebook">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_facebook_task" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskFacebook">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_twitter["use_it"].nil? || @campaign.task_twitter["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion3" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
                                                <%= @campaign.task_twitter["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_twitter["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse3" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_twitter["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_twitter %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_twitter_task" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_twitter["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskTwitter">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_twitter_task" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskTwitter">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_custom_1["use_it"].nil? || @campaign.task_custom_1["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion4" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
                                                <%= @campaign.task_custom_1["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_custom_1["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse4" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_custom_1["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_custom[0] %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_custom_task?custom_num=1" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_custom_1["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskCustom1">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_custom_task?custom_num=1" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskCustom1">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_custom_2["use_it"].nil? || @campaign.task_custom_2["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion5" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5">
                                                <%= @campaign.task_custom_2["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_custom_2["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse5" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_custom_2["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_custom[1] %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_custom_task?custom_num=2" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_custom_2["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskCustom2">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_custom_task?custom_num=2" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskCustom2">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_custom_3["use_it"].nil? || @campaign.task_custom_3["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion6" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6">
                                                <%= @campaign.task_custom_3["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_custom_3["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse6" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_custom_3["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_custom[2] %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_custom_task?custom_num=3" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_custom_3["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskCustom3">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_custom_task?custom_num=3" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskCustom3">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_custom_4["use_it"].nil? || @campaign.task_custom_4["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion7" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7">
                                                <%= @campaign.task_custom_4["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_custom_4["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse7" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_custom_4["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_custom[3] %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_custom_task?custom_num=4" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_custom_4["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskCustom4">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_custom_task?custom_num=4" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskCustom4">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if counter % 2 == 0 %><div class="clearfix"></div><% end %>
                                <% unless @campaign.task_custom_5["use_it"].nil? || @campaign.task_custom_5["use_it"].blank? %>
                                <% counter = counter + 1 %>
                                <div class="accordion span4" id="accordion8" style="margin-left:0;">
                                    <div class="accordion-group">
                                        <div class="accordion-heading alt-accordion">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse8">
                                                <%= @campaign.task_custom_5["title"] %><span class="pull-right" style="margin-right:5%;"><%= pluralize(@campaign.task_custom_5["points"], 'pt', 'pts') %></span>
                                            </a>
                                        </div>
                                        <div id="collapse8" class="accordion-body collapse">
                                            <div class="accordion-inner alt-accordion">
                                                <%= @campaign.task_custom_5["description"] %><br />
                                                <% if @campaign.campaigns_and_users_task(current_user).completed_custom[4] %>
                                                <% if Redeem.where(user_id: current_user.id, campaign_id: @campaign.id).first.nil? %>
                                                    <a href="/campaign/<%= @campaign.link %>/undo_custom_task?custom_num=5" class="btn btn-small btn-success" style="margin-left:55%;margin-top:2%;">Start Over</a>
                                                <% end %>
                                                <% else %>
                                                    <div class="btn-group" style="margin-left:45%;padding-top:2%;">
                                                        <a href="<%= @campaign.task_custom_5["link"] %>" target="_blank" class="btn btn-small btn-primary" id="btnDoItTaskCustom5">Do It</a>
                                                        <a href="/campaign/<%= @campaign.link %>/complete_custom_task?custom_num=5" class="btn btn-small btn-danger disabled" disabled="disabled" id="btnDoneTaskCustom5">Done</a>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <div class="clearfix"></div>
                                <!-- /has_tasks? -->
                                <div class="divisor divisor_services"><!-- /divisor above gift details -->
                                    <div class="circle_left"></div>
                                    <div class="circle_right"></div>
                                </div>
                                <% end %>

                                <!-- Facebook Modal -->
                                <div id="facebookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-header">
                                    <button class="close" data-dismiss="modal">×</button>
                                    <h3>Post to Facebook</h3>
                                  </div>
                                  <div class="modal-body">
                                    <%= form_tag url_for(:controller => 'campaign', :action => 'facebook_wall_post'), :id => "", :class => "form-horizontal" do %>

                                        <%= text_area_tag :personal_message, @campaign.title, :class => "input-large facebook_wall_post", :placeholder=>"your personal message...", :rows => 3 %>
                                        <%= hidden_field_tag(:name, @campaign.title) %>
                                        <%= hidden_field_tag(:caption, @campaign.reward) %>
                                        <%= hidden_field_tag(:description, @campaign.detail) %>
                                        <%= hidden_field_tag(:campaign_link, @campaign.link) %>
                                        <% if Rails.env.development? %>
                                            <%= hidden_field_tag(:link, 'http://brandbuddee.com/s/B6JcpS5E7A1') %>
                                            <%= hidden_field_tag(:picture, 'http://brandbuddee.com/assets/bb-logo.png') %>
                                        <% elsif Rails.env.production? %>
                                            <% unless @share.link.nil? %>
                                            <%= hidden_field_tag(:link, root_url + 's/' + @share.link) %>
                                            <% end %>
                                            <%= hidden_field_tag(:picture, @campaign.campaign_image_url(:standard).to_s) %>
                                        <% end %>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                        <%= submit_tag 'Post', :class=>"btn btn-primary" %>
                                    <% end %>
                                  </div>
                                </div>

                            <div style="margin-top: -5%; margin-bottom: 3%;"><%= image_tag "/assets/campaign_index_everyone_win.png", size: "100x100", alt: "seattle-rewards", title: "Share the story to earn pts", style: "padding-right:5%;", class: "img-circle" %> <span style="font-size: 24px; font-weight: bold; border: 1px solid #666; padding-left: 1%; padding-right: 1%; padding-bottom: 0.75%; border-radius: 8px;background:#fff url(/assets/campaign_tasks_background.png);margin-left:9%;">And score these gifts</span></div>
                        <% end %>

                    <% end %>
                    
                    <% unless @campaign.gift_image.nil? || @campaign.gift_image.blank? %>
                    <ul class="pull-right" id="gift_gallery" style="margin-top:2%;">
                        <li>
                            <a href="<%= @campaign.gift_image_url(:standard).to_s %>" data-options="thumbnail: '<%= @campaign.gift_image_url(:thumb).to_s %>'">
                                <i class="icon-camera-retro gift-photo" style="border: 5px outset #0088CC; padding-top: 12px; padding-bottom: 0; padding-left: 5px; background:#fff url(/assets/campaign_tasks_background.png); padding-right: 5px;"></i>
                            </a>
                        </li><% unless @campaign.gift_image_two.nil? || @campaign.gift_image_two.blank? %>
                        <li class="hide">
                            <a href="<%= @campaign.gift_image_two_url(:standard).to_s %>" data-options="thumbnail: '<%= @campaign.gift_image_two_url(:thumb).to_s %>'"></a>
                        </li><% end %><% unless @campaign.gift_image_three.nil? || @campaign.gift_image_three.blank? %>
                        <li class="hide">
                            <a href="<%= @campaign.gift_image_three_url(:standard).to_s %>" data-options="thumbnail: '<%= @campaign.gift_image_three_url(:thumb).to_s %>'"></a>
                        </li><% end %>
                    </ul>
                    <% end %>
                    <blockquote class="campaign_reward_box"><h3>What do I get? (<%= pluralize(@campaign.points_required, 'pt', 'pts') %>)</h3><p><%= @campaign.reward unless @campaign.reward.nil? %></p><% unless @campaign.easy_prize.nil? || @campaign.easy_prize.empty? %><h3>Or get this just for sharing! (3 pts)</h3><p><%= @campaign.easy_prize %></p><% end %></blockquote><br>



<!--                                 <h4>Location</h4>
                                <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+Washington&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14">
                                </iframe>
                                <br>
                                <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Seattle,+WA,+United+States&amp;aq=0&amp;oq=twitter+san+fra&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Twitter+Bldg,+Market+St,+Seattle,+WA+94103&amp;ll=37.776606,-122.416728&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14"
                                    target="_blank">View Larger Map</a><br /> -->
                    <div class="entry-content">
                        <h4>Share this story -- your way!</h4>
                        <p><%= @campaign.detail %></p>
                    </div>

                    <div class="redeem_details">
                        <a href="#redeemDetailsModal" role="button" class="btn btn-large btn-primary pull-right" style="margin-top: -3%;" data-toggle="modal">How To Redeem</a>
                        
                        <br><br><br>
                    </div> <!-- .well -->

                    

        </div>









        <div class="span4 project-description" style="padding-top:0;">

                                <div class="well">
                                    <ul class="unstyled">
                                        <li><span class="text-highlight-large"><b><%= @campaign.points_required %></b></span> pts</li>
                                        <li>&nbsp;</li>

<% left = @campaign.limit - @campaign.redeems.size %>
<% if current_user %>
            <% if current_user.campaigns.where(:_id => @campaign.id).first %>
                <% @task = @campaign.tasks.where(user_id: current_user.id).first %>
                <% unless @task.nil? %>
                    <% @pts_tasks_completed = @task.completed_points %>
                    <% @pts_engagement_1 = @task.task_1_uniques.to_i * @campaign.engagement_task_left_points.to_i %>
                    <% @pts_engagement_2 = @task.task_2_uniques.to_i * @campaign.engagement_task_right_points.to_i %>
                <% else %>
                    <% @pts_tasks_completed = 0 %>
                    <% @pts_engagement_1 = 0 %>
                    <% @pts_engagement_2 = 0 %>
                <% end %>
                <% @official_pts = @share.unique_page_views + @share.trackings.size + @pts_tasks_completed + @pts_engagement_1 + @pts_engagement_2 %>
                <p>Your Points: <b style="font-size:17px;"><%= @official_pts %></b></p>

                <% unless left == 0 %>
                    <p><span class="label label-success activated_label">Activated!</span></p>
                <% end %>

                <% if left == 0 || @campaign.end_date < Time.now %>
                    <div class="alert alert-info">
                        This campaign has finished.
                    </div> <!-- .alert -->
                <% end %>

                <% unless @share.unique_page_views.nil? %>
                    <% if @official_pts >= @campaign.points_required %>
                        <% @redeem = @campaign.redeems.where(:user_id => current_user.id).first %>
                        <% if @redeem != nil %>
                            <p><a href="#" class="btn btn-large btn-success redeem_button">Redeem</a></p>
                            
                            <h5 class="redeem_code alert alert-success"><%= @redeem.redeem_code unless @redeem.redeem_code.nil? %></h5>

                             <script>
                                $('.activated_label').hide();
                            </script>
                        <% else %>
                            <div class="alert alert-danger">
                                Oops, you were so close! Better luck next time! In the meantime, want more campaigns? Let your favorite brands know about <b>brandbuddee</b>!
                            </div> <!-- .alert -->
                        <% end %>
                    <% end %>
                <% end %>
                

            <% elsif %>

                <% if left == 0 || @campaign.end_date < Time.now %>
                    <div class="alert alert-info">
                        This campaign has finished.
                    </div> <!-- .alert -->
                <% elsif %>
                    
                    <li>
                        <%= link_to "Join", { :controller=>'campaign', :action=>'activate_campaign', :_c => @campaign.id }, :class=>"btn btn-large btn-info" %>

                    </li>
                <% end %>
            <% end %>
        <% end %>
                                        
                                        <li>&nbsp;</li>
                                        <li>
                                            <table class="table">
                                                <tr class="firstrow">
                                                    <td>
                                                        Available
                                                    </td>
                                                    <td>
                                                        
                                                        <% if left == 0 || @campaign.end_date < Time.now %>
                                                            0
                                                        <% else %>
                                                            <%= @campaign.limit - @campaign.redeems.size %>
                                                        <% end %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Remaining
                                                    </td>
                                                    <td>
                                                        <% if left == 0 || @campaign.end_date < Time.now %>
                                                            0
                                                        <% else %>
                                                            <%= time_ago_in_words(@campaign.end_date) + ' left' unless @campaign.end_date.nil? %>
                                                        <% end %>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Location
                                                    </td>
                                                    <td>
                                                        <% if @campaign.location.nil? %><% @campaign.location = Location.where(city: "Seattle").first %><% @campaign.save %><% end %><%= @campaign.location.city + ', ' + @campaign.location.state %>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Category
                                                    </td>
                                                    <td>
                                                        <a href="<%= root_url %>home#<% @campaign.categories.each do |c| %><%= c.name %><% end %>">#<% @campaign.categories.each do |c| %><%= c.name %><% end %></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                </div>

                                <div class="well brand_overview">
                            
                                <h4>Brand</h4>
                                <p>
                                     <% if (@campaign.brand.name.first=="/" || @campaign.brand.name.first(7)=="http://" || @campaign.brand.name.first(8)=="https://") && (@campaign.brand.name.last(4)==".png" || @campaign.brand.name.last(4)==".jpg" || @campaign.brand.name.last(5)==".jpeg" || @campaign.brand.name.last(4)==".gif") %>
                                        <img src="<%= @campaign.brand.name %>" alt="seattle-rewards" style="margin-top:-12%;" />
                                     <% else %>
                                        <%= @campaign.brand.name %>
                                     <% end %>
                                </p>

                                <h4>Brand overview</h4>
                                <p>
                                    <%= @campaign.brand.bio %>
                                </p>

                                <h4>Website</h4>
                                <p>
                                     <% unless @campaign.brand.website.blank? || @campaign.brand.website.nil? %>
                                        <p><a href="<%= @campaign.brand.website %>" target="_blank" class=""><%= @campaign.brand.website %></a></p>
                                    <% end %>
                                </p>

                                <h4>Social</h4>
                                <p>
                                     <% unless @campaign.brand.facebook.blank? || @campaign.brand.facebook.nil? %>
                                        <a href="<%= @campaign.brand.facebook %>" target="_blank" class="sb circle facebook mytooltip" data-original-title="Facebook">Facebook</a>
                                    <% end %>
                                    <% unless @campaign.brand.twitter.blank? || @campaign.brand.twitter.nil? %>
                                        <a href="<%= @campaign.brand.twitter %>" target="_blank" class="sb circle twitter mytooltip" data-original-title="Twitter">Twitter</a>
                                    <% end %>
                                    <% unless @campaign.brand.pinterest.blank? || @campaign.brand.pinterest.nil? %>
                                        <a href="<%= @campaign.brand.pinterest %>" target="_blank" class="sb circle pinterest mytooltip" data-original-title="Pinterest">Pinterest</a>
                                    <% end %>
                                    <% unless @campaign.brand.gplus.blank? || @campaign.brand.pinterest.nil? %>
                                        <a href="<%= @campaign.brand.gplus %>" target="_blank" class="sb circle gplus mytooltip" data-original-title="Google Plus">Google Plus</a>
                                    <% end %>
                                </p>




<!--                                 <h4>Technology</h4>
                                <ul class="list-style">
                                    <li class="icon-ok">HTML / CSS / MySQL</li>
                                    <li class="icon-ok">Design</li>
                                    <li class="icon-ok">Php</li>
                                </ul> -->

                            </div> <!-- .well -->

                        


            

        </div>
        <!-- end portfolio item-->

    </section>

    <section class="row" id="related-projects">

        <h3 class="span12">
            <hr />
            Similar Campaigns
        </h3>

        <div class="span12">
            <ul class="thumbnails">
                <% @campaigns_else.each do |c| %>
                  <li class="span3">
                    <div class="thumbnail unit-bg" style="height:342px;">
                          <a href="/campaign/<%= c.link %>">
                              <%= image_tag(c.campaign_image_url(:standard).to_s, :width=>"100%") %>
                          </a>
                          <div class="caption">
                              <h4 class="campaign_profile_title_wrap">
                                  <%= truncate(c.title, :length => 37, :omission => '...') %>
                              </h4>
                              <p class="campaign_profile_reward_wrap bb-blue" style="font-weight:bold;line-height:120%"><i class="icon-gift" style="font-size:1.2em;color:#555555;position:relative;top:3%;"></i>
                                  <%= truncate(c.reward, :length => 54, :omission => '...') %></p>
                              <p class="pull-right" style="margin:0;">
                                  <span class="help-block"><small><i class="icon-tag"></i>&nbsp;<%= c.limit - c.redeems.size %> Available&nbsp;&nbsp;<i
                                      class="icon-time"> </i>&nbsp;

                                      <% unless c.end_date.nil? %>
                                            <% if c.end_date > Time.now %>
                                                <%= time_ago_in_words(c.end_date) + ' left' %>
                                            <% else %>
                                                Campaign ended
                                            <% end %>
                                        <% end %>

                                    </small></span>
                              </p>
                              <div class="clear"></div>

                              <span class="campaign_details" style="margin:0;">
                                <span class="pts_req_wrap">
                                    <span class="help-inline text-highlight-small pts_req">
                                        <%= c.points_required %>
                                    </span>
                                    <span class="pts_req_text">pts</span>
                                </span> <!-- .pts_req_wrap -->
                                <span class="view-deal">
                                    <a href="/campaign/<%= c.link %>" class="btn btn-success">View&nbsp;<i class="icon-chevron-right icon-white"></i></a>
                                </span> <!-- .view-deal -->
                              </span> <!-- .campaign_details -->
                          </div>
                      </div>
                  </li>
                <% end %>
            </ul>
        </div> <!-- .span12 -->

<!--         <article class="span2 project" rel="tooltip" title="Some other project">
            <div class="thumbnail">
                <a href="project-other.html" title="">
                    <img src="assets/11.gif" alt="" />
                </a>
            </div>
        </article> -->

 


    </section>  


    <div class="row">

<!--         <div class="span3">
            
            <div class="well unit-bg">
                <ul class="nav nav-list">
                <% if current_user %>
                    <li><a href="/dashboard"><i class="icon-asterisk"></i>&nbsp;Earn Rewards</a></li>
                    <li><a href="/<%= current_user.nickname %>"><i class="icon-headphones"></i>&nbsp;Your Rewards</a></li>
                    <li><a href="#"><i class="icon-briefcase"></i>&nbsp;Redeem</a></li>
                    <li><a href="#"><i class="icon-tag"></i>&nbsp;Past Rewards</a></li>
                    <li class="divider"></li>
                <% end %>
                    <li><a href="/support/help"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                </ul>
            </div>

            <div class="well unit-bg">
                <p>
                    <i class="icon-envelope"></i>&nbsp;Invite Friends</p>
                <div class="input-append">
                    <input class="span2" id="inputEmail" type="text" placeholder="Enter your email">
                    <button class="btn" type="button">
                        OK</button>
                </div>
            </div>

        </div> -->

        
    </div>

</div>

<%= render "shared/footer" %>
<div id="redeemDetailsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How To Redeem</h3>
  </div>
  <div class="modal-body">
    <p><%= @campaign.redeem_details %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>



    <script>        
    !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=524356277579122";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        window.onload = function()
        {
            if(window.jQuery)
            {
                $(document).ready(function(){
                    $('.mytooltip').tooltip({'placement':'top', 'trigger' : 'hover'});
                });
            }
        }
    </script>
    <script type="text/javascript">
        var campaign_link = "<%= @campaign.link %>";
        eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('e.t(2(e){e.x.w(\'h\',2(8){$.c({9:\'b\',i:\'/f/\'+0+\'/v\',1:{o:\'p\'},m:2(1){j(1==\'k\'){3.4("5 #"+0+": d l")}n{3.4("5 #"+0+": 6 7 d")}},s:2(1){3.4("5 #"+0+": 6 7 d")}})})});$(u).t(2(){$("a.D-C-B").h(2(8){$.c({9:\'b\',i:\'/f/\'+0+\'/y\',1:{o:\'p\',q:0},m:2(1){j(1==\'k\'){3.4("5 #"+0+": g l")}n{3.4("5 #"+0+": 6 7 g")}},s:2(){3.4("5 #"+0+": 6 7 g")}})});$("#A").h(2(8){$.c({9:\'b\',i:\'/f/\'+0+\'/z\',1:{o:\'p\',q:0},m:2(1){j(1==\'k\'){3.4("5 #"+0+": r l")}n{3.4("5 #"+0+": 6 7 r")}}})})});',40,40,'campaign_link|data|function|console|log|Campaign|Error|updating|event|type||POST|ajax|twitter_clicks|twttr|campaign|pinterest_clicks|click|url|if|SUCCESS|UPDATED|success|else|addClick|true|campaignLink|facebook_clicks|error|ready|document|track_twitter_click|bind|events|track_pinterest_click|track_facebook_click|btnSubmitFbPost|button|it|pin'.split('|'),0,{}))
    </script>
    <script type="text/javascript" src="/js/ilightbox.js"></script>
    <script type="text/javascript">
        var thewidth = $(window).width();
        var thumbwidth = 767 < thewidth ? !0 : !1;
        $("ul#gift_gallery li a").iLightBox({
            skin: "smooth",
            path: "horizontal",
            maxScale: 1.3,
            overlay: {
                opacity: 0.9
            },
            controls: {
                thumbnail: thumbwidth
            },
            styles: {
                nextOffsetX: 75,
                nextOpacity: 0.55,
                prevOffsetX: 75,
                prevOpacity: 0.55
            },
            thumbnails: {
                normalOpacity: 0.3,
                activeOpacity: 1
            },
            effects: {
                switchSpeed: 700
            }
        });
    </script>

    <!-- backstretch -->
    <!--<script src="/js/jquery.backstretch.min.js"></script>
    <script>
      $.backstretch("/assets/bg.jpg");
    </script>-->
