<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_url %>"><div class="logo_header"></div></a>
			
			<% if current_user %>
<!--           <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.email %>
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li style="padding-top:7px;"><a href="/profile"><i class="icon-user"></i> Profile</a></li>
				  <li><a href="/settings"><i class="icon-cog"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="/signout"><i class="icon-off"></i> Sign Out</a></li>
            </ul>
          </div> -->
			 <div class="btn-group pull-right">
			 	<a rel="external" href="<%= root_url + 'campaign/' + @share.campaign.link.to_s %>" class="login btn btn-info share_campaign_join_button"><i class="icon-gift icon-white"></i> View</a>
			 </div>
			<% else %>
			 <div class="btn-group pull-right">
			 	<a rel="external" href="<%= root_url + 'campaign/' + @share.campaign.link.to_s %>" class="login btn btn-info share_campaign_join_button"><i class="icon-gift icon-white"></i> Join</a>
			 	<a href="#"></a>
			 </div>
			<% end %>
			 <div class="nav-collapse">
            <ul class="nav">
					<li><a href="<%= root_url + @share.user.nickname unless @share.user.nickname.blank? %>">Shared by <b><%= @share.user.first_name + ' ' + @share.user.last_name unless @share.user.first_name.blank? || @share.user.last_name.blank? %></b></a></li>
<!-- 					<li><a href="/profile">Profile</a></li> -->
					<!-- <li><a href="/favorites">Favorites</a></li> -->
              <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
   	</div>
</div>



<iframe src="<%= @share_link %>" class="share_iframe"></iframe>
<script>
	//$(".share_load").load("http://www.eberri.com"); 
</script>
<div class="share_load"></div>



