<%= render 'shared/header' %>
<div class="container">
	<% flash.each do |name, msg| %>
		<div class="row" style="margin-top:5%;">
			<div class="span8 offset2">
				<div class="alert alert-<%= name %> fade in">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					<%= msg %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row" style="margin-top:5%;margin-bottom:8%;">
		<div class="span12">
			<div class="well well-large" style="overflow:hidden;">
				<div class="page-header" style="margin-top:0;">
  					<h2 style="text-align:center;"><i class="icon-edit"></i> Compose Blog</h2>
				</div>
				<h4 class="pull-right" style="padding-bottom:2%;">By default, we've added a link to your share page:<br>"<%= "#{root_url}s/#{@share.link}" %>"<br>You may change the text, but please do not remove it.<br>Blogs must be at least 200 characters in length.<br>Make sure you add the Campaign Image.<br><a href="#" class="btn btn-info" id="btnCopyToClipboard" data-clipboard-text="<%= @campaign.campaign_image_url(:standard).to_s %>">Copy Image Link to Clipboard</a></h4>
				<%= form_tag("/campaign/#{@campaign.link}/tumblr_post") do %>
					<%= label_tag 'title', 'Blog Title', class: 'control-label' %>
					<%= text_field_tag 'title', params[:title_text].nil? ? nil : params[:title_text], placeholder: 'Title of Blog. Just text, no HTML.' %>
					<%= label_tag 'content', 'Blog Content', class: 'control-label', style: "margin-top:5%;" %><br>
					<%= text_area_tag 'content', params[:content_text].nil? ? "<div>Check out this campaign: #{@campaign.title}.</div>\r\n<br>\r\n<div>It's on <a href=\"#{root_url}s/#{@share.link}\" target=\"_blank\">brandbuddee.com</a>!</div><div id='shitfuck'></div><img src='#{@campaign.campaign_image_url(:standard).to_s}' alt='brandbuddee-seattle-rewards' title='#{@campaign.title}' />" : params[:content_text], placeholder: 'Content of Blog. HTML is OK!', class: 'wysihtml5', style: "width:69.5%;height:150px;" %>
					<%= hidden_field_tag 'link', @link %>
					<br>
					<%= submit_tag 'Post to Tumblr', class: 'btn btn-success btn-large', style: 'font-weight:bold;' %>
				<% end %>
				<%= link_to("/campaign/#{@campaign.link}/tumblr_blogs", class: "btn btn-info pull-right", style: "font-weight:700;") do %>
					<i class="icon-chevron-left"></i> Back to Blog Selection
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render "shared/footer" %>
<script type="text/javascript">
    $('.wysihtml5').wysihtml5({
    	"html": true
    });
</script>
<script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>
<script type="text/javascript">
	ZeroClipboard.setDefaults( { moviePath: '/js/ZeroClipboard.swf' } );
	var clip = new ZeroClipboard($("#btnCopyToClipboard"));			
</script>