<%= render 'shared/header' %>

<div class="container main_container" style="padding-left:0;margin-top:20px;">

	<%#= image_tag('startupclub_logo.png', :class=>"welcome_logo", :alt=>"start club", :size=>"500x33") %>
	<% if flash[:notice].nil? %><% else %>
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert">×</button>
			<%= flash[:notice] %>
		</div> <!-- .alert -->
	<% end %>

	<% if current_user %>
	<div class="row">

		<% @static = 'username_settings' %>
        <%= render 'shared/static_settings_navi' %>

		<div class="span9">
		<div class="well form-horizontal" style="">
				<h2 style="font-weight:500;">Username Setting »</h2>
				<br>


				<%= form_for @user, :url => {:controller => 'profile', :action => 'profile_nickname_update'} do |f| %>
					<fieldset>
						<div class="control-group">
					        <div class="controls">
						<div class="input-prepend">
						<span class="add-on">brandbuddee.com/</span><%= f.text_field :nickname, :id=>'prependedInput', :class=>'span3' %>
						</div>
					</div> <!-- .controls -->
						</div> <!-- .control-group -->
					</fieldset>

					<fieldset>
						<div class="control-group">
					        <label class="control-label" for="prependedInput"></label>
					        <div class="controls">
					          <%= f.submit 'Update', :class=>"btn btn-success" %>
					        </div>
						</div>
					</fieldset>

				<% end %>

		</div> <!-- .form-horizontal -->
				<% end %>

		</div> <!-- .span9 -->
	</div> <!-- .row -->
</div><!--/.container-->

<%= render 'shared/footer' %>