<!DOCTYPE html>
<html <%= yield :embed_widget_index %>>
<head>
	<title>brandbuddee</title>
	<meta name="description" content="The number one social media loyalty rewards platform where fans earn points towards rewards sharing their favorite brands and completing fun tasks.">
	<meta name="author" content="brandbuddee.com ">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta property="fb:admins" content="100000141053621" /> 
	<meta property="og:title" content="brandbuddee" /> 
	<meta property="og:type" content="website" /> 
	<meta property="og:image" content="http://brandbuddee.com/assets/brandbuddee-logo-sm.png " /> 
	<meta property="og:url" content="http://brandbuddee.com/ " /> 
	<meta property="og:site_name" content="brandbuddee" /> 
	<meta property="og:description" content="The number one social media loyalty rewards platform where fans earn points towards rewards sharing their favorite brands and completing fun tasks." />
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "application", :media => "all" %>
	<link rel="stylesheet" type="text/css" href="/css/brands/embed_widget_overrides.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="icon" type="image/png" href="/assets/favicon.png">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-41362801-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<%= yield :website_js_auth %>
	<%= yield %>
	<%= yield :facebook_js_auth %>
	<%= javascript_include_tag "application" %>
	<script src="/js/brands/embed_widget_overrides.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		if($("#btnFacebookAuth").length) {
			$("#btnFacebookAuth").click(function() {
				testSomeCoolAuth();
			});
		} // End if
	});
	</script>
	<%= yield :social_share_tracking %>
</body>
</html>
